wheel
django
django-crispy-forms
crispy-bootstrap3
django-extensions
requests
dj_static
waitress
xlsxwriter
xlrd
openpyxl
pytz
tzlocal
fpdf2
-e git+https://github.com/esitarski/pyllrp.git#egg=pyllrp
markdown
