{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block onload %}
	$('.btn').click(function( event ) {
		var button = $(this);
		var backgroundColorCur = button.css( "background-color" );
		button.css( {"background-color": '#666666'} );
		setTimeout( function() { $('#loader-circle').removeClass('hidden'); }, 3000 );
	});
{% endblock onload %}

{% block content %}

<h2>{{page_title}}</h2>
<h1>{% trans "Are you sure?" %}</h1>

<p class="text-center">
&nbsp;<img id='loader-circle' class='hidden' src="{% static "images/loader_circle.gif" %}"</img>&nbsp;
</p>

<br/>&nbsp;
<br/>&nbsp;
</p>
<h3>{{message|safe}}<h3>
<p>
<br/>&nbsp;
<br/>&nbsp;
</p>
<h3>{% trans "Be Careful - there is no undo." %}</h3>
<hr/>

<a class='btn btn-success' href={% if cancel_target %}"{{cancel_target}}"{% else %}"."{% endif %}>{% trans "Cancel" %}</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a class='btn btn-warning' href="{{target}}">{% trans "OK" %}</a>
{% endblock content %}
