{% extends "base.html" %}
{% block content %}

{% load i18n %}
{% load staticfiles %}

<h2>{{page_title}}</h2>
<h1>{% trans "Are you sure?" %}</h1>

<p>
<br/>&nbsp;
<br/>&nbsp;
</p>
<h3>{{message|safe}}<h3>
<p>
<br/>&nbsp;
<br/>&nbsp;
</p>
<h3>{% trans "Be Careful - there is no undo." %}</h3>
<hr/>

<a class='btn btn-success' href={% if cancel_target %}"{{cancel_target}}"{% else %}"."{% endif %}>{% trans "Cancel" %}</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a class='btn btn-warning' href="{{target}}">{% trans "OK" %}</a>
{% endblock content %}
