{% load date_fmt %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>{% if page_title %}{{page_title}}{% else %}RaceDB by Edward Sitarski{% endif %}</title>
{% load static %}
{% include "meta.html" %}

<script type="text/javascript" src="{% static "js/jquery-2.2.4.min.js" %}"></script>

{% block srcjavascript %}
{% endblock srcjavascript %}

<link rel="icon" href="{% static "images/RaceDB_32x32.png" %}">
<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "bootstrap/css/datepicker.css" %}">
<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-datetimepicker.min.css" %}">

{% block linkstyles %}
{% endblock linkstyles %}

<style>
.row { margin: 8px 0px; }
h2, h3, h4, h5 { margin: 1px; }
@media print {
    .page-break-before {page-break-before: always;}
{% block printstyle %}
{% endblock printstyle %}
}
.table-no-border>thead>tr>th, 
.table-no-border>tbody>tr>th, 
.table-no-border>tfoot>tr>th, 
.table-no-border>thead>tr>td, 
.table-no-border>tbody>tr>td, 
.table-no-border>tfoot>tr>td {
  border-top: none; 
}

.flag {
    margin: 3px;
    padding: 0px;
    border: 1px solid #CCC;
}

.is-good::before {
	content: url({% static "images/glyphicons_206_ok_2_blue.png" %});
}
.is-bad::before {
	content: url({% static "images/glyphicons_207_remove_2_blue.png" %});
}
.is-err::before {
	content: url({% static "images/error.png" %});
	width:20px; height:20px; 
}
.is-warn::before {
	content: url({% static "images/warning.png" %});
	width:20px; height:20px; 
}
.is-finished::before {
	content: url({% static "images/finished-flag.png" %});
}
.is-finished-blue::before {
	content: url({% static "images/finished-flag-blue.png" %});
}
@media print {
	a[href]:after {
	content: none !important;
	}
}
{% block style %}
{% endblock style %}
</style>
<script type="text/javascript">
function setRowSorter( className, sId ) {
	$('#'+sId).rowSorter({
		
		// if new_index === old_index, this function won't be called.
		onDrop: function(tbody, row, new_index, old_index) {
			window.location = "./Resequence_" + className + "_Class/" + row.id + "/" + new_index + "/";
		},
		
		// if new_index === old_index, this function will be called.
		onDragEnd: function(tbody, row, current_index) {
			window.location = "./" + className + "Edit/" + row.id + "/";
		}
	});
}

function get_pop_url( href ) {
	var components = href.split( '/' );
	while( components.length > 0 && components[components.length-1] === "" )
		components.pop();		// Remove training slashes.
	while( components.length > 0 ) {
		if( !/^[0-9,]+$/.test(components[components.length-1]) ) {
			components.pop();	// Skip url function name.
			break;
		}
		components.pop();		// Skip parameter.
	}
	components.push( '' );		// Ensure there is a trailing slash.
	return components.join('/');
}

function skip_back_n( n ) {
	var href = window.location.href;
	for( var i = 0; i < n; ++i )
		href = get_pop_url( href );
	window.location.href = href;
}

function skip_back() { skip_back_n(1); }

function reformat( value, from_fmt, to_fmt ) {
	if( !value )			// Handle blank field case.
		return value;
	
	// Ugly, ugly hack to get data/time pickers to work in native format.
	// One day all browsers will understand how to edit a date/time (sigh...).
	
	// Collect the date/time values as specified in the from_fmt.
	var fields = ['mm', 'dd', 'ii', 'ss', 'A', 'a'];
	fields.push( from_fmt.indexOf('yyyy') >= 0 ? 'yyyy': 'yy' );
	fields.push( from_fmt.indexOf('HH') >= 0 ? 'HH' : 'hh' );
		
	var vals = {};
	for( var i = 0; i < fields.length; ++i ) {
		var f = fields[i], f_len = f.length;
		vals[f] = '0000'.slice(0, f.length);
		if( f.toLowerCase() == 'a' ) {
			f_len = 2; vals[f] = '';	// Correct for length of 2-char am/pm.
		}		
		var pos = from_fmt.indexOf(f);
		if( pos >= 0 ) {
			v = value.slice(pos, pos+f_len);
			if( v )
				vals[f] = v;
		}
	}
	
	// Normalize 2 and 4 digit year.
	if( fields.includes('yyyy') )
		vals['yy'] = vals['yyyy'].slice(2);
	else
		vals['yyyy'] = '20' + vals['yy'];
	
	// Normalize am/pm.
	if( vals['A'] )
		vals['a'] = vals['A'].toLowerCase();
	else if( vals['a'] )
		vals['A'] = vals['a'].toUpperCase();
		
	// Get 12 and 24 hour hours.
	if( fields.includes('hh') ) {		// 12 hour case.  Get 24 hour.
		var hours = parseInt( vals['hh'], 10 );
		if( vals['A'].slice(0,1) == 'P' && hours < 12 )
			hours += 12;
		vals['HH'] = (hours < 10 ? '0' : '') + hours;
	}
	else {								// 24 hour case.  Get 12 hour and AM/PM.
		var hours = parseInt( vals['HH'], 10 );
		vals['A'] = hours < 12 ? 'AM' : 'PM';
		vals['a'] = vals['A'].toLowerCase();
		if( hours > 12 )
			hours -= 12;
		vals['hh'] = (hours < 10 ? '0' : '') + hours;
	}
	
	// Ignore two digit date if we have a 4 digit one.
	if( to_fmt.indexOf('yyyy') >= 0 )
		vals['yy'] = '';
	
	// Replace the values in the to_fmt with what we collected/computed earlier.
	var ret = to_fmt;
	for( var f in vals ) {
		var v = vals[f];
		if( v ) {
			var pos = to_fmt.indexOf(f);
			ret = ret.slice(0, pos) + v + ret.slice(pos+v.length);
		}
	}
	
	//alert( [from_fmt, value, to_fmt, ret] );
	return ret;
}

{% block javascript %}
{% endblock javascript %}

function onLoad()
{
	// Transform the ISO time formats into local formats.
	$('.dateinput').each( function(index, element) {
		element.value = reformat( element.value, 'yyyy-mm-dd', "{% date_short_jquery %}" );
	});
	$('.datetimeinput').each( function(index, element) {
		element.value = reformat( element.value, 'yyyy-mm-dd HH:ii:ss', "{% date_hhmm_jquery %}" );
	});	

	// Initialize the date/time pickers using the local formats.
	$('.dateinput').datepicker({
		format: "{% date_short_jquery %}",
		autoclose: true,
		todayHighlight: true
	});
	$('.datetimeinput').datetimepicker({
		format: "{% date_hhmm_jquery %}",
	});
	
	// When the form is submitted, transform the local formats back into ISO.
	$('form').submit(function(){
		$('.dateinput').each( function(index, element) {
			element.value = reformat( element.value, "{% date_short_jquery %}", 'yyyy-mm-dd' );
		});
		$('.datetimeinput').each( function(index, element) {
			element.value = reformat( element.value, "{% date_hhmm_jquery %}", 'yyyy-mm-dd HH:ii:ss' );
		});	
	});
	
	// Set button background to black when pressed to give feedback.
	$('.btn').click(function() {
		var button = $(this);
		var backgroundColorCur = button.css( "background-color" );
		button.css( {"background-color": '#666666'} );
		setTimeout( function(){ button.css( {"background-color": backgroundColorCur} ); }, 5000 );
	});
	
	// Make click targets larger for touch devices.
	var is_touch_device = 'ontouchstart' in document.documentElement;
	if( is_touch_device ) {
		$('.btn').each(function() {
			$(this).css( {"font-size": '120%'} );
		});
	}
	
	// Check for keyboard focus exception.
	if( document.getElementById("focus") )
		document.getElementById("focus").focus();
	else {
		// Give the first visible form field the keyboard focus.
		$(document).ready(function() {
			$('form:first *:input[type!=hidden]:first').focus();
		});
	}
	
	// Highlight fields that are filled in.
	var in_use_color = '#dff0d8';
	var fs = $("form.search");
	fs.find(".select.form-control").each(function() {
		if( $(this).val() != $(this).find('option:first').val() && !$(this).prop('readonly') && !$(this).hasClass('no-highlight') )
			$(this).css( 'background-color', in_use_color );
	} );
	fs.find(".numberinput.form-control").each(function() {
		if( $(this).val() && !$(this).prop('readonly') && !$(this).hasClass('no-highlight') )
			$(this).css( 'background-color', in_use_color );
	} );
	fs.find(".dateinput.form-control").each(function() {
		if( $(this).val() && !$(this).prop('readonly') && !$(this).hasClass('no-highlight') )
			$(this).css( 'background-color', in_use_color );
	} );
	fs.find(".textinput.form-control").each(function() {
		if( $(this).val() && !$(this).prop('readonly') && !$(this).hasClass('no-highlight') )
			$(this).css( 'background-color', in_use_color );
	} );

{% block onload %}
{% endblock onload %}
}
function jump( link ) { window.location = link; }
</script>
</head>
<body onload="onLoad()">
{% if not exclude_breadcrumbs %}
{% include "breadcrumbs.html" %}
{% endif %}
<div class="container">
{% block content %}
{% endblock content %}
</div>
<br/>&nbsp;<br/>&nbsp;<br/>
<script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "bootstrap/js/bootstrap-datepicker.js" %}"></script>
<script type="text/javascript" src="{% static "bootstrap/js/bootstrap-datetimepicker.min.js" %}"></script>
</body>
</html>
