{% extends "base.html" %}
{% block content %}
{% load i18n %}
{% load crispy_forms_tags %}
<h2>{{title}}</h2>
<hr/>
<a class="btn btn-primary hidden-print" href="{{cancelUrl}}">{% trans "OK" %}</a>
<a class="btn btn-success hidden-print" href="{{path}}/CategoryNumbersNew/{{competition.id}}">{% trans "New Category Numbers" %}</a>
<hr/>
<table class="table table-striped table-hover table-condensed">
<thead>
	<tr>
		<th>{% trans "Categories" %}</th>
		<th>{% trans "Numbers" %}</th>
		<th class="hidden-print"></th>
	</tr>
</thead>
<tbody>
	{% for c in category_numbers_list %}
		<tr onclick="jump('./CategoryNumbersEdit/{{c.id}}');">
			<td>{{c.category_list}}</td>
			<td>{{c.range_str}}</td>
			<td class="hidden-print">
				<a class="btn btn-warning" href="./CategoryNumbersDelete/{{c.id}}">{% trans "Delete" %}</a>
				<a class="btn btn-primary" href="./CategoryNumbersEdit/{{c.id}}">{% trans "Edit" %}</a>
			</td>
		</tr>
	{% endfor %}
</tbody>
</table>
<hr/>
<h3>{% trans "Categories Without Numbers:" %}</h3>
{% with cwn=competition.get_categories_without_numbers %}
	{% if cwn %}
		{% for c in cwn %}
			{{c.full_name}}<br/>
		{% endfor %}
	{% else %}
		<strong>{% trans "None" %}</strong>
	{% endif %}
{% endwith %}
{% endblock content %}
