{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block srcjavascript %}
<script type="text/javascript" src="{% static "js/RowSorter.js" %}"></script>
{% endblock srcjavascript %}

{% block onload %}

function sequence_click( event ) {
	const response = window.prompt( "{% trans "New Position" %}:" );
	if( response == null )
		return;
	
	let sequence = parseInt( response.trim(), 10 );
	if( !isNaN(sequence) ) {
		const id = event.target.id.split("_").pop();
		sequence = Math.abs( sequence );
		window.location.href = "{{path}}" + `CategorySequence/${id}/${sequence}/`;
	}
	else {
		alert( "{% trans "Please enter a valid position." %}" )
	}
}

const prefix = 'id_sequence_';
document.querySelectorAll(`button[id^="${prefix}"]`).forEach( button => {
		button.addEventListener( 'click', sequence_click );
} );
{% endblock onload %}	

{% block content %}

<h2>{{title}}</h2>
<hr/>
{% crispy form %}
<hr class="hidden-print"/>
<h4>{% trans "Ensure that the Categories are sequenced by preferred order in the Category Format" %} </h4>
{% if instance.id and instance.category_set.exists %}
<table class="table table-striped table-hover">
<thead>
	<tr>
		<th></th>
		<th>{% trans "Code" %}</th>
		<th>{% trans "Gender" %}</th>
		<th>{% trans "Aliases" %}</th>
		<th>{% trans "Description" %}</th>
		{% if isEdit %}
		<th class="hidden-print"></th>
		{% endif %}
	</tr>
</thead>
<tbody>
	{% for c in instance.category_set.all %}
		<tr>
			<td class="text-right">{{forloop.counter}}.</td>
			<td>{{c.code}}</td>
			<td>{{c.get_gender_display}}</td>
			<td>{{c.aliases}}</td>
			<td>{{c.description}}</td>
			{% if isEdit %}
			<td class="hidden-print">
				<a class="btn btn-warning btn-sm" href="./CategoryDelete/{{c.id}}/">{% trans "Delete" %}</a>
				<a class="btn btn-success btn-sm" href="./CategoryEdit/{{c.id}}/">{% trans "Edit" %}</a>
				<button type="button" id="id_sequence_{{c.id}}" class="btn btn-primary btn-sm">{% trans "Sequence" %}</a>
			</td>
			{% endif %}
		</tr>
	{% endfor %}
</tbody>
</table>
{% endif %}

{% endblock content %}
