{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block srcjavascript %}
<script type="text/javascript" src="{% static "js/RowSorter.js" %}"></script>
{% endblock srcjavascript %}

{% block onload %}
{% if isEdit %}
setRowSorter('Category','sort_table_id');
{% endif %}
{% endblock onload %}

{% block content %}

<h2>{{title}}</h2>
<hr/>
{% crispy form %}
<hr class="hidden-print"/>
<p>{% trans "Drag and drop rows to change sequence." %}</p>
<h4>{% trans "Ensure that Categories are sequenced by Women, Men then Open, and then by Slowest to Fastest within each Gender" %} </h4>
{% if instance.category_set.exists %}
<table class="table table-striped table-hover" id="sort_table_id">
<thead>
	<tr>
		<th></th>
		<th>{% trans "Code (Gender)" %}</th>
		<th>{% trans "Description" %}</th>
		{% if isEdit %}
		<th class="hidden-print"></th>
		{% endif %}
	</tr>
</thead>
<tbody>
	{% for c in instance.category_set.all %}
		<tr id={{c.id}}>
			<td class="text-right">{{forloop.counter}}.</td>
			<td>{{c.code_gender}}</td>
			<td>{{c.description}}</td>
			{% if isEdit %}
			<td class="hidden-print">
				<a class="btn btn-warning" href="./CategoryDelete/{{c.id}}/">{% trans "Delete" %}</a>
				<a class="btn btn-success" href="./CategoryEdit/{{c.id}}/">{% trans "Edit" %}</a>
			</td>
			{% endif %}
		</tr>
	{% endfor %}
</tbody>
</table>
{% endif %}
{% endblock content %}
