{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

<h2>{{title}}</h2>
<hr/>
<form method="post" action=".">
	{% csrf_token %}
    {{ form_set.management_form }}
	<button type="submit" name="ok-submit" class="btn btn-success">{% trans "OK" %}</button>
	<button type="submit" name="cancel-submit" class="btn btn-warning">{% trans "Cancel" %}</button>
	<button type="submit" name="set-all-submit" class="btn btn-primary" style="margin-left:50px">{% trans "Set All" %}</button>
	<button type="submit" name="clear-all-submit" class="btn btn-primary">{% trans "Clear All" %}</button>
	<button type="submit" name="export-excel-submit" class="btn btn-primary" style="margin-left:50px">{% trans "Export to Excel" %}</button>
	<button type="submit" name="import-excel-submit" class="btn btn-primary">{% trans "Import from Excel" %}</button>

	<table class="table table-striped table-hover" style="width: auto;">
	<thead>
		<tr>
			<th></th>
			<th>{% trans "Category" %}</th>
			<th>{% trans "Description" %}</th>
			<th>{% trans "Check License" %}</th>
			<th>{% trans "Note" %}</th>
		</tr>
	</thead>
	<tbody>
	{% for form in form_set %}
		<tr>
		{% with category=form.instance.category %}
			<td class="text-right">{{forloop.counter}}.</td>
			<td>{{ category.code_gender }} {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}</td>
			<td>{{ category.description }}</td>
			{% for field in form.visible_fields %}
				<td class="text-center">{{ field.errors.as_ul }} {{ field }}</td>
			{% endfor %}
		{% endwith %}
		</tr>
	{% endfor %}
	</tbody>
	</table>
	{{ form_common.license_check_note.errors }}<br/>
	{{ form_common.license_check_note.label_tag }}<br/>
	{{ form_common.license_check_note }}<br/>
	{{ form_common.license_check_note.help_text }}
</form>
{% endblock content %}
