{% extends "base.html" %}

{% block javascript %}
	setTimeout(function(){ location.replace("{{cancelUrl}}"); }, 10*1000);
{% endblock javascript %}

{% block content %}

{% load i18n %}
{% load staticfiles %}

<h1>{{title}}</h1>

{% if participant %}
	<h2>{{participant.bib}}{% if participant.license_holder.full_name %}: {{participant.license_holder.full_name}}{% endif %}</h2>
{% endif %}

{% if stderr_info %}
<p>
<div class="alert alert-error">
<pre>
{{stderr_info}}

(STDERR)
</pre>
</div>
</p>
{% endif %}

{% if stdout_info %}
<p>
<div class="alert alert-error">
<pre>
{{stdout_info}}

(STDOUT)
</pre>
</div>
</p>
{% endif %}

<p>
<a class='btn btn-primary' href="{{cancelUrl}}">{% trans "OK" %}</a>
</p>
{% endblock content %}
