{% extends "base.html" %}
{% block content %}
{% load i18n %}
{% load crispy_forms_tags %}
<h2>{{title}}</h2>
<hr/>
{% crispy form %}
{% include "show_count.html" %}
{% if just_for_today %}
	<h3>{% trans "Competitions shown only for today, " %} {% now "l F jS, Y" %}</h3>
{% endif %}
{% spaceless %}
<table class="table table-striped table-hover table-condensed">
<thead>
	<tr>
		<th>{% trans "Name" %}</th>
		<th>{% trans "Organizer" %}</th>
		<th>{% trans "Start" %}</th>
		<th>{% trans "Finish" %}</th>
		<th>{% trans "Discipline" %}</th>
		<th>{% trans "Class" %}</th>
		<th class="hidden-print"></th>
	</tr>
</thead>
<tbody>
	{% for c in competitions %}
		<tr onclick="jump('{{path}}CompetitionDashboard/{{c.id}}');">
			<td>{{c.name}}</td>
			<td>{{c.organizer}}</td>
			<td>{{c.start_date}}</td>
			<td>{{c.finish_date}}</td>
			<td>{{c.discipline.name}}</td>
			<td>{{c.race_class.name}}</td>
			<td class="hidden-print">
				{% if request.user.is_superuser %}
					<a class="btn btn-warning" href="{{path}}CompetitionDelete/{{c.id}}">{% trans "Delete" %}</a>
					&nbsp;
					<a class="btn btn-primary" href="{{path}}CompetitionCopy/{{c.id}}">{% trans "Copy" %}</a>
					&nbsp;&nbsp;&nbsp;
				{% endif %}
				<a class="btn btn-success" href="{{path}}CompetitionDashboard/{{c.id}}">{% trans "Dashboard" %}</a>
			</td>
		</tr>
		{% if forloop.last %}<script>set_show_count( {{forloop.counter}} );</script>{% endif %}
	{% endfor %}
</tbody>
</table>
{% endspaceless %}
{% endblock content %}
