{% extends "base.html" %}
{% block content %}
{% load i18n %}
{% load good_err_icon %}
{% load crispy_forms_tags %}
<h2>{{title}}</h2>
<hr/>
{% if form %}
	{% crispy form %}
{% else %}
	<a class="btn btn-primary" href="{{cancelUrl}}">{% trans "OK" %}</a>
{% endif %}
{% include "show_count.html" %}
{% if just_for_today %}
	<h3>{% trans "Competitions shown only for today, " %} {% now "l F jS, Y" %}</h3>
{% endif %}
{% spaceless %}
<table class="table table-striped table-hover table-condensed">
<thead>
	<tr>
		<th>{% trans "Dates" %}</th>
		<th>{% trans "Discipline" %}</th>
		<th>{% trans "Name" %}</th>
		<th style="text-align:center">{% trans "#" %}</th>
		<th>{% trans "Organizer" %}</th>
		<th>{% trans "Class" %}</th>
		<th>{% trans "Results" %}</th>
		<th>{% trans "Labels" %}</th>
		<th class="hidden-print"></th>
	</tr>
</thead>
<tbody>
	{% for c in competitions %}
		<tr onclick="jump('{{path}}CompetitionDashboard/{{c.id}}/');">
			<td>{{c.date_range_str}}</td>
			<td>{{c.discipline.name}} {{c.event_types_text}}</td>
			<td>{{c.name}}</td>
			<td style="text-align:right">{{c.get_participants.count}}</td>
			<td>{{c.organizer}}</td>
			<td>{{c.race_class.name}}</td>
			<td class="text-center">{% if c.has_results %}{{c.has_results|good_err_icon}}{% endif %}</td>
			<td>{{c.report_labels_text}}</td>
			<td class="hidden-print">
				{% if request.user.is_superuser %}
					<a class="btn btn-warning btn-md" href="{{path}}CompetitionDelete/{{c.id}}/">{% trans "Delete" %}</a>
					&nbsp;
					<a class="btn btn-primary btn-md" href="{{path}}CompetitionCopy/{{c.id}}/">{% trans "Copy" %}</a>
					&nbsp;
					<a class="btn btn-primary btn-md" href="{{path}}CompetitionExport/{{c.id}}/">{% trans "Export" %}</a>
					&nbsp;&nbsp;
				{% endif %}
				<a class="btn btn-success btn-md" href="{{path}}CompetitionDashboard/{{c.id}}/">{% trans "Dashboard" %}</a>
			</td>
		</tr>
		{% if forloop.last %}<script>set_show_count( {{forloop.counter}} );</script>{% endif %}
	{% endfor %}
</tbody>
</table>
{% endspaceless %}
{% endblock content %}
