{% extends "base.html" %}

{% block content %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load get_field_name %}
{% load yes_no %}
{% load non_empty_list %}

<style>
#dashboard {
	font-size: 125%;
}
</style>

{% spaceless %}
<div class="panel panel-default" id="dashboard">
	<div class="panel-heading">
		<div class="panel-title">
			<h2><strong>{{competition.title}}</strong><strong class="hidden-print">:</strong>&nbsp;<span class="hidden-print">{% trans "Dashboard" %}</span></h2>
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-12">
				<strong>{{competition.name}}</strong>{% if competition.description %}, {{competition.description}}{% endif %}, {% trans "Category Format" %}
				{% if request.user.is_superuser %}
					<a class="btn btn-primary btn-xs" href="./CategoryFormatEdit/{{competition.category_format.id}}">{{competition.category_format.name}}</a>
				{% else %}
					{{competition.category_format.name}}
				{% endif %}{% if competition.report_labels_text %}, {{competition.report_labels_text}}{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">{% trans "by" %}: <strong>{{competition.organizer}}</strong></div>
			<div class="col-md-4">{{competition.organizer_email}}</div>
			<div class="col-md-4">{{competition.organizer_phone}}</div>
		</div>
		<div class="row">
			<div class="col-md-12">{% non_empty_list competition.city competition.stateProv competition.country %}</div>
		</div>
		<div class="row">
			<div class="col-md-12">{{competition.discipline}}, {{competition.race_class}}</div>
		</div>
		<div class="row hidden-print">
			<div class="col-md-4 hidden-print">
				<strong>{{competition.start_date}}</strong>
			</div>
			<div class="col-md-4 hidden-print">
				{{competition|get_field_name:"number_of_days"}}:&nbsp;<strong>{{competition.number_of_days}}</strong>
			</div>
			<div class="col-md-4 hidden-print">
				{{competition|get_field_name:"distance_unit"}}:&nbsp;<strong>{{competition.get_distance_unit_display}}</strong>
			</div>
		</div>
		<div class="row hidden-print">
			<div class="col-md-12 hidden-print">
				{% trans "Use RFID" %}:&nbsp;<strong>{{competition.using_tags|yes_no}}</strong>
				<span>&nbsp;&nbsp;</span>
				{{competition|get_field_name:"use_existing_tags"}}:&nbsp;<strong>{{competition.use_existing_tags|yes_no}}</strong>
				{% if competition.number_set %}
					<span>&nbsp;&nbsp;</span>
					{% if request.user.is_superuser %}
						{{competition|get_field_name:"number_set"}}:&nbsp;<a class="btn btn-primary btn-xs" href="./NumberSetEdit/{{competition.number_set.id}}">{{competition.number_set.name}}</a>
					{% else %}
						{{competition|get_field_name:"number_set"}}:&nbsp;<strong>{{competition.number_set.name}}</strong>
					{% endif %}
				{% endif %}
				{% if competition.seasons_pass %}
					<span>&nbsp;&nbsp;</span>
					{% if request.user.is_superuser %}
						{{competition|get_field_name:"seasons_pass"}}:&nbsp;<a class="btn btn-primary btn-xs" href="./SeasonsPassEdit/{{competition.seasons_pass.id}}">{{competition.seasons_pass.name}}</a>
					{% else %}
						{{competition|get_field_name:"seasons_pass"}}:&nbsp;<strong>{{competition.seasons_pass.name}}</strong>
					{% endif %}
				{% endif %}
				{% if competition.legal_entity %}
					<span>&nbsp;&nbsp;</span>
					{% if request.user.is_superuser %}
						{{competition|get_field_name:"legal_entity"}}:&nbsp;<a class="btn btn-primary btn-xs" href="./LegalEntityEdit/{{competition.legal_entity.id}}">{{competition.legal_entity.name}}</a>
					{% else %}
						{{competition|get_field_name:"legal_entity"}}:&nbsp;<strong>{{competition.legal_entity.name}}</strong>
					{% endif %}
				{% endif %}
			</div>
		</div>
		<div class="row hidden-print">
			<div class="col-md-12">
				<a class="btn btn-primary" href="{{cancelUrl}}">{% trans "OK" %}</a>
				{% if request.user.is_superuser %}
					&nbsp;
					<a class="btn btn-primary" href="./CompetitionEdit/{{competition.id}}/">{% trans "Edit" %}</a>
					&nbsp;
					<a class="btn btn-primary" href="./SetLicenseChecks/{{competition.id}}/">{% trans "Check Licenses" %}</a>
					&nbsp;
					<a class="btn btn-success" href="./UploadPrereg/{{competition.id}}/">{% trans "Upload Pre-reg" %}</a>
				{% endif %}
				{% if competition.has_results %}
				&nbsp;
				<a class="btn btn-primary hidden-print" target="_blank" href="/RaceDB/Hub/CompetitionResults/{{competition.id}}/">{% trans "Results Hub" %}</a>
				{% endif %}
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a class="btn btn-success" href="./Participants/{{competition.id}}/"><img src="{% static "images/glyphicons_043_group.png" %}"/>&nbsp;&nbsp;{% trans "Show Participants" %}</a>
				
				&nbsp;&nbsp;
				{% if competition.using_tags %}
					<a class="btn btn-success" href="./ParticipantRfidAdd/{{competition.id}}/"><img src="{% static "images/glyphicons_006_user_add.png" %}"/>&nbsp;&nbsp;{% trans "Add Participants" %}</a>
				{% else %}
					<a class="btn btn-success" href="./ParticipantManualAdd/{{competition.id}}/"><img src="{% static "images/glyphicons_006_user_add.png" %}"/>&nbsp;&nbsp;{% trans "Add Participants" %}</a>
				{% endif %}
				
				&nbsp;&nbsp;
				<a class="btn btn-success" href="./TeamsShow/{{competition.id}}/"><img src="{% static "images/glyphicons-284-t-shirt.png" %}"/>&nbsp;&nbsp;{% trans "Teams" %}</a>
				
				{% if request.user.is_superuser %}
					&nbsp;
					<a class="btn btn-primary hidden-print" href="./FinishLynx/{{competition.id}}/"><img src="{% static "images/glyphicons_181_download_alt.png" %}"/>&nbsp;&nbsp;{% trans "FinishLinx" %}</a>
					&nbsp;
					<a class="btn btn-primary" href="./CompetitionRegAnalytics/{{competition.id}}/">{% trans "Reg Analytics" %}</a>
				{% endif %}
				
				&nbsp;
				<button class="btn btn-primary hidden-print" onClick="window.print()"><img src="{% static "images/glyphicons_015_print.png" %}"/>&nbsp;&nbsp;{% trans "Competition Summary" %}</button>
				
				{% if system_info.print_tag_option != 0 and competition.any_print %}
					&nbsp;
					<a class="btn btn-primary" href="./CustomLabel/{{competition.id}}/"><img src="{% static "images/glyphicons_015_print.png" %}"/>&nbsp;&nbsp;{% trans "Custom Label" %}</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endspaceless %}
{% if request.user.is_superuser %}
{% with categories_without_numbers=competition.get_categories_without_numbers %}
	{% if categories_without_numbers %}
		<div class="hidden-print panel panel-danger">
			<div class="panel-heading"><span class="is-err" style="font-size:150%">&nbsp;{% trans "Category Numbers Error" %}!</span></div>
			<div class="panel-body">
				{% trans "The following Categories have no Assigned Number Range" %}:
				<ol>
					{% for c in categories_without_numbers %}
						<li>{{c.code_gender}}</li>
					{% endfor %}
				</ol>
				<a class="btn btn-primary btn-sm hidden-print" href="./CategoryNumbersNew/{{competition.id}}/">{% trans "Fix" %}</a>
			</div>
		</div>
	{% endif %}
{% endwith %}
{% endif %}

{% if not events_mass_start.exists %}<div class="hidden-print">{% endif %}
<h3>
	{% trans "Mass Start Events" %}:
	{% if request.user.is_superuser %}
		<a class="btn btn-primary hidden-print" href="./EventMassStartNew/{{competition.id}}/">{% trans "New" %}</a>
	{% endif %}
</h3>
{% spaceless %}
<table class="table table-condensed table-no-border table-hover">
<tbody>
	{% for e in events_mass_start %}
		<tr onclick="jump('./StartList/{{e.id}}/');">
			<td>
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3>{{e.name}}, <span style="font-size:75%">{{e.date_time|date:"Y-m-d H:i"}},
							{% trans "Nations" %}:&nbsp;{{e.get_num_nationalities}},
							<strong>{% trans "Starters" %}:&nbsp;{{e.get_participant_count}}</strong></span>
						</h3>
					</div>
					<div class="panel-body">
						<div class="row hidden-print">
							<div class="col-md-12">{% trans "Selection" %}:
								{% if e.optional %}
									{% trans "Optional" %}{% if e.select_by_default %}, {% trans "Select by Default" %}{% endif %}
								{% else %}
									{% trans "Included" %}
								{% endif %}
							</div>
						</div>
						{% if e.note %}
							<div class="row">
								<div class="col-md-1">{% trans "Note" %}:</div>
								<div class="col-md-11">{{e.note_html}}</div>
							</div>
						{% endif %}
						<div class="row">
							<div class="col-md-1">{% trans "Waves" %}:</div>
							<div class="col-md-11">{{e.wave_text_html|safe}}</div>
						</div>
						{% if e.get_custom_categories %}
							<div class="row">
								<div class="col-md-1">{% trans "Custom Categories" %}:</div>
								<div class="col-md-11">{{e.custom_category_text_html|safe}}</div>
							</div>
						{% endif %}
					</div>
				</div>
			</td>
			<td>
				{% if request.user.is_superuser %}
					<a class="btn btn-warning btn-sm hidden-print" href="./EventMassStartDelete/{{e.id}}/">{% trans "Delete" %}</a>&nbsp;
					<a class="btn btn-primary btn-sm hidden-print" href="./EventMassStartEdit/{{e.id}}/">{% trans "Edit" %}</a>
					<br/>&nbsp;<br/>
				{% endif %}
				<a class="btn btn-primary btn-sm hidden-print" href="./EventMassStartCrossMgr/{{e.id}}/">
					<img src="{% static "images/glyphicons_181_download_alt.png" %}">&nbsp;&nbsp;{% trans "CrossMgr" %}
				</a>
				<br/>&nbsp;<br/>
				<a class="btn btn-success btn-sm hidden-print" href="./StartList/{{e.id}}/">{% trans "Start List" %}</a>
				{% with series=e.get_series %}{% if series %}
				<br/>&nbsp;<br/>
				<a class="btn btn-primary btn-sm hidden-print" href="./Callups/{{e.id}}/{{e.event_type}}/{{series.id}}/">{% trans "Callups" %}</a>
				{% endif %}{% endwith %}
			</td>
		</tr>
	{% endfor %}
</tbody>
</table>
{% endspaceless %}
{% if not events_mass_start.exists %}</div>{% endif %}
{% if not events_tt.exists %}<div class="hidden-print">{% endif %}
<h3 class="page-break-before">
	{% trans "Time Trial Events" %}:
	{% if request.user.is_superuser %}
		<a class="btn btn-primary hidden-print" href="./EventTTNew/{{competition.id}}/">{% trans "New" %}</a>
	{% endif %}
</h3>
{% spaceless %}
<table class="table table-condensed table-no-border table-hover">
<tbody>
	{% for e in events_tt %}
		<tr onclick="jump('./StartListTT/{{e.id}}/');">
			<td>
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3>{{e.name}}, <span style="font-size: 80%">{% if e.has_unseeded %} <span class="label label-warning" style="font-size: 110%">{% trans "Warning: Unseeded Riders" %}</span>{% endif %} {{e.date_time|date:"Y-m-d H:i"}},
						{% trans "Nationalities" %}:&nbsp;{{e.get_num_nationalities}},
						<strong>{% trans "Starters" %}:&nbsp;{{e.get_participant_count}}</strong></span></h3>
					</div>
					<div class="panel-body">
						<div class="row hidden-print">
							<div class="col-md-1">{% trans "Selection" %}:</div>
							<div class="col-md-11">
								{% if e.optional %}
									{% trans "Optional" %}{% if e.select_by_default %}, {% trans "Select by Default" %}{% endif %}
								{% else %}
									{% trans "Included" %}
								{% endif %}
							</div>
						</div>
						{% if e.note %}
							<div class="row">
								<div class="col-md-1">{% trans "Note" %}:</div>
								<div class="col-md-11">{{e.note_html}}</div>
							</div>
						{% endif %}
						<div class="row">
							<div class="col-md-1">{% trans "Waves" %}:</div>
							<div class="col-md-11">{{e.wave_text_html|safe}}</div>
						</div>
						{% if e.get_custom_categories %}
							<div class="row">
								<div class="col-md-1">{% trans "Custom Categories" %}:</div>
								<div class="col-md-11">{{e.custom_category_text_html|safe}}</div>
							</div>
						{% endif %}
					</div>
				</div>
			</td>
			<td>
				{% if request.user.is_superuser %}
					<a class="btn btn-warning btn-sm hidden-print" href="./EventTTDelete/{{e.id}}/">{% trans "Delete" %}</a>
					<a class="btn btn-primary btn-sm hidden-print" href="./EventTTEdit/{{e.id}}/">{% trans "Edit" %}</a>
					<br/>&nbsp;<br/>
				{% endif %}
				<a class="btn btn-primary btn-sm hidden-print" href="./EventTTCrossMgr/{{e.id}}/">
					<img src="{% static "images/glyphicons_181_download_alt.png" %}">&nbsp;&nbsp;{% trans "CrossMgr" %}
				</a>
				<br/>&nbsp;<br/>
				<a class="btn btn-success btn-sm hidden-print" href="./StartListTT/{{e.id}}/">{% trans "Start List" %}</a>
			</td>
		</tr>
	{% endfor %}
</tbody>
</table>
{% endspaceless %}
{% if not events_tt.exists %}</div>{% endif %}

<h3 class="visible-print page-break-before">
	<strong>{{competition.name}}</strong>
</h3>
<h4 class="visible-print">
	{% if competition.description %}{{competition.description}}, {% endif %}
	{{competition.category_format.name}}
</h4>
<h4 class="visible-print">&nbsp;</h4>
<h3>
	{% trans "Category Numbers" %}:
	{% if request.user.is_superuser %}
		<a class="btn btn-primary hidden-print" href="./CategoryNumbersNew/{{competition.id}}/">{% trans "New" %}</a>
	{% endif %}
</h3>
{% if not category_numbers.exists %}
	<br/>
	<div class="alert alert-danger">
		<h3>{% trans "Missing Category Numbers" %}</h3>
		<br/>
		<h4>
			{% trans "You must define at least one Category Numbers." %}
			<a href="{% static "docs/Tutorial.html" %}"">{% trans "See Tutorial."%}</a>
		</h4>
	</div>
{% endif %}
{% spaceless %}
<table class="table table-striped table-hover table-condensed">
<thead>
	<tr>
		<th>{% trans "Categories" %}</th>
		<th>{% trans "Numbers" %}</th>
		<th class="text-right">{% trans "Total" %}</th>
		<th class="text-right">{% trans "In-Use" %}</th>
		{% if competition.number_set %}<th class="text-right">{% trans "Lost" %}</th>{% endif %}
		<th class="text-right">{% trans "On-Hand" %}</th>
		<th></th>
		<th></th>
	</tr>
</thead>
<tbody>
	{% for c in category_numbers %}
		<tr onclick="jump('./CategoryNumbersEdit/{{c.id}}/');">
			<td>{{c.category_list}}</td>
			<td>{{c.range_str}}</td>
			<td class="text-right">{{c.total_count}}</td>
			<td class="text-right">{{c.inuse_count}}</td>
			{% if competition.number_set %}<td class="text-right">{{c.lost_count}}</td>{% endif %}
			<td class="text-right">{{c.onhand_count}}</td>
			<td>
			{% if c.total_count == 0 %}<span class="is-err">&nbsp;{% trans "No Bibs (check Numbers, NumberSet)" %}</span>{% endif %}
			</td>
			<td>
				{% if request.user.is_superuser %}
					<a class="btn btn-warning hidden-print" href="./CategoryNumbersDelete/{{c.id}}/">{% trans "Delete" %}</a>&nbsp;
					<a class="btn btn-success hidden-print" href="./CategoryNumbersEdit/{{c.id}}/">{% trans "Edit" %}</a>
				{% endif %}
			</td>
		</tr>
	{% endfor %}
</tbody>
</table>
{% endspaceless %}
{% endblock content %}
