{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load date_fmt %}
{% load crispy_forms_tags %}

{% block srcjavascript %}
<script type="text/javascript" src="{% static "js/RowSorter.js" %}"></script>
{% endblock srcjavascript %}

{% block onload %}
{% if isEdit %}setRowSorter('CustomCategoryMassStart','id_custom_category');{% endif %}
{% endblock onload %}

{% block content %}

<h2 class="hidden-print">{{title}}</h2>
<h2><strong>{{instance.competition.name}}</strong>: {{instance.competition.date_range_year_str}}</h2>
<h2 class="visible-print"><strong>{{instance.name}}</strong>: {{instance.date_time|date_hhmm}}</h2>
<hr class="hidden-print"/>
{% crispy form %}
<hr/>
{% spaceless %}
{% if instance.id %}
{% with wave_set=instance.wave_set.all %}
	{% if wave_set.exists %}
		<h2 class="visible-print">{% trans "Waves" %}</h2>
		<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th></th>
				<th>{% trans "Wave" %}</th>
				<th>{% trans "Start Offset" %}</th>
				<th>{% trans "Categories" %}</th>
				<th>{% trans "Rank Together" %}</th>
				<th>{% trans "Nat." %}</th>
				<th>{% trans "Starters" %}</th>
				{% if isEdit %}
					<th class="hidden-print"></th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for w in wave_set %}
				<tr onclick="jump('./WaveEdit/{{w.id}}/');">
					<td class="text-right">{{forloop.counter}}.</td>
					<td>{{w.name}}</td>
					<td>{{w.start_offset}}</td>
					<td>{{w.category_text}}</td>
					<td>{{w.rank_categories_together}}</td>
					<td>{{w.get_num_nationalities}}</td>
					<td>{{w.get_starters_str}}</td>
					{% if isEdit %}
						<td class="hidden-print">
							<a class="btn btn-warning hidden-print" href="./WaveDelete/{{w.id}}/">Delete</a>&nbsp;
							<a class="btn btn-success hidden-print" href="./WaveEdit/{{w.id}}/">Edit</a>
						</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
		</table>
	{% endif %}
{% endwith %}
{% with custom_categories=instance.get_custom_categories event=instance eventType=instance.event_type %}
	{% if custom_categories %}
		<h2>{% trans "Custom Categories" %}</h2>
		<p>{% trans "Drag and drop rows to change sequence." %}</p>
		<table class="table table-striped table-hover" id="id_custom_category">
		<thead>
			<tr>
				<th></th>
				<th>{% trans "Name" %}</th>
				<th>{% trans "Criteria" %}</th>
				{% if isEdit %}
					<th class="hidden-print"></th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for cc in custom_categories %}
				<tr id={{cc.id}}>
					<td class="text-right">{{forloop.counter}}.</td>
					<td>{{cc.name}}</td>
					<td>
						{% if cc.in_category %}{% trans "InCat"%}="{{cc.in_category.code_gender}}"&nbsp;&nbsp;{% endif %}
						{% if cc.range_str %}{% trans "Bibs"%}="{{cc.range_str}}"&nbsp;&nbsp;{% endif %}
						{% if cc.nation_code_str %}{% trans "NationCodes"%}="{{cc.nation_code_str}}"&nbsp;&nbsp;{% endif %}
						{% if cc.state_prov_str %}{% trans "StateProv"%}="{{cc.state_prov_str}}"&nbsp;&nbsp;{% endif %}
						{% if cc.license_code_prefixes %}{% trans "LicenseCodePrefixes"%}="{{cc.license_code_prefixes}}"&nbsp;&nbsp;{% endif %}
						{% trans "Gender"%}="{{cc.get_gender_display}}"&nbsp;&nbsp;
						{% if cc.competitive_age_minimum %}{% trans "MinAge"%}="{{cc.competitive_age_minimum}}"{% endif %}
						{% if cc.competitive_age_maximum %}{% trans "MaxAge"%}="{{cc.competitive_age_maximum}}"{% endif %}
						{% if cc.date_of_birth_minimum %}{% trans "MinDOB"%}="{{cc.date_of_birth_minimum}}"{% endif %}
						{% if cc.date_of_birth_maximum %}{% trans "MaxDOB"%}="{{cc.date_of_birth_maximum}}"{% endif %}
					</td>
					{% if isEdit %}
						<td class="hidden-print">
							<a class="btn btn-warning hidden-print"
								href="./CustomCategoryDelete/{{event.id}}/{{eventType}}/{{cc.id}}/">{% trans "Delete" %}</a>&nbsp;
							<a class="btn btn-success hidden-print"
								href="./CustomCategoryEdit/{{event.id}}/{{eventType}}/{{cc.id}}/">{% trans "Edit" %}</a>
						</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
		</table>
	{% endif %}
{% endwith %}

<style>
.badge-bib {
	font-size: 140%;
	margin: 3px;
}
</style>
{% with duplicate_bibs=instance.get_duplicate_bibs %}
	{% if duplicate_bibs %}
		<hr/>
		<h2>{% trans "Duplicate Bib Numbers:" %}</h2>
		{% for bib in duplicate_bibs %}
			<span class="badge badge-bib">{{bib}}</span>
		{% endfor %}
	{% endif %}
{% endwith %}
{% with potential_duplicate_bibs=instance.get_potential_duplicate_bibs %}
	{% if potential_duplicate_bibs %}
		<h3>{% trans "Potential Duplicate Bib Numbers:" %}</h3>
		{% for categoriesLeft, categoriesRight, bibs in potential_duplicate_bibs %}
			<h3>{{categoriesLeft}} &hArr; {{categoriesRight}}</h3>
			{% for bib in bibs %}
				<span class="badge badge-bib">{{bib}}</span>
			{% endfor %}
			<br/>
		{% endfor %}
	{% endif %}
{% endwith %}
{% endif %}
{% endspaceless %}

{% endblock content %}
