{% extends "base.html" %}
{% block content %}
{% load i18n %}
{% load crispy_forms_tags %}
<h2>{{title}}</h2>
<h2>{% trans "Competition" %}: <strong>{{competition.name}}</strong></h2>
<hr/>
<a class="btn btn-primary" href="{{cancelUrl}}">{% trans "OK" %}</a>
<a class="btn btn-primary" href="./EventMassStartNew/{{competition.id}}">{% trans "New Mass Start Event" %}</a>
<table class="table table-striped table-hover">
<thead>
	<tr>
		<th>{% trans "Name" %}</th>
		<th>{% trans "Type" %}</th>
		<th>{% trans "Waves" %}</th>
		<th>{% trans "DateTime" %}</th>
		<th></th>
	</tr>
</thead>
<tbody>
	{% for e in competition.eventmassstart_set.all %}
		<tr onclick="jump('./EventMassStartEdit/{{e.id}}/');">
			<td>{{e.name}}</td>
			<td>{{e.get_event_type_display}}</td>
			<td>{{e.wave_text_html|safe}}</td>
			<td>{{e.date_time}}</td>
			<td>
				<a class="btn btn-warning" href="./EventMassStartDelete/{{e.id}}/">{% trans "Delete" %}</a>
				<a class="btn btn-primary" href="./EventMassStartEdit/{{e.id}}/">{% trans "Edit" %}</a>
			</td>
		</tr>
	{% endfor %}
</tbody>
</table>
{% endblock content %}
