{% extends "base.html" %}

{% block content %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

<h2 class="hidden-print">{{title}}</h2>
<h2><strong>{{instance.competition.name}}</strong>: {{instance.competition.date_range_str}}</h2>
<h2 class="visible-print"><strong>{{instance.name}}</strong>: {{instance.date_time}}</h2>
<hr class="hidden-print"/>
{% crispy form %}
<hr/>
{% spaceless %}
{% with wavett_set=instance.wavett_set.all %}
	{% if wavett_set %}
		<h2 class="visible-print">{% trans "Waves" %}</h2>
		<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th></th>
				<th>{% trans "Wave" %}</th>
				<th>{% trans "Categories" %}</th>
				<th>{% trans "Gap Rules" %}</th>
				<th>{% trans "Starters" %}</th>
				{% if isEdit %}
					<th class="hidden-print"></th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for w in wavett_set %}
				<tr onclick="jump('./WaveTTEdit/{{w.id}}/');">
					<td class="text-right">{{forloop.counter}}</td>
					<td>{{w.name}}</td>
					<td>{{w.category_text_html|safe}}</td>
					<td>{{w.gap_rules_html|safe}}</td>
					<td>{{w.get_participants|length}}</td>
					{% if isEdit %}
						<td class="hidden-print">

							<a class="btn btn-warning hidden-print" href="./WaveTTDelete/{{w.id}}/">Delete</a>&nbsp;
							<a class="btn btn-success hidden-print" href="./WaveTTEdit/{{w.id}}/">Edit</a>&nbsp;&nbsp;
							<div class="btn-group">
								{% if not forloop.first %}
									<a class="btn btn-primary" href="{{path}}WaveTTUp/{{w.id}}/">
										<image src='{% static "images/glyphicons_213_up_arrow.png" %}' >
									</a>
								{% endif %}
								{% if not forloop.last %}
									<a class="btn btn-primary" href="{{path}}WaveTTDown/{{w.id}}/">
										<image src='{% static "images/glyphicons_212_down_arrow.png" %}' >
								</a> {% endif %}
							</div>
						</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
		</table>
	{% endif %}
{% endwith %}
<style>
.badge-bib {
	font-size: 140%;
	margin: 3px;
}
</style>
{% with duplicate_bibs=instance.get_duplicate_bibs %}
	{% if duplicate_bibs %}
		<hr/>
		<h2>{% trans "Duplicate Bib Numbers:" %}</h2>
		{% for bib in duplicate_bibs %}
			<span class="badge badge-bib">{{bib}}</span>
		{% endfor %}
	{% endif %}
{% endwith %}
{% with potential_duplicate_bibs=instance.get_potential_duplicate_bibs %}
	{% if potential_duplicate_bibs %}
		<h3>{% trans "Potential Duplicate Bib Numbers:" %}</h3>
		{% for categoriesLeft, categoriesRight, bibs in potential_duplicate_bibs %}
			<h3>{{categoriesLeft}} &hArr; {{categoriesRight}}</h3>
			{% for bib in bibs %}
				<span class="badge badge-bib">{{bib}}</span>
			{% endfor %}
			<br/>
		{% endfor %}
	{% endif %}
{% endwith %}
{% endspaceless %}
{% endblock content %}
