{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block content %}

<h1>
	<img src="{% static "images/RaceDB_small.png" %}" alt="RaceDB"></img>
	{{competition.date_range_year_str}}: {{competition.name}}
</h2>

{% spaceless %}
<table class="table table-compressed table-no-border table-hover">
<tbody>
	{% for e in events %}
		<tr>
			<td>
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3>{{e.name}}, <span style="font-size:75%">{{e.date_time}}</span>
						</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-1">{% trans "Waves" %}:</div>
							<div class="col-md-11">
							<ol>
								{% for w in e.get_wave_set.all %}
									<strong>{{w.name}}{% if w.start_offset %}, +{{w.start_offset}}{% endif %}</strong>:
									<span style="font-size: 125%;">&nbsp;</span>
									{% for c in w.categories.all %}
										<a href="./Hub/CategoryResults/{{e.id}}/{{e.event_type}}/{{c.id}}" class="btn btn-primary btn-xs">{{c.code_gender}}</a>&nbsp;
									{% endfor %}
									<br/>
								{% endfor %}
							</ol>
							</div>
						</div>
					</div>
				</div>
			</td>
		</tr>
	{% endfor %}
</tbody>
</table>
{% endspaceless %}
{% if not events_mass_start.exists %}</div>{% endif %}
{% endblock content %}
