{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
{% include "hub_nav.html" %}
<h1>
	<strong>{{competition.name}}</strong><br/>
	<span style="font-size: 75%">
		{{competition.date_range_year_str}},
		{{competition.city}} {{competition.stateProv}}, {{competition.country}} ({{competition.discipline.name}})<br/>
		{% trans "by" %} {{competition.organizer}}
	</span>
</h1>
<p><br/><p>

<div class="row">
{% for cat_gender, category_results in gender_category_results %}
	<div class="col-md-{{col_gender}}">
		<h3>{{cat_gender.get_gender_display}}</h3>
		{% spaceless %}
		<table class="table table-condensed table-striped table-hover" style="width: auto;">
		<thead>
			<tr>
				<th>{% trans "Category" %}</th>
				{% for ed in event_days %}<th class="text-center">{{ed}}</th>{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for category, day_event_waves in category_results %}
				<tr>
					<td>{{category.code}}</td>
					{% for event_waves in day_event_waves %}
					<td>
						{% for e, w in event_waves %}
							<a href="/RaceDB/Hub/CategoryResults/{{e.id}}/{{e.event_type}}/{{category.id}}/"><strong>{{e.name}} {{e.get_type_abbrev}}</strong></a><br/>
						{% endfor %}
					</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
		</table>
		{% endspaceless %}
	</div>
{% endfor %}
</div>
{% endblock content %}
