{% load i18n %}
{% load static %}

<nav class="navbar navbar-default navbar-fixed-top hidden-print">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/RaceDB/Hub/SearchCompetitions/">
				<img alt="RaceDB" src="{% static "images/RaceDB_xsmall.png" %}">
			</a>
			<ul class="nav navbar-nav">
				<li><a href="/RaceDB/Hub/SearchCompetitions/">{% trans "Competitions" %}</a></li>
				<li><a href="/RaceDB/Hub/SearchLicenseHolders/">{% trans "Athletes" %}</a></li>
				<li><a href="/RaceDB/Hub/Series/">{% trans "Series" %}</a></li>
				<li><a href="{{path}}QRCode/"><img src="{% static "images/glyphicons_258_qrcode.png" %}" alt="QRCode"/></a></li>
			</ul>
		</div>
	</div>
</nav>
<p class="hidden-print"><br/><br/><br/></p>
