{% extends "base.html" %}
{% load i18n %}
{% load paginate_html %}
{% block content %}

{% include "hub_nav.html" %}
<h1>
	<strong>Series</strong>
</h1>
<p>&nbsp;</p>

{% if paginator %}
	{{series|paginate_html}}
{% endif %}

{% if not series_exists %}
	<h2>{% trans "No Series Available." %}</h2>
{% else %}
	{% spaceless %}
	<table class="table table-striped table-hover table-condensed">
	<thead>
		<tr>
			<th></th>
			<th>{% trans "Name" %}</th>
			<th>{% trans "Description" %}</th>
			<th>{% trans "Category Format" %}</th>
		</tr>
	</thead>
	<tbody>
		{% for s in series %}
			<tr>
				<td class="text-right">{{forloop.counter}}.</td>
				<td><a href='/RaceDB/Hub/SeriesCategories/{{s.id}}/'>{{s.name}}</a></td>
				<td>{{s.description}}</td>
				<td>{{s.category_format.name}}</td>
			</tr>
		{% endfor %}
	</tbody>
	</table>
	{% endspaceless %}
{% endif %}

{% if paginator %}
	{{series|paginate_html}}
{% endif %}

{% endblock content %}
