{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block content %}

<h1>
	<a href="/RaceDB/Hub/SearchCompetitions/"><img src="{% static "images/RaceDB_small.png" %}" alt="RaceDB"></img></a>
	{{competition.date_range_year_str}}: {{competition.name}}
</h1>
<div class="hidden-print">
<a class="btn btn-primary" href="{{pop2Url}}">{% trans "OK" %}</a>
</div>
<p/>

{% spaceless %}
<table class="table table-condensed table-striped table-hover" style="width: auto;">
<thead>
	<tr>
		<th>{% trans "Gender" %}</th>
		<th>{% trans "Category" %}</th>
		{% for ed in event_days %}<th>{{ed}}</th>{% endfor %}
	</tr>
</thead>
<tbody>
	{% for category, day_event_waves in category_results %}
		<tr>
			<td>{{category.get_gender_display}}</td>
			<td>{{category.code}}</td>
			{% for event_waves in day_event_waves %}
			<td>
				{% for e, w in event_waves %}
					<a href="./Hub/CategoryResults/{{e.id}}/{{e.event_type}}/{{category.id}}/">{{e.name}}</a><br/>
				{% endfor %}
			</td>
			{% endfor %}
		</tr>
	{% endfor %}
</tbody>
</table>
{% endspaceless %}
{% endblock content %}
