{% extends "base.html" %}
{% block content %}
{% load i18n %}
{% load crispy_forms_tags %}
<h2>{{title}}</h2>
<hr class="hidden-print"/>
{% crispy form %}
{% include "show_count.html" %}
{% spaceless %}
<table class="table table-striped table-hover table-condensed">
<thead>
	<tr>
		<th></th>
		<th>Name</th>
		<th>Contact</th>
		<th class="hidden-print"></th>
	</tr>
</thead>
<tbody>
	{% for le in legal_entities %}
		<tr onclick="jump('./LegalEntityEdit/{{le.id}}/');">
			<td class="text-right">{{forloop.counter}}.</td>
			<td>
				{% if le.website %}
					<a href="{{le.website}}" target="_blank">{{le.name}}</a>
				{% else %}
					{{le.name}}
				{% endif %}
			</td>
			<td>
				{{le.contact}}
				{% if le.email %}
					<br/><a href="mailto:{{le.email}}">{{le.email}}</a>
				{% endif %}
				{% if le.phone %}
					<br/>{{le.phone}}
				{% endif %}
			</td>
			<td class="hidden-print">
				<a class="btn btn-warning btn-sm" href="./LegalEntityDelete/{{le.id}}/">{% trans "Delete" %}</a>
				&nbsp;
				<a class="btn btn-success btn-sm" href="./LegalEntityEdit/{{le.id}}/">{% trans "Edit" %}</a>
			</td>
		</tr>
		{% if forloop.last %}<script>set_show_count( {{forloop.counter}} );</script>{% endif %}
	{% endfor %}
</tbody>
</table>
{% endspaceless %}
{% endblock content %}
