{% extends "base.html" %}

{% block onload %}
document.getElementById("submit-id-read-tag-submit").focus();

{% if autoSubmit and status %}
document.forms[0].submit();
{% endif %}

{% include "antenna_watermark.html" %}

{% endblock %}

{% block content %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
<h2>{{title}}
<a class="btn btn-info" href="{{cancelUrl}}LicenseHolderBarcodeScan/">
	<img src="{% static "images/glyphicons_259_barcode.png" %}"/>&nbsp;&nbsp;{% trans "Barcode Search" %}
</a>
</h2>
<hr/>
{% crispy form %}

{% if not status %}
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="row">
	<h3>{% trans "Status" %}: {% trans "Failure" %}</h3>
	<dl>
	{% for se in status_entries %}
		<dt>{{se.0}}</dt>
		{% for line in se.1 %}
			<dd>{{line|linebreaks}}</dd>
		{% endfor %}
		<br/>
	{% endfor %}
	</dl>
	<h4>{% trans "Fix the problem(s) and try again." %}</h4>
</div>
{% endif %}

{% endblock content %}
