{% extends "base.html" %}
{% block content %}
{% load i18n %}
{% load crispy_forms_tags %}
<h2>{{title}}</h2>
<hr/>
{% crispy form %}
<hr/>
<table class="table table-striped table-hover table-condensed">
{% spaceless %}
<thead>
	<tr>
		<th></th>
		<th>{% trans "Last" %}</th>
		<th>{% trans "First" %}</th>
		<th>{% trans "Gender" %}</th>
		<th>{% trans "Date of Birth" %}</th>
		<th>{% trans "City" %}</th>
		<th>{% trans "State/Prov" %}</th>
		<th>{% trans "Nationality" %}</th>
		<th>{% trans "License" %}</th>
		<th>{% trans "UCI Code" %}</th>
		<th class="hidden-print"></th>
	</tr>
</thead>
{% endspaceless %}
{% spaceless %}
<tbody>
	{% for h in license_holders %}
		<tr
			{% if h.id not in existing_seasons_pass_holders %}
				onclick="jump('{{path}}SeasonsPassLicenseHolderAdd/{{seasons_pass.id}}/{{h.id}}/');"
			{% else %}
				onclick="jump('{{path}}SeasonsPassLicenseHolderRemove/{{seasons_pass.id}}/{{h.id}}/');"
			{% endif %}
		>
			<td class="text-right">{{forloop.counter}}.</td>
			<td>{{h.last_name}}</td>
			<td>{{h.first_name}}</td>
			<td>{{h.get_gender_display}}</td>
			<td>{{h.date_of_birth}}</td>
			<td>{{h.city}}</td>
			<td>{{h.state_prov}}</td>
			<td>{{h.nationality}}</td>
			<td>{{h.license_code}}</td>
			<td>{{h.uci_code}}</td>
			<td class="hidden-print">
				{% if h.id not in existing_seasons_pass_holders %}
					<a class="btn btn-success" href="{{path}}SeasonsPassLicenseHolderAdd/{{seasons_pass.id}}/{{h.id}}/">{% trans "Add" %}</a>
				{% else %}
					<a class="btn btn-warning" href="{{path}}SeasonsPassLicenseHolderRemove/{{seasons_pass.id}}/{{h.id}}/">{% trans "Remove" %}</a>
				{% endif %}
			</td>
		</tr>
	{% endfor %}
</tbody>
{% endspaceless %}
</table>
<hr/>
({% trans "maximum 500 results" %})
{% endblock content %}
