{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load staticfiles %}

{% block javascript %}
	function sendEmail() {
		var email = document.getElementById("id_email");
		if( email && email.value.trim() ) {
			window.open('mailto:' + email.value.trim());
		}
		else
			alert( '{% trans "Missing Email!" %}' );
	}
{% endblock javascript %}

{% block onload %}
$("form").submit(function(event) {
		$('#id_license_code, #id_existing_tag, #id_existing_tag2, #tag, #tag2').each(
			function() { $(this).val( $(this).val().trim().replace(/^0+/, '') );
		});
	});
{% endblock onload %}

{% block content %}
<h1>{{title}}</h1>
<hr/>
{% crispy form %}
<div style="text-align:center">
</div>
{% with results=instance.get_results participation=instance.get_participation_as_competitor %}
{% if results %}
<hr/>
<h2>{% trans "Results" %}</h2>
{% spaceless %}
<table class="table table-striped table-hover table-condensed">
<thead>
	<tr>
		<th></th>
		<th>{% trans "Date" %}</th>
		<th>{% trans "Category" %}</th>
		<th>{% trans "Team" %}</th>
		<th>{% trans "Competition - Event" %}</th>
		<th>{% trans "Class" %}</th>
		<th>{% trans "Discipline" %}</th>
		<th>{% trans "Cat. Result" %}</th>
		<th>{% trans "Wave Result" %}</th>
		<th></th>
	</tr>
</thead>
<tbody>
	{% for rr in results %}
	<tr>
		<td class="text-right">{{forloop.counter}}.</td>
		<td>{{rr.event.date_time}}</td>
		<td>{{rr.participant.category.code_gender}}</td>
		<td>{{rr.participant.team.name}}</td>
		<td>{{rr.event.competition.name}} - {{rr.event.name}}</td>
		<td>{{rr.event.competition.race_class.name}}</td>
		<td>{{rr.event.competition.discipline.name}}</td>
		<td>{{rr.category_result_html}}</td>
		<td>{% if rr.wave_starters != rr.category_starters %}{{rr.wave_result_html}}{% endif %}</td>
		<td><a class="btn btn-success btn-xs" href="./ResultMassStartRiderDashboard/{{rr.id}}/">{% trans "Analysis" %}</a>
	</tr>
	{% endfor %}
</tbody>
</table>
{% endspaceless %}
{% endif %}
{% if participation %}
<hr/>
<h2>{% trans "Participation" %}</h2>
{% spaceless %}
<table class="table table-striped table-hover table-condensed">
<thead>
	<tr>
		<th></th>
		<th>{% trans "Date" %}</th>
		<th>{% trans "Category" %}</th>
		<th>{% trans "Team" %}</th>
		<th>{% trans "Competition" %}</th>
		<th>{% trans "Discipline" %}</th>
		<th>{% trans "Format" %}</th>
		<th>{% trans "Class" %}</th>
	</tr>
</thead>
<tbody>
	{% for p in participation %}
	<tr>
		<td class="text-right">{{forloop.counter}}.</td>
		<td>{{p.competition.date_range_str}}</td>
		<td>{% if p.category %}{{p.category.code}} ({{p.category.get_gender_display}}){% endif %}</td>
		<td>{{p.team.name}}</td>
		<td>{{p.competition.name}}</td>
		<td>{{p.competition.discipline.name}}</td>
		<td>{{p.competition.category_format.name}}</td>
		<td>{{p.competition.race_class.name}}</td>
	</tr>
	{% endfor %}
</tbody>
</table>
{% endspaceless %}
{% endif %}
{% endwith %}
{% endblock content %}
