{% extends "base.html" %}
{% block content %}
{% load i18n %}
{% load static %}
<h2>{{title}}</h2>
{% include "show_count.html" %}
<table class="table table-striped table-hover table-condensed">
{% spaceless %}
<thead>
	<tr>
		<th></th>
		<th>{% trans "Name" %}</th>
		<th>{% trans "Gender" %}</th>
		<th>{% trans "Date of Birth" %}</th>
		<th>{% trans "Location" %}</th>
		<th>{% trans "License" %}</th>
		<th>{% trans "UCI Code" %}</th>
		<th>{% trans "Nat." %}</th>
		<th>{% trans "UCI ID" %}</th>
		<th>{% trans "Emergency Contact" %}</th>
		{% if isEdit %}
		<th class="hidden-print"></th>
		{% endif %}
	</tr>
</thead>
{% endspaceless %}
{% spaceless %}
<tbody>
	{% for h in license_holders %}
		{% if isEdit %}
		<tr onclick="jump('{{path}}LicenseHolderEdit/{{h.id}}/');">
		{% else %}
		<tr>
		{% endif %}
			<td class="text-right">{{forloop.counter}}.</td>
			<td>{{h.full_name}}</td>
			<td>{{h.get_gender_display}}</td>
			<td>{% if h.date_of_birth_error %}<span class="is-warn"/>&nbsp;{% endif %}{{h.date_of_birth}}</td>
			<td>{{h.get_location}}</td>
			<td class="text-nowrap">
				{% if h.license_code_error %}<span class="is-warn"/>&nbsp;{% endif %}
				{{h.license_code_trunc}}
			</td>
			<td class="text-nowrap">
				{% if h.uci_code_error %}<span class="is-warn"/>&nbsp;{% endif %}
				{{h.uci_code}}
			</td>
			<td>{{h.get_nation_code_html}}</td>
			<td class="text-nowrap">
				{% if h.uci_id_error %}<span class="is-warn"/>&nbsp;{% endif %}
				{{h.get_uci_id_html}}
			</td>
			<td class="text-nowrap">
				{% if h.emergency_contact_incomplete %}<span class="is-warn"/>&nbsp;{% endif %}
				{{h.emergency_contact_name}}<br/>{{h.emergency_contact_phone}}
			</td>

			{% if isEdit %}
			<td class="hidden-print">
				<a class="btn btn-warning" href="{{path}}LicenseHolderDelete/{{h.id}}/">{% trans "Delete" %}</a>
				<a class="btn btn-success" href="{{path}}LicenseHolderEdit/{{h.id}}/">{% trans "Edit" %}</a>
			</td>
			{% endif %}
		</tr>
	{% if forloop.last %}<script>set_show_count( {{forloop.counter}} );</script>{% endif %}
	{% endfor %}
</tbody>
{% endspaceless %}
</table>
{% endblock content %}
