{% extends "base.html" %}

{% block onload %}
{% include "antenna_watermark.html" %}
if( document.getElementById("submit-id-auto-generate-and-write-tag-submit") )
	document.getElementById("submit-id-auto-generate-and-write-tag-submit").focus();
{% endblock onload %}

{% block content %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% spaceless %}
<h2>{{title}}</h2>
<h2><strong>{{license_holder.full_name}}</strong></h2>
<hr/>
{% crispy form %}
{% endspaceless %}
{% endblock content %}
