{% extends "base.html" %}
{% load staticfiles %}
{% block onload %}
	$( "form" ).submit(function( event ) {
		setTimeout( function() { $('#loader-circle').removeClass('hidden'); }, 3000 );
	});
{% endblock onload %}
{% block content %}
{% load i18n %}
{% load crispy_forms_tags %}
<style>
#id_excel_file { width: 600px; }
</style>
<h2>{{title}}</h2>
<hr/>
{% crispy form %}
<hr/>
</p>
<p class="text-center">
&nbsp;<img id='loader-circle' class='hidden' src="{% static "images/loader_circle.gif" %}"</img>&nbsp;
</p>
{% if results_str %}
<pre>{{results_str}}</pre>
{% endif %}
<p>
<h3>Import License Holders into RaceDB from Excel.</h3>
<p>
Creates/Updates rider information in the database from an Excel spreadsheet.
</p>
<p>
This feature works in two modes.  If <strong>Update License Codes based on First Name, Last Name, Date of Birth match</strong> is not checked (the default), License Holders data in the spreadsheet will be matched with existing License Holders in the database based on the License Code value.<br/>
If the License Code value is missing or equal to TEMP, an attempt will be made to find the license holder based on Last, First, DOB and Gender (if present).  If the license holder still cannot be found, he/she will be created and assigned a unique TEMP license code if one is not provided in the License column.
<br/>
If <strong>Update License Codes based on First Name, Last Name, Date of Birth match</strong> is checked, License Holders are be matched by the Last Name, First Name Date of Birth and Gender.  This is useful <strong>only</strong> if you need to change the license codes themselves of existing License Holders.  Although unlikely, it is possible that First Name, Last Name and DOB could match more than one License Holder.  In this case, RaceDB will silently pick one.<br/>
Always make a backup of your RaceDB.sqlite3 database before doing this.<br/>
</p>
<p>
The spreadsheet must have a specific format:
<ul>
<li>License Holder data <strong>must</strong> be the first Sheet of the spreadsheet</li>
<li>The first Row of the sheet must be the <strong>Header Row</strong>.</li>
<li>The sheet can include some, or all, of addition LicenseHolder information column headers (see below).</li>
<li>Unrecognized header columns are ignored.</li>
<li>Blank cells are ignored.  Data in blank cells will not replace existing values in the database.</li>
</ul>
</p>
<p>
The same License Holder sheet can be imported any number of times.  This will not cause duplicate entries if a match to the existing License Holder can be found base on License Code or Last, First, DOB, Gender.
</p>
<table class="table">
<thead>
<tr><th>Column</th><th>Description</th></tr>
</thead>
<tbody>
<tr><td><strong>License</strong> or <strong>License Code</strong> or <strong>License Numbers</strong></td><td>Regional License code (<strong>not UCI code or UCI ID</strong>).  Optional (but highly recommended if you h ave it).  If blank or TEMP, an attempt will be made to find the license holder base on Last, First, [DOB], [Gender].  It the license holder still cannot be found, a temporary unique license code will be created automatically.</td></tr>
<tr><td><strong>LastName</strong> or <strong>Last Name</strong> or <strong>Last</strong></td><td>Optional data field.  Rider's Last name.</td></tr>
<tr><td><strong>FirstName</strong> or <strong>First Name</strong> or <strong>First</strong></td><td>Optional data field.  Rider's First name.</td></tr>
<tr><td><strong>Gender</strong></td><td>Optional data field.  Riders Gender (Men/Women).  Read as <strong>Women</strong> if the cell value's first character is 'w', 'W', 'f' or 'F'.  If the field contains anything else (or blank) it is understood as <strong>Men</strong>.</td></tr>
<tr><td><strong>Date of Birth</strong> or <strong>DOB</strong></td><td>Optional data field.  The rider's birthday as an Excel date or as a string of the form YYYY-MM-DD.</td></tr>
<tr><td><strong>Tag</strong> or <strong>Chip</strong></td><td>Optional.  Permanent RFID tag for the rider.</td></tr>
<tr><td><strong>Note</strong></td><td>Optional.  Note field.</td></tr>
<tr><td><strong>Email</strong></td><td>Optional.  Participant's email.</td></tr>
<tr><td><strong>Phone</strong></td><td>Optional.  Participant's phone number.</td></tr>
<tr><td><strong>City</strong></td><td>Optional.  Participant's city.</td></tr>
<tr><td><strong>State</strong> or <strong>Prov</strong> or <strong>StateProv</strong></td><td>Optional.  Participant's state/prov.</td></tr>
<tr><td><strong>Nation Code</strong> or <strong>NatCode</strong></td><td>Optional.  Participant's 3-letter Competition Nation Code (IOC country code).</td></tr>
<tr><td><strong>ZipPostal</strong> or <strong>Zip</strong> or <strong>Postal</strong></td><td>Optional.  Participant's zip/postal code.</td></tr>
<tr><td><strong>Emergency Contact</strong></td><td>Optional.  Name of emergency contact.</td></tr>
<tr><td><strong>Emergency Phone</strong></td><td>Optional.  Phone number of emergency contact.</td></tr>
<tr><td><strong>UCIID</strong> or <strong>UCI ID</strong></td><td>Optional.  Rider's UCI ID.</td></tr>
<tr><td><strong>UCI Code</strong> or <strong>UCICode</strong></td><td>Optional.  Rider's UCI code.</td></tr>
<tr><td><strong>Team</strong> or <strong>Team Name</strong> or <strong>TeamName</strong> or <strong>Rider Team</strong> or <strong>RiderTeam</strong> or <strong>Trade Team</strong></td><td>Optional.  Rider's Team name.</td></tr>
<tr><td><strong>Team Code</strong> or <strong>TeamCode</strong></td><td>Optional.  Team Code  If importing Team Code, you must also include Team.</td></tr>
<tr><td><strong>License1..10</strong> or <strong>License Code1..10</strong> or <strong>License Numbers1..10</strong></td><td>Regional License code (same as License described above, but numbered 1 to 10).  Necessary for CCN imports where multiple columns are used for the same license field.</td></tr>
</tbody>
</table>
</p>
<p>
** The cell value is considered True if the value's first character is any of 't', 'T', 'y', 'Y', 1 or TRUE.  Otherwise False.<br/>
*** "Exact match" means case insensitive match with any accents ignored.<br/>
</p>
{% endblock content %}
