{% extends "base.html" %}
{% load staticfiles %}
{% block onload %}
	$( "form" ).submit(function( event ) {
		setTimeout( function() { $('#loader-circle').removeClass('hidden'); }, 3000 );
	});
{% endblock onload %}
{% block content %}
{% load i18n %}
{% load crispy_forms_tags %}
<style>
#id_excel_file { width: 600px; }
</style>
<h2>{{title}}</h2>
<hr/>
{% crispy form %}
<hr/>
</p>
<p class="text-center">
&nbsp;<img id='loader-circle' class='hidden' src="{% static "images/loader_circle.gif" %}"</img>&nbsp;
</p>
{% if results_str %}
<pre>{{results_str}}</pre>
{% endif %}
<p>
<h3>Import License Holders into RaceDB from Excel.</h3>
<p>
Creates/Updates rider information in the database from an Excel spreadsheet.
</p>
<p>
This feature works in two modes.  if <strong>Update License Codes based on First Name, Last Name, Date of Birth match</strong> is not checked (the default), License Holders data in the spreadsheet will be matched with existing License Holders in the database based on the Licese Code column.  <br/>
If <strong>Update License Codes based on First Name, Last Name, Date of Birth match</strong> is checked, License Holders are be matched by the Last Name, First Name and Date of Birth (DOB) columns.  This is useful <strong>only</strong> if you need to change the license codes themselves of existing License Holders.  Although unlikely, it is possible that First Name, Last Name and DOB could match more than one License Holder.  In this case, RaceDB will silently pick one.  Upper/lower case is ignored in the name match, as well as accents.<br/>
Always make a backup of your RaceDB.sqlite3 database before doing this.<br/>
Unless you are changing the actual licese codes themselves, don't use this option.
</p>
<p>
The spreadsheet must have a specific format:
<ul>
<li>The License Holder data <strong>must</strong> be the first Sheet of the spreadsheet</li>
<li>The first Row of the sheet must be a <strong>Header Row</strong>.</li>
<li>The Header Row must contain a <strong>License</strong> column.</li>
<li>The sheet can include some, or all, of addition LicenseHolder information column headers (see below).</li>
<li>Other header columns are ignored.</li>
<li>Blank cells are ignored.</li>
</ul>
</p>
<p>
If the <strong>License</strong> does not match an existing License Holder, a License Holder record is created using the <strong>License</strong> and the data fields (LastName, FirstName, Gender, Date of Birth, etc.).
</p>
<p>
The same License Holder sheet can be imported any number of times without problems, and will not lead to duplicate entries.
</p>
<table class="table">
<thead>
<tr><th>Column</th><th>Description</th></tr>
</thead>
<tbody>
<tr><td><strong>License</strong> or <strong>License Code</strong> or <strong>License Numbers</strong></td><td>Required.  Regional License code (<strong>not UCI code</strong>).</td></tr>
<tr><td><strong>LastName</strong> or <strong>Last Name</strong></td><td>Optional data field.  Rider's Last name.</td></tr>
<tr><td><strong>FirstName</strong> or <strong>First Name</strong></td><td>Optional data field.  Rider's First name.</td></tr>
<tr><td><strong>Gender</strong></td><td>Optional data field.  Riders Gender (Men/Women).  Read as <strong>Women</strong> if the cell value's first character is 'w', 'W', 'f' or 'F'.  If the field has a value of anything else (or blank) it is read as <strong>Men</strong>.</td></tr>
<tr><td><strong>Date of Birth</strong> or <strong>DOB</strong></td><td>Optional data field.  The rider's birthday as an Excel date or as a string of the form YYYY-MM-DD.</td></tr>
<tr><td><strong>UCI Code</strong> or <strong>UCICode</strong> or <strong>UCI</strong></td><td>Optional.  Rider's UCI code.</td></tr>
<tr><td><strong>Bib</strong></td><td>Optional.  Permanent Bib for the rider.</td></tr>
<tr><td><strong>Tag</strong> or <strong>Chip</strong></td><td>Optional.  Permanent RFID tag for the rider.</td></tr>
<tr><td><strong>Note</strong></td><td>Optional.  Note field.</td></tr>
<tr><td><strong>Email</strong></td><td>Optional.  Participant's email.</td></tr>
<tr><td><strong>Phone</strong></td><td>Optional.  Participant's phone number.</td></tr>
<tr><td><strong>City</strong></td><td>Optional.  Participant's city.</td></tr>
<tr><td><strong>State</strong> or <strong>Prov</strong> or <strong>StateProv</strong></td><td>Optional.  Participant's state/prov.</td></tr>
<tr><td><strong>Nationality</strong> or <strong>Nat</strong> or <strong>Nat.</strong></td><td>Optional.  Participant's Nationality.</td></tr>
<tr><td><strong>ZipPostal</strong> or <strong>Zip</strong> or <strong>Postal</strong></td><td>Optional.  Participant's zip/postal code.</td></tr>
<tr><td><strong>Emergency Contact</strong></td><td>Optional.  Name of emergency contact.</td></tr>
<tr><td><strong>Emergency Phone</strong></td><td>Optional.  Phone number of emergency contact.</td></tr>
</tbody>
</table>
</p>
<p>
** The cell value is considered True if the value's first character is any of 't', 'T', 'y', 'Y', 1 or TRUE.  Otherwise False.<br/>
*** "Exact match" means case independent match with accents ignored.<br/>
</p>
{% endblock content %}
