{% extends "base.html" %}

{% block content %}
{% load i18n %}
{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% with late_reg_exists=instance.get_late_reg_exists %}
<h2 class="hidden-print">{{title}}</h2>
{% trans "Generated" %}: {{time_stamp|date:"Y-m-d H:i:s"}}
<h2><strong>{{instance.competition.name}}</strong></h2>
<h2><strong>{{instance.name}}</strong>: {{instance.date_time}}</h2>
<br/><h4>{% trans "Total Starters" %}: {{instance.get_participant_count}}</h4>
<div class="hidden-print">
<hr/>
<a class="btn btn-primary" href="{{cancelUrl}}">{% trans "OK" %}</a>
&nbsp;&nbsp;&nbsp;&nbsp;
<button class="btn btn-primary" id="focus" onClick="window.print()"><img src="{% static "images/glyphicons_015_print.png" %}" >&nbsp;&nbsp;{% trans "Print" %}</button>
{% if request.user.is_superuser %}
	<a class="btn btn-primary" href="{{path}}StartListEmails/{{instance.id}}/{{instance.event_type}}">{% trans "Emails" %}</a>
{% endif %}
<a class="btn btn-primary" href="{{path}}StartListExcelDownload/{{instance.id}}/{{instance.event_type}}">{% trans "Export to Excel" %}</a>
<hr/>
</div>
<h2 class="visible-print">{% trans "Waves" %}</h2>
{% spaceless %}
<table class="table table-striped table-hover">
<thead>
	<tr>
		<th>{% trans "Wave" %}</th>
		<th class="text-right">{% trans "Start Offset" %}</th>
		<th>{% trans "Details" %}</th>
		<th>{% trans "Categories" %}</th>
		<th class="text-center">{% trans "Strs" %}</th>
		{% if late_reg_exists %}<th class="text-center hidden-print">{% trans "Late Reg" %}</th>{% endif %}
		<th class="hidden-print"></th>
	</tr>
</thead>
<tbody>
	{% for w in instance.wave_set.all %}
		<tr onclick="jump('./WaveEdit/{{w.id}}/');">
			<td>{{w.name}}</td>
			<td class="text-right">{{w.start_offset}}</td>
			<td>{{w.get_details_html|safe}}</td>
			<td>{{w.category_count_text}}</td>
			<td class="text-center">{{w.get_starters_str}}</td>
			{% if late_reg_exists %}<td class="text-center hidden-print">{{w.get_late_reg.count}}</td>{% endif %}
			<td class="hidden-print">
				{% if request.user.is_superuser %}
					<a class="btn btn-success btn-xs" href="./WaveEdit/{{w.id}}/">{% trans "Edit" %}</a>
				{% endif %}
			</td>
		</tr>
	{% endfor %}
</tbody>
</table>
{% endspaceless %}
{% spaceless %}
<div class="hidden-print">
{% with duplicate_bibs=instance.get_duplicate_bibs %}
	{% if duplicate_bibs %}
		<hr/>
		<h2>{% trans "Duplicate Bib Numbers:" %}</h2>
		{% for db in duplicate_bibs %}
			{{db}}<br/>
		{% endfor %}
	{% endif %}
{% endwith %}
</div>
{% endspaceless %}
<style>
	table.participant_table tr td {
		font-size: 75%;
	}
	table.participant_table tr th {
		font-size: 75%;
	}
</style>
{% for w in instance.wave_set.all %}
<hr class="page-break-before"/>
<span class="visible-print">{{instance.competition.name}}, {{instance.name}}, {{instance.date_time}}</span>
<h4>
	<strong style="font-size:125%">{{w.name}}</strong>: {% trans "Offset" %}: {{w.start_offset}}, {{w.get_details_html|safe}}, {% trans "Strs" %}: {{w.get_participants.count}}
	{% if request.user.is_superuser %}<a class="btn btn-success btn-xs hidden-print" href="./WaveEdit/{{w.id}}/">{% trans "Edit" %}</a>{% endif %}
<br/>
</h4>
<h5 style="margin-top: 8px">{% trans "Categories" %}: {{w.category_count_text}}</h5>
{% spaceless %}
<table class="table table-striped table-hover table-condensed participant_table">
<thead>
	<tr>
		<th>{% trans "Bib" %}</th>
		<th>{% trans "Name" %}</th>
		<th>{% trans "Team" %}</th>
		<th>{% trans "Category" %}</th>
		<th>{% trans "UCIID" %}</th>
		{% if late_reg_exists %}<th class="hidden-print">{% trans "Late Reg" %}</th>{% endif %}
		<th class="hidden-print"></th>
	</tr>
</thead>
<tbody>
	{% with late_reg_set=w.get_late_reg_set %}
		{% for p in w.get_participants %}
			{% with h=p.license_holder %}
			<tr onclick="jump('./ParticipantEdit/{{p.id}}/');">
				<td>{% if p.bib %}{{p.bib}}{% endif %}</td>
				<td>{{p.license_holder.full_name}}</td>
				<td>{% if p.team %}{{p.team.name}}{% endif %}</td>
				<td>{% if p.category %}{{p.category.code_gender}}{% endif %}</td>
				<td class="text-nowrap">{{h.get_flag_uci_id_html}}</td>
				{% if late_reg_exists %}<td>{% if p in late_reg_set %}<span class="label label-warning hidden-print">{% trans "Late" %}</span>{% endif %}</td>{% endif %}
				<td class="hidden-print">
					<a class="btn btn-warning btn-xs" href="./ParticipantRemove/{{p.id}}/">{% trans "Remove" %}</a>
					&nbsp;&nbsp;
					<a class="btn btn-success btn-xs" href="./ParticipantEdit/{{p.id}}/">{% trans "Edit" %}</a>
				</td>
			</tr>
			{% endwith %}
		{% endfor %}
	{% endwith %}
</tbody>
</table>
{% endspaceless %}
{% endfor %}
{% endwith %}{# late_reg_exists #}
{% endblock content %}
