{% extends "base.html" %}
{% block content %}

{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
<h2>{{title}} <a class="btn btn-default" href=".">{% trans "Refresh" %}</a>
</h2>
<br/>
<h3><strong>{{participant.license_holder.full_name}}</strong>
{% if participant.competition.number_set %}
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 65%">{% trans "Number Set Bibs:" %}{% for b in participant.allocated_bibs %} {{b}}{% endfor %}</span>
{% endif %}
<br/>
{% if participant.team %}{{participant.team.full_name}}<br/>{% endif %}
{{participant.category.full_name}}
{% if participant.bib %}
	<br/><br/>
	{% trans "Category Bib" %}: <strong>{{participant.bib}}</strong>
	{% if has_existing_number_set_bib %}
		<span class="label label-warning">{% trans "Assigning a new Bib will set this Bib to Lost" %}</span>
	{% endif %}
{% endif %}
</h3>
<hr/>
<style>
.label-bib {
	font-size: 130%;
	margin: 10px;
	background-color: #CCCCCC;
	display: inline-block;
}
.lost-bib {
	font-size: 100%;
	margin: 10px;
	background-color: #999999;
	display: inline-block;
}
.btn-bib-available {
	font-size: 130%;
	margin: 10px;
}
</style>
{% spaceless %}
{% if participant.bib %}
	<a href="./ParticipantBibSelect/{{participant.id}}/0/" class="btn btn-warning btn-bib-available">{% trans "No Bib" %}</a><br/>
{% endif %}
{% if category_numbers_defined %}
	{% spaceless %}
	<table><tbody>
	<tr>
	{% for b in bibs %}
		<td>
		{% if b.date_lost %}
			<a class="btn btn-warning lost-bib" href="./ParticipantBibSelect/{{participant.id}}/{{b.bib}}/"
				title='{% trans "Lost" %} {{b.date_lost|date:"Y-m-d"}}{% if b.license_holder %} {% trans "by" %} {{b.license_holder.full_name}}{% endif %}'>{{b.bib}}</a>
		{% elif b.license_holder %}
			<span class="label label-default label-bib" title="{{b.full_name}}">{{b.bib}}</span>
		{% else %}
			<a class="btn btn-success btn-bib-available" href="./ParticipantBibSelect/{{participant.id}}/{{b.bib}}/">{{b.bib}}</a>
		{% endif %}
		</td>
		{% if forloop.last %}</tr>
		{% elif forloop.counter|divisibleby:15 %}</tr><tr>
		{% endif %}
	{% endfor %}
	</tbody></table>
	{% endspaceless %}
	<hr/>
	<a class="btn btn-warning" href="{{cancelUrl}}">{% trans "Cancel" %}</a>
{% else %}
	<a class="btn btn-warning" href="{{cancelUrl}}">
		{{participant.category.code_gender}}: {% trans "No Numbers Defined" %} 
	</a>
	<hr/>
	{% trans "Return to the Competition and define Numbers for this Category." %}<br/>
	{% trans "For more info, see the" %} <a href="{% static "docs/Tutorial.html" %}" target="_blank">{% trans "Tutorial" %}</a>.
{% endif %}
{% endspaceless %}
{% endblock content %}
