{% extends "base.html" %}
{% block content %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
<ul class="nav nav-pills">
	<li role="presentation" class="active">
		<a href="{{cancelUrl}}ParticipantManualAdd/{{competition.id}}/">
			<image src="{% static "images/glyphicons_006_user_add.png" %}"/>&nbsp;&nbsp;{% trans "Manual Add" %}
		</a>
	</li>
	<li role="presentation">
		<a href="{{cancelUrl}}ParticipantBarcodeAdd/{{competition.id}}/">
			<image src="{% static "images/glyphicons_259_barcode_blue.png" %}"/>&nbsp;&nbsp;{% trans "Barcode Add" %}
		</a>
	</li>
{% if competition.using_tags %}
	<li role="presentation">
		<a href="{{cancelUrl}}ParticipantRfidAdd/{{competition.id}}/">
			<image src="{% static "images/glyphicons_065_tag_blue.png" %}"/>&nbsp;&nbsp;{% trans "RFID Add" %}
		</a>
	</li>
{% endif %}
</ul>
<br/>
<h2><strong>{{competition.name}}</strong>, {{competition.start_date}}</h2>
<br/>
{% crispy form %}
{% include "show_count.html" %}
{% spaceless %}
<table class="table table-striped table-hover table-condensed">
<thead>
	<tr>
		<th></th>
		<th>{% trans "Name" %}</th>
		<th>{% trans "Gender" %}</th>
		<th>{% trans "License" %}</th>
		<th>{% trans "UCI Code" %}</th>
		<th>{% trans "Date of Birth" %}</th>
		<th>{% trans "City" %}</th>
		<th>{% trans "State/Prov" %}</th>
		<th>{% trans "Nationality" %}</th>
		{% if competition.using_tags %}<th>{% trans "Tag" %}</th>{% endif %}
		<th class="hidden-print"></th>
		<th class="hidden-print"></th>
	</tr>
</thead>
<tbody>
	{% for h in license_holders %}
		{% if h.id in license_holders_in_competition %}
			<tr onclick="jump('./ParticipantEditFromLicenseHolder/{{competitionId}}/{{h.id}}/');">
		{% else %}
			<tr onclick="jump('./LicenseHolderAddConfirm/{{competitionId}}/{{h.id}}/');">
		{% endif %}
			<td class="text-right">{{forloop.counter}}.</td>
			<td>{{h.full_name}}</td>
			<td>{{h.get_gender_display}}</td>
			<td>{{h.license_code}}</td>
			<td>{{h.uci_code}}</td>
			<td>{{h.date_of_birth}}</td>
			<td>{{h.city}}</td>
			<td>{{h.state_prov}}</td>
			<td>{{h.nationality}}</td>
			{% if competition.using_tags %}<td>{{h.get_existing_tag_str}}</td>{% endif %}
			<td class="hidden-print">
				{% if h.id in license_holders_in_competition %}
					<a class="btn btn-success btn-sm" href="./ParticipantEditFromLicenseHolder/{{competitionId}}/{{h.id}}/">{% trans "Edit" %}</a>
				{% else %}
					<a class="btn btn-success btn-sm" href="./LicenseHolderAddConfirm/{{competitionId}}/{{h.id}}/">{% trans "Add" %}</a>
				{% endif %}
			</td>
			<td class="hidden-print"><a class="btn btn-primary btn-sm" href="{{path}}LicenseHolderEdit/{{h.id}}/">{% trans "License Holder" %}</a></td>
		</tr>
		{% if forloop.last %}<script>set_show_count( {{forloop.counter}} );</script>{% endif %}
	{% endfor %}
</tbody>
</table>
{% endspaceless %}
({% trans "maximum 200 results" %})
{% endblock content %}
