{% extends "base.html" %}
{% block content %}
{% load i18n %}
{% load crispy_forms_tags %}
<h2>{{title}}</h2>
<h3><strong>{{participant.license_holder.full_name}}</strong>: {{participant.team.full_name}}</h3>
<hr/>
{% crispy form %}
<hr/>
<p>{% trans 'Only "Active" teams are shown.' %}</p>
{% spaceless %}
<table class="table table-striped table-hover table-condensed">
<thead>
	<tr>
		<th></th>
		<th>{% trans "Team" %}</th>
		<th>{% trans "Code" %}</th>
		<th>{% trans "Type" %}</th>
		<th>{% trans "Nat. Code" %}</th>
		<th class="hidden-print"></th>
	</tr>
</thead>
<tbody>
	<tr onclick="jump('{{path}}ParticipantTeamSelect/{{participant.id}}/0/');">
		<td></td>
		<td>-- {% trans "no team" %} --</td>
		<td>----</td>
		<td>----</td>
		<td>----</td>
		<td class="hidden-print">
			<a class="btn btn-success" href="{{path}}ParticipantTeamSelect/{{participant.id}}/0/">{% trans "Select" %}</a>
		</td>
	</tr>
	{% for t in teams %}
		<tr onclick="jump('{{path}}ParticipantTeamSelect/{{participant.id}}/{{t.id}}/');">
			<td class="text-right">{{forloop.counter}}.</td>
			<td>{{t.name}}</td>
			<td>{{t.code}}</td>
			<td>{{t.get_team_type_display}}</td>
			<td>{{t.nation_code}}</td>
			<td class="hidden-print">
				<a class="btn btn-primary" href="./TeamEdit/{{t.id}}/">{% trans "Edit" %}</a>&nbsp;
				<a class="btn btn-success" href="./ParticipantTeamSelect/{{participant.id}}/{{t.id}}/">{% trans "Select" %}</a>
			</td>
		</tr>
	{% endfor %}
</tbody>
</table>
{% endspaceless %}
({% trans "maximum 500 results shown" %})
{% endblock content %}
