{% extends "base.html" %}
{% block content %}

{% load i18n %}
{% load static %}
<h2>{{title}}</h2>
<hr/>
{% if not participants and not license_holders %}
	<h3>{% trans "No match." %}</h3>
	<hr/>
	<a class="btn btn-primary" id="focus" href="{{path}}">{% trans "OK" %}</a>
	<a class="btn btn-primary" href="{{path}}ParticipantManualAdd/{{competition.id}}">{% trans "Add by Name" %}</a>
{% else %}
{% spaceless %}
<table class="table table-condensed table-hover">
<thead>
	<tr>
		<th>{% trans "Name" %}</th>
		<th>{% trans "Team" %}</th>
		<th>{% trans "Bib" %}</th>
		<th>{% trans "Gender" %}</th>
		<th>{% trans "Role" %}</th>
		<th>{% trans "Category" %}</th>
		<th>{% trans "Confirmed" %}</th>
		<th>{% trans "Paid" %}</th>
		{% if competition.using_tags %}
			<th>{% trans "Tag" %}</th>
		{% endif %}
		<th>{% trans "From" %}</th>
		<th class="hidden-print"></th>
	</tr>
</thead>
<tbody>
	{% for p in participants %}
		{% with h=p.license_holder %}
		<tr onclick="jump('{{cancelUrl}}ParticipantEdit/{{p.id}}/');">
			<td>{{p.license_holder.full_name}}</td>
			<td>{% if p.team %}{{p.team.name}}{% endif %}</td>
			<td>{% if p.bib %}{{p.bib}}{% endif %}</td>
			<td>{{h.get_gender_display}}</td>
			<td>{{p.get_role_display}}</td>
			<td>{% if p.category %}{{p.category.code}}{% endif %}</td>
			<td>
					{% if p.role == 110 %}
						{% if p.confirmed %}
							<span class="label label-default"><img src="{% static "images/glyphicons_206_ok_2.png" %}" ></span>
						{% else %}
							<span class="label label-danger"><img src="{% static "images/glyphicons_207_remove_2.png" %}" ></span>
						{% endif %}
					{% endif %}
			</td>
			<td>
				{% if p.role == 110 %}
					{% if p.paid %}
						<span class="label label-default"><img src="{% static "images/glyphicons_206_ok_2.png" %}" ></span>
					{% else %}
						<span class="label label-danger"><img src="{% static "images/glyphicons_207_remove_2.png" %}" ></span>
					{% endif %}
				{% endif %}
			</td>
			{% if competition.using_tags %}
				<td>{{p.get_tag_str}}</td>
			{% endif %}
			<td>{{h.location}}</td>
			<td class="hidden-print">
				<a class="btn btn-primary" href="{{cancelUrl}}ParticipantEdit/{{p.id}}/">{% trans "Edit" %}</a>
			</td>
		</tr>
		{% endwith %}
	{% endfor %}
	{% for h in license_holders %}
		<tr onclick="jump('{{cancelUrl}}LicenseHolderAddConfirm/{{competition.id}}/{{h.id}}/');">
			<td>{{h.full_name}}</td>
			<td></td>
			<td></td>
			<td>{{h.get_gender_display}}</td>
			<td></td>
			<td></td>
			<td>
				<span class="label label-danger"><img src="{% static "images/glyphicons_207_remove_2.png" %}" ></span>
			</td>
			<td>
				<span class="label label-danger"><img src="{% static "images/glyphicons_207_remove_2.png" %}" ></span>
			</td>
			{% if competition.using_tags %}
				<td></td>
				<td></td>
			{% endif %}
			<td>{{h.location}}</td>
			<td class="hidden-print">
				<a class="btn btn-primary" href="{{cancelUrl}}LicenseHolderAddConfirm/{{competition.id}}/{{h.id}}/">{% trans "Add" %}</a>
			</td>
		</tr>
	{% endfor %}
</tbody>
</table>
{% endspaceless %}
<hr/>
<a class="btn btn-primary hidden-print" id="focus" href="{{path}}">{% trans "OK" %}</a>
{% endif %}
{% endblock content %}
