{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load staticfiles %}

{% block srcjavascript %}
	{% if participant.competition.show_signature and participant.signature and not participant.is_jsignature %}
		<script type="text/javascript" src="{% static "js/scriptel-easyscript.js" %}"></script>
	{% endif %}
{% endblock srcjavascript %}

{% block javascript %}
	function sendEmail() {
		var email_value = "{{participant.license_holder.email}}";
		if( email_value )
			window.open('mailto:' + email_value);
	}
{% endblock javascript %}

{% block onload %}
	{% if participant.competition.show_signature and participant.signature and not participant.is_jsignature %}
		var escript = new ScriptelEasyScript();
		var canvas = document.getElementById("signature");
		var ctx = canvas.getContext("2d");
		ctx.fillStyle="#FFFF88";
		ctx.fillRect(0,0,canvas.width,canvas.height);
		var sig = {{participant.signature|safe}};
		escript.drawSignatureOnCanvas(sig, canvas);
	{% endif %}
	
	{% include "antenna_watermark.html" %}
{% endblock onload %}

{% block content %}
<style>
.Row:hover {
	background-color: #EEE;
}
.table tbody>tr>td {
	vertical-align: middle;
	font-size: 135%;
	border-top: none;
	padding: 3px;
}

@media print {
  a[href]:after {
    content: none !important;
  }
}
</style>
{% if title %}<h1 class="hidden-print">{{title}}</h1><br/>{% endif %}

<h3 class="visible-print">{% trans "Race Voucher" %}</h3>
<hr class="visible-print" />
{% with p=participant h=participant.license_holder c=participant.competition %}
<h2><strong>{{c.name}}</strong>: {{c.start_date}}
</h2>
<hr/>
{% spaceless %}
{% if not h.eligible %}
	<div class="alert alert-danger">
		<h3><strong>{{h.first_name}} {{h.last_name}} {% trans "Not Eligible to Compete" %}</strong>.</h3>
		<br/>
		<h4>{% trans "Review the LicenseHolder screen, read the Notes, and set <strong>Eligible to Compete</strong> when resolved." %}
		<a class="btn btn-danger" href='{{path}}LicenseHolderEdit/{{h.id}}/'>{% trans "LicenseHolder" %}</a>
		</h4>
	</div>
{% endif %}
<table class="table table-hover table-condensed">
<tr onclick="jump({% if isEdit %}'{{path}}LicenseHolderEdit/{{h.id}}/'{% else %}'{{path}}'{% endif %});">
	<td class="text-right">{% trans "Participant" %}{% if not p.good_license or not p.good_emergency_contact %}&nbsp;<img src="{% static "images/warning.png" %}" style="width:20px;height:20px;"/>{% endif %}:</td>
	<td>
		<strong>{{h.full_name}}:</strong>
		{{h.get_gender_display}}
		{% if h.license_code %}
			{% if isEdit and h.is_temp_license %}<a class="btn btn-warning" href='{{path}}LicenseHolderEdit/{{h.id}}/'>{% endif %}
				{{h.license_code_trunc}}
			{% if isEdit and h.is_temp_license %}</a>{% endif %}
		{% endif %}
		&nbsp;{{h.get_flag_uci_id_html}},
		{{h.get_location}}
		{% if isEdit %}
			{% if h.license_code and h.is_temp_license %}
				<br/><a class="btn btn-warning" href='{{path}}LicenseHolderEdit/{{h.id}}/'>{% trans "Fix License Code" %}</a>
			{% endif %}
			{% if h.emergency_contact_incomplete %}
				<br/><a class="btn btn-warning" href='{{path}}LicenseHolderEdit/{{h.id}}/'>{% trans "Fix Emergency Contact" %}</a>
			{% endif %}
		{% endif %}
	</td>
	<td>
		{% if isEdit %}
			<a class="btn btn-success hidden-print" href="{{path}}LicenseHolderEdit/{{h.id}}/">{% trans "Edit" %}</a>
		{% endif %}
	</td>
</tr>

{% if c.has_waiver %}
<tr onclick="jump({% if isEdit %}'{{path}}ParticipantWaiverChange/{{p.id}}/'{% else %}'{{path}}'{% endif %});">
	<td class="text-right">{% trans "Waiver" %}{% if p.has_unsigned_waiver %}&nbsp;<img src="{% static "images/error.png" %}" style="width:20px;height:20px;"/>{% endif %}:</td>
	<td>
		<strong>
			{% if not p.has_unsigned_waiver %}{% trans "Correct" %}
			{% elif p.non_existant_waiver %}<span class="label label-danger">{% trans "Missing" %}</span>
			{% else %}<span class="label label-danger">{% trans "Expired" %}</span>
			{% endif %}
		</strong>
	</td>
	<td>
		{% if isEdit %}
			<a class="btn btn-success hidden-print" href="{{path}}ParticipantWaiverChange/{{p.id}}/">{% trans "Change" %}</a>
		{% endif %}
	</td>
</tr>
{% endif %}

<tr onclick="jump({% if request.user.is_superuser and isEdit %}'{{path}}ParticipantRoleChange/{{p.id}}/'{% else %}'{{path}}'{% endif %});">
	<td class="text-right">{% trans "Role" %}:</td>
	<td>
		<strong>{{p.get_role_display}}</strong>
		{% if p.is_competitor %}
			&nbsp;&nbsp;&nbsp;&nbsp;
			{% if is_suspicious_age and isEdit %}<a class="btn btn-warning" href='{{path}}LicenseHolderEdit/{{h.id}}/'>{% endif %}
				{% trans "Competition Age" %}: <strong>{{competition_age}}
			{% if is_suspicious_age and isEdit %}</a>{% endif %}</strong>
			{% if is_suspicious_age and isEdit %}
				<br/><a class="btn btn-warning" href='{{path}}LicenseHolderEdit/{{h.id}}/'>{% trans "Click here to fix Date of Birth" %}</span>
			{% endif %}
		{% endif %}
	</td>
	<td>
		{% if request.user.is_superuser and isEdit %}
			<a class="btn btn-success hidden-print" href="{{path}}ParticipantRoleChange/{{p.id}}/">{% trans "Change" %}</a>
		{% endif %}
	</td>
</tr>

{% if p.is_with_team %}
<tr onclick="jump({% if isEdit %}'{{path}}ParticipantTeamChange/{{p.id}}/'{% else %}'{{path}}'{% endif %});">
	<td class="text-right">{% trans "Team" %}:</td>
	<td>
		{% if p.team %}
			<strong>{{p.team.name}}</strong><span>
			{% if p.team.code %}, {{p.team.code}}{% endif %}</span>,
			{{p.team.get_team_type_display}}<span>
			{% if p.team.nation_code %}, {{p.team.nation_code}}{% endif %}</span>
		{% else %}
			<strong>{% trans "No team" %}</strong>
		{% endif %}
	</td>
	<td>
		{% if isEdit %}
			<a class="btn btn-success hidden-print" href="{{path}}ParticipantTeamChange/{{p.id}}/">{% trans "Change" %}</a>
		{% endif %}
	</td>
</tr>
{% endif %}
{% if p.is_competitor %}
<tr onclick="jump({% if isEdit %}'{{path}}ParticipantCategoryChange/{{p.id}}/'{% else %}'{{path}}'{% endif %});">
	<td class="text-right">{% trans "Category" %}{% if not p.good_category %}&nbsp;<img src="{% static "images/error.png" %}" style="width:20px;height:20px;"/>{% endif %}:</td>
	<td>
		{% if p.category %}
			<strong>{{p.category.code}}:</strong>
			{{p.category.description}}, {{p.category.get_gender_display}}
		{% else %}
			{% if p.is_competitor %}<span class="label label-danger">{% endif %}
				{% trans "No category" %}
			{% if p.is_competitor %}</span>{% endif %}
		{% endif %} 
	</td>
	<td>
		{% if isEdit %}
			<a class="btn btn-success hidden-print" href="{{path}}ParticipantCategoryChange/{{p.id}}/">{% trans "Change" %}</a>
		{% endif %}
	</td>
</tr>
<tr onclick="jump({% if isEdit %}'{{path}}ParticipantPaidChange/{{p.id}}/'{% else %}'{{path}}'{% endif %});">
	<td class="text-right">{% trans "Paid" %}{% if not p.good_paid %}&nbsp;<img src="{% static "images/error.png" %}" style="width:20px;height:20px;"/>{% endif %}:</td>
	<td>
		{% if p.paid %}
			<span class="label label-default"><img src="{% static "images/glyphicons_206_ok_2.png" %}" > {% trans "Yes" %}</span>
		{% else %}
			<span class="label label-danger"><img src="{% static "images/glyphicons_207_remove_2.png" %}" > {% trans "No" %}</span>
		{% endif %}
		{% if p.is_seasons_pass_holder %} ({% trans "Season's Pass Holder" %}) {% endif %}
	</td>
	{% if isEdit %}
		<td><a class="btn btn-success hidden-print" href="{{path}}ParticipantPaidChange/{{p.id}}/">{% trans "Change" %}</a></td>
	{% endif %}
</tr>
{% endif %}
{% if p.category and p.is_competitor %}
	<tr onclick="jump({% if isEdit %}'{{path}}ParticipantBibChange/{{p.id}}/'{% else %}'{{path}}'{% endif %});">
		<td class="text-right">{% trans "Bib" %}{% if not p.good_bib %}&nbsp;<img src="{% static "images/error.png" %}" style="width:20px;height:20px;"/>{% endif %}:</td>
		<td>
			{% if p.bib %} <strong>{{p.bib}}</strong> {% else %} <span class="label label-danger">{% trans "No bib" %}</span> {% endif %}
		</td>
		{% if isEdit %}
			<td><a class="btn btn-success hidden-print" href="{{path}}ParticipantBibChange/{{p.id}}/">{% trans "Change" %}</a></td>
		{% endif %}
	</tr>
{% endif %}
{% if c.using_tags and p.is_competitor %}
	<tr onclick="jump({% if isEdit %}'{{path}}ParticipantTagChange/{{p.id}}/'{% else %}'{{path}}'{% endif %});">
		<td class="text-right">{% if p.tag and p.tag2 %}{% trans "Chip Tags" %}{% else %}{% trans "Chip Tag" %}{% endif %}{% if not p.good_tag %}&nbsp;<img src="{% static "images/error.png" %}" style="width:20px;height:20px;"/>{% endif %}:</td>
		<td>
			{% if not p.tag and not p.tag2 %}
				 <span class="label label-danger">{% trans "No tag" %}</span>
			{% endif %}
			{% if p.tag %} <strong>{{p.tag}}{% if p.tag2 %},{% endif %}</strong>{% endif %}
			{% if p.tag2 %} <strong>{{p.tag2}} </strong>{% endif %}
		</td>
		{% if isEdit %}
			<td><a class="btn btn-success hidden-print" href="{{path}}ParticipantTagChange/{{p.id}}/">{% trans "Change" %}</a></td>
		{% endif %}
	</tr>
{% endif %}
{% if p.has_tt_events and p.is_competitor %}
	<tr onclick="jump({% if isEdit %}'{{path}}ParticipantEstSpeedChange/{{p.id}}/'{% else %}'{{path}}'{% endif %});">
		<td class="text-right">{% trans "Est. TT Speed" %}{% if not p.good_est_kmh %}&nbsp;<img src="{% static "images/warning.png" %}" style="width:20px;height:20px;"/>{% endif %}:</td>
		<td>
		{% if p.est_kmh > 0.0 %}
			<strong>{{p.est_speed_display}}</strong>
		{% else %}
			<span class="label label-warning"><img src="{% static "images/glyphicons_207_remove_2.png" %}" > {% trans "No" %}</span>
		{% endif %}
		</td>
		{% if isEdit %}
			<td><a class="btn btn-success hidden-print" href="{{path}}ParticipantEstSpeedChange/{{p.id}}/">{% trans "Change" %}</a></td>
		{% endif %}
	</tr>
{% endif %}
{% if p.show_confirm and p.is_competitor %}
<tr onclick="jump({% if isEdit %}'{{path}}ParticipantConfirmedChange/{{p.id}}/'{% else %}'{{path}}'{% endif %});">
	<td class="text-right">{% trans "Confirmed" %}:</td>
	<td>
		{% if p.confirmed %}
			<span class="label label-default"><img src="{% static "images/glyphicons_206_ok_2.png" %}" > {% trans "Yes" %}</span>
		{% else %}
			<span class="label label-warning"><img src="{% static "images/glyphicons_207_remove_2.png" %}" > {% trans "No" %}</span>
		{% endif %}
	</td>
	{% if isEdit %}
		<td><a class="btn btn-success hidden-print" href="{{path}}ParticipantConfirmedChange/{{p.id}}/">{% trans "Change" %}</a></td>
	{% endif %}
</tr>
{% endif %}
{% if c.show_signature and p.is_competitor and p.category %}
<tr onclick="jump({% if isEdit %}'{{path}}ParticipantSignatureChange/{{p.id}}/'{% else %}'{{path}}'{% endif %});">
	<td class="text-right">{% trans "Signature" %}{% if not p.good_signature %}&nbsp;<img src="{% static "images/error.png" %}" style="width:20px;height:20px;"/>{% endif %}:</td>
	<td>
	{% if p.signature %}
		{% if p.is_jsignature %}
			<img width="240" height="64" id="signature" src="data:{{p.signature|safe}}" style="background: #FFFF88"></image>
		{% else %}
			<canvas width="240" height="64" id="signature"></canvas>
		{% endif %}
	{% else %}
		<span class="label label-danger"><img src="{% static "images/glyphicons_207_remove_2.png" %}" > {% trans "No signature" %}</span>
	{% endif %}
	</td>
	{% if isEdit %}
		<td><a class="btn btn-success hidden-print" href="{{path}}ParticipantSignatureChange/{{p.id}}/">{% trans "Change" %}</a></td>
	{% endif %}
</tr>
{% endif %}
{% if p.is_competitor and p.category %}
<tr {% if request.user.is_superuser and isEdit %}onclick="jump('{{path}}ParticipantPreregisteredChange/{{p.id}}/');"{% endif %}>
	<td class="text-right">{% trans "Preregistered" %}:</td>
	<td>
		{% if p.preregistered %}
			<span class="label label-default"><img src="{% static "images/glyphicons_206_ok_2.png" %}" > {% trans "Yes" %}</span>
		{% else %}
			<span class="label label-default"><img src="{% static "images/glyphicons_207_remove_2.png" %}" > {% trans "No" %}</span>
		{% endif %}
	</td>
	{% if request.user.is_superuser and isEdit %}
		<td><a class="btn btn-success hidden-print" href="{{path}}ParticipantPreregisteredChange/{{p.id}}/">{% trans "Change" %}</a></td>
	{% endif %}
</tr>
{% endif %}
<tr onclick="jump({% if isEdit %}'{{path}}ParticipantNoteChange/{{p.id}}/'{% else %}'{{path}}'{% endif %});">
	<td class="text-right">{% trans "Competition Note" %}:</td>
	<td>{% if p.note %}{{p.note}}{% endif %}</td>
	{% if isEdit %}
		<td><a class="btn btn-success hidden-print" href="{{path}}ParticipantNoteChange/{{p.id}}/">{% trans "Change" %}</a></td>
	{% endif %}
</tr>
<tr onclick="jump({% if isEdit %}'{{path}}ParticipantGeneralNoteChange/{{p.id}}/'{% else %}'{{path}}'{% endif %});">
	<td class="text-right">{% trans "General Note" %}:</td>
	<td>{% if h.note %}{{h.note}}{% endif %}</td>
	{% if isEdit %}
		<td><a class="btn btn-success hidden-print" href="{{path}}ParticipantGeneralNoteChange/{{p.id}}/">{% trans "Change" %}</a></td>
	{% endif %}
</tr>
{% if p.has_optional_events and p.is_competitor %}
	<tr onclick="jump({% if isEdit %}'{{path}}ParticipantOptionChange/{{p.id}}/'{% else %}'{{path}}'{% endif %});">
		<td class="text-right">{% trans "Optional Events" %}{% if not p.has_any_events %}&nbsp;<img src="{% static "images/error.png" %}" style="width:20px;height:20px;"/>{% endif %}:</td>
		<td>
			{% for event, optional, is_participating in p.get_participant_events %}
				{% if optional %}
					{% if is_participating %}
						<span class="label label-success">&#x2713;{{event.short_name}}</span>&nbsp;
					{% else %}
						<span class="label label-default">{{event.short_name}}</span>&nbsp;
					{% endif %}
				{% endif %}
			{% endfor %}
		</td>
		{% if isEdit %}
			<td><a class="btn btn-success hidden-print" href="{{path}}ParticipantOptionChange/{{p.id}}/">{% trans "Change" %}</a></td>
		{% endif %}
	</tr>
{% endif %}
</table>
{% endspaceless %}

{% if p.is_competitor %}
	{% with sw=p.get_start_waves %}
		{% if sw %}
			<hr/>
				{% for w in sw %}
					<h3 {% if forloop.counter != 1 %}style="margin-top: 6px;"{% endif %}>
					{% trans "Mass Start" %} {{forloop.counter}}:
					<span class="label label-default">{{w.event.date_time|time}}</span>
					<strong>{{w.name}}</strong>,
					{{w.event.name}},
					{{w.event.date_time|date}},
					{% trans 'Strs' %}: {{w.get_starters_str}}
					{% if w.is_late %}
						<span class="label label-warning">{% trans "Late Reg.  Alert Timing Immediately." %}</span>
					{% endif %}
					</h3>
				{% endfor %}
		{% endif %}
	{% endwith %}
	{% with swtt=p.get_start_wave_tts %}
		{% if swtt %}
			<hr/>
				{% for w in swtt %}
					<h3 {% if forloop.counter != 1 %}style="margin-top: 6px;"{% endif %}>
					{% trans "TT Start" %} {{forloop.counter}}:
					<span class="label label-default">
						{% if w.clock_time %}
							{% trans "Start Time" %}: {{w.clock_time|date:"g:i:s a"}}
						{% else %}
							{% trans "Unseeded" %}: {{w.event.date_time|time}}
						{% endif %}
					</span>&nbsp;
					<strong>{{w.name}}</strong>,
					{{w.event.name}},
					{{w.event.date_time|date:"Y-m-d"}},
					{% trans 'Strs' %}: {{w.get_starters_str}}
					{% if w.is_late %}
						<span class="label label-warning">{% trans "Late Reg.  Alert Timing Immediately." %}</span>
					{% endif %}
					</h3>
				{% endfor %}
		{% endif %}
	{% endwith %}
	{% if p.has_start_wave_tts %}
		<br/>
		<h4>{% trans "Participants are reminded to be at the start 15 minutes before their TT start time." %}</h4>
	{% endif %}
{% endif %}
	{% if isEdit and p.is_competitor %}
	{% with cat_part=p.get_category_participants %}
		<hr/>
		<h3>{% if cat_part|length <= 1 %}{% trans "Category" %}{% else %}{% trans "Categories" %}{% endif %}:
		{% if cat_part %}
			{% for cp in cat_part %}
				{% with errors_warnings=cp.get_errors_warnings %}
					{% if isEdit %}
						<a		{% if errors_warnings.0 %}  class="btn btn-danger"
								{% elif errors_warnings.1 %}class="btn btn-warning"
								{% else %}					class="btn btn-primary"
								{% endif %}
								href="{{cancelUrl}}ParticipantEdit/{{cp.id}}/"
						>
					{% else %}
						<span	{% if errors_warnings.0 %}  class="label label-danger"
								{% elif errors_warnings.1 %}class="label label-warning"
								{% else %}					class="label label-primary"
								{% endif %}
						>
					{% endif %}
							{% if errors_warnings.0 %}  {% trans "Error:" %}
							{% elif errors_warnings.1 %}{% trans "Warning:" %}
							{% endif %}
							{% if cp.category %}{{cp.category.code_gender}}{% else %}{% trans "No Category" %}{% endif %}
							-
							{% if cp.bib %} {% trans "Bib" %}: {{cp.bib}} {% else %}{% trans "No Bib" %}{% endif %}
						</a>
					{% if isEdit %}
						</a>
					{% else %}
						</span>
					{% endif %}
				{% endwith %}
			{% endfor %}
		{% else %}
			{% trans "None" %}
		{% endif %}
		{% if isEdit and add_multiple_categories %}
			<a class="btn btn-warning hidden-print" id="focus" href="./ParticipantAddToCompetitionDifferentCategoryConfirm/{{p.competition.id}}/{{p.license_holder.id}}">
				{% trans "Add Category" %}
			</a>
		{% endif %}
		</h3>
	{% endwith %}
	{% endif %}
<hr/>
	{% if isEdit %}
		{% with ewbac=participant.get_errors_warnings_bool_all_categories %}
			{% if not ewbac.0 and not ewbac.1 %}
				{% if participant.has_any_events or not participant.is_competitor %}
					<a class="btn btn-success hidden-print" id="focus" href="{{cancelUrl}}">
						{% trans "Complete and Accurate.  Proceed." %}
					</a>
				{% else %}
					<a class="btn btn-danger hidden-print" id="focus" href="{{cancelUrl}}">
						{% trans "No Events Selected.  Proceed anyway?" %}
					</a>
				{% endif %}
			{% elif not ewbac.0 %}
				{% if participant.has_any_events %}
					<a class="btn btn-warning hidden-print" id="focus" href="{{cancelUrl}}">
						{% trans "Warnings.  Proceed anyway?" %}
					</a>
				{% else %}
					<a class="btn btn-danger hidden-print" id="focus" href="{{cancelUrl}}">
						{% trans "No Events Selected.  Proceed anyway?" %}
					</a>
				{% endif %}
			{% else %}
				<a class="btn btn-danger hidden-print" id="focus" href="{{cancelUrl}}">
					{% trans "Errors.  Cannot Start.  Proceed anyway?" %}
				</a>
			{% endif %}
		{% endwith %}
		
		{% if system_info.print_tag_option != 0 %}
			&nbsp;&nbsp;&nbsp;
			<span style="font-size: 150%">{% trans "Print Numbers" %}:</span>
			{% if participant.is_competitor and participant.bib %}
				<span class="hidden-print">
					<a class="btn btn-primary" href="./ParticipantPrintBibLabels/{{p.id}}/">
						{% trans "Frame" %}
					</a>
					<a class="btn btn-primary" href="./ParticipantPrintBodyBib/{{p.id}}/1/">
						{% trans "1 Body" %}
					</a>
					<a class="btn btn-primary" href="./ParticipantPrintBodyBib/{{p.id}}/2/">
						{% trans "2 Body" %}
					</a>
					<a class="btn btn-primary" href="./ParticipantPrintShoulderBib/{{p.id}}/">
						{% trans "2 Shoulder" %}
					</a>
				</span>
				&nbsp;&nbsp;&nbsp;
			{% endif %}
			<a class="btn btn-primary" href="./ParticipantPrintEmergencyContactInfo/{{p.id}}/">{% trans 'Emergency Info' %}</a>
		{% endif %}
		&nbsp;&nbsp;&nbsp;
		<button class="btn btn-primary hidden-print" onclick="window.print();">{% trans "Voucher" %}</button>
	{% else %}
		<a class="btn btn-primary hidden-print" id="focus" href="{{cancelUrl}}">{% trans "Cancel" %}</a>
		<a class="btn btn-warning hidden-print" href="{{cancelUrl}}ParticipantDoDelete/{{p.id}}/">{% trans "OK" %}</a>
	{% endif %}

{% endwith %}
{% endblock content %}
