{% extends "base.html" %}
{% load date_fmt %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block srcjavascript %}
	{% if participant.competition.show_signature and participant.signature and not participant.is_jsignature %}
		<script type="text/javascript" src="{% static "js/scriptel-easyscript.js" %}"></script>
	{% endif %}
{% endblock srcjavascript %}

{% block javascript %}

	setTimeout( function(){ location.assign("{{cancelUrl}}"); }, 5*60*1000 );

	function sendEmail() {
		var email_value = "{{participant.license_holder.email}}";
		if( email_value )
			window.open('mailto:' + email_value);
	}
	function setHeaderStatus( s ) {
		var h = document.getElementById("header-status");
		var t = document.getElementById("header-status-text");
		if( s == 'danger' ) {
			h.className="alert alert-danger";
			t.innerHTML = '&#x25BC;{% trans "Errors" %}:&nbsp;';
		}
		else if ( s == 'warning' ) {
			h.className="alert alert-warning";
			t.innerHTML = '&#x25BC;{% trans "Warnings" %}:&nbsp';
		}
		else {
			h.className="alert alert-success";
			t.innerHTML = '&#x2705;{% trans "Success" %}:&nbsp';
		}
	}
{% endblock javascript %}

{% block onload %}
	{% if participant.competition.show_signature and participant.signature and not participant.is_jsignature %}
		var escript = new ScriptelEasyScript();
		var canvas = document.getElementById("signature");
		var ctx = canvas.getContext("2d");
		ctx.fillStyle="#FFFF88";
		ctx.fillRect(0,0,canvas.width,canvas.height);
		var sig = {{participant.signature|safe}};
		escript.drawSignatureOnCanvas(sig, canvas);
	{% endif %}
	
	{% include "antenna_watermark.html" %}
{% endblock onload %}

{% block content %}
<style>
.Row:hover {
	background-color: #EEE;
}
.table tbody>tr>td {
	vertical-align: middle;
	font-size: 135%;
	border-top: none;
	padding: 3px;
}

@media print {
  a[href]:after {
    content: none !important;
  }
}

</style>
<h3 class="visible-print">{% trans "Race Voucher" %}</h3>
<hr class="visible-print" />
{% if not isEdit %}<h2>{% trans "Participant Delete" %}</h2><hr/>{% endif %}
{% with p=participant h=participant.license_holder c=participant.competition edit_btn_style="btn btn-sm btn-success hidden-print"%}
<div id="header-status"><h2><span id="header-status-text"></span><strong>{{c.name}}</strong>: {{c.date_range_year_str}}</h2></div>
{% spaceless %}
{% if not h.eligible %}
	<div class="alert alert-danger">
		<h3><strong>{{h.first_name}} {{h.last_name}} {% trans "Not Eligible to Compete" %}</strong>.</h3>
		<br/>
		<h4>{% trans "Review the LicenseHolder screen, read the Notes, and set <strong>Eligible to Compete</strong> when resolved." %}
		<a class="btn btn-danger" href='./LicenseHolderEdit/{{h.id}}/'>{% trans "LicenseHolder" %}</a>
		</h4>
	</div>
{% endif %}
<table class="table table-hover table-condensed">
<tr onclick="jump({% if isEdit %}'./LicenseHolderEdit/{{h.id}}/'{% else %}'{{path}}'{% endif %});">
	<td class="text-right">{% trans "Participant" %}{% if not p.good_license or not p.good_emergency_contact %}&nbsp;<img src="{% static "images/warning.png" %}" style="width:20px;height:20px;"/>{% endif %}:</td>
	<td>
		<strong>{{h.full_name}}:</strong>
		{{h.get_gender_display}}
		{% if h.license_code %}
			{% if isEdit and h.is_temp_license %}<a class="btn btn-warning" href='./LicenseHolderEdit/{{h.id}}/'>{% endif %}
				{{h.license_code_trunc}}
			{% if isEdit and h.is_temp_license %}</a>{% endif %}
		{% endif %}
		&nbsp;
			{% if isEdit and h.uci_id_error %}<a class="btn btn-warning" href='./LicenseHolderEdit/{{h.id}}/'>{% endif %}
				{{h.get_flag_uci_id_html}}
			{% if isEdit and h.uci_id_error %}</a>{% endif %},
		{{h.get_location}}
		{% if isEdit %}
			{% if h.license_code and h.is_temp_license %}
				<br/><a class="btn btn-warning" href='./LicenseHolderEdit/{{h.id}}/'>{% trans "Fix License Code" %}</a>
			{% endif %}
			{% if h.uci_id and h.uci_id_error %}
				<br/><a class="btn btn-warning" href='./LicenseHolderEdit/{{h.id}}/'>{% trans "Fix UCI ID" %}</a>
			{% endif %}
			{% if h.emergency_contact_incomplete %}
				<br/><a class="btn btn-warning" href='./LicenseHolderEdit/{{h.id}}/'>{% trans "Fix Emergency Contact" %}</a>
			{% endif %}
		{% endif %}
	</td>
	<td>
		{% if isEdit %}
			<a class="{{edit_btn_style}}" href="./LicenseHolderEdit/{{h.id}}/">{% trans "Edit" %}</a>
		{% endif %}
	</td>
</tr>

{% if c.has_waiver %}
<tr onclick="jump({% if isEdit %}'./ParticipantWaiverChange/{{p.id}}/'{% else %}'{{path}}'{% endif %});">
	<td class="text-right">{% trans "Waiver" %}{% if p.has_unsigned_waiver %}&nbsp;<img src="{% static "images/error.png" %}" style="width:20px;height:20px;"/>{% endif %}:</td>
	<td>
		<strong>
			{% if not p.has_unsigned_waiver %}{% trans "Correct" %}
			{% elif p.non_existant_waiver %}<span class="label label-danger">{% trans "Missing" %}</span>
			{% else %}<span class="label label-danger">{% trans "Expired" %}</span>
			{% endif %}
		</strong>
	</td>
	<td>
		{% if isEdit %}
			<a class="{{edit_btn_style}}" href="./ParticipantWaiverChange/{{p.id}}/">{% trans "Edit" %}</a>
		{% endif %}
	</td>
</tr>
{% endif %}

{% if p.is_competitor %}
<tr onclick="jump({% if isEdit %}'./ParticipantPaidChange/{{p.id}}/'{% else %}'{{path}}'{% endif %});">
	<td class="text-right">{% trans "Paid" %}{% if not p.good_paid %}&nbsp;<img src="{% static "images/error.png" %}" style="width:20px;height:20px;"/>{% endif %}:</td>
	<td>
		{% if p.paid %}
			<span class="label label-default"><img src="{% static "images/glyphicons_206_ok_2.png" %}" > {% trans "Yes" %}</span>
		{% else %}
			<span class="label label-danger"><img src="{% static "images/glyphicons_207_remove_2.png" %}" > {% trans "No" %}</span>
		{% endif %}
		{% if p.is_seasons_pass_holder %} ({% trans "Season's Pass Holder" %}) {% endif %}
	</td>
	{% if isEdit %}
		<td><a class="{{edit_btn_style}}" href="./ParticipantPaidChange/{{p.id}}/">{% trans "Edit" %}</a></td>
	{% endif %}
</tr>
{% endif %}

<tr onclick="jump({% if request.user.is_superuser and isEdit %}'./ParticipantRoleChange/{{p.id}}/'{% else %}'{{path}}'{% endif %});">
	<td class="text-right">{% trans "Role" %}:</td>
	<td>
		<strong>{{p.get_role_display}}</strong>
		{% if p.is_competitor %}
			&nbsp;&nbsp;&nbsp;&nbsp;
			{% if is_suspicious_age and isEdit %}<a class="btn btn-warning" href='./LicenseHolderEdit/{{h.id}}/'>{% endif %}
				{% trans "Competition Age" %}: <strong>{{competition_age}}
			{% if is_suspicious_age and isEdit %}</a>{% endif %}</strong>
			{% if is_suspicious_age and isEdit %}
				<br/><a class="btn btn-warning" href='./LicenseHolderEdit/{{h.id}}/'>{% trans "Click here to fix Date of Birth" %}</span>
			{% endif %}
		{% endif %}
	</td>
	<td>
		{% if request.user.is_superuser and isEdit %}
			<a class="{{edit_btn_style}}" href="./ParticipantRoleChange/{{p.id}}/">{% trans "Edit" %}</a>
		{% endif %}
	</td>
</tr>

{% if tag_ok and p.is_with_team %}
<tr onclick="jump({% if isEdit %}'./ParticipantTeamChange/{{p.id}}/'{% else %}'{{path}}'{% endif %});">
	<td class="text-right">{% trans "Team" %}:</td>
	<td>
		{% if p.team %}
			<strong>{{p.team.name}}</strong><span>
			{% if p.team.code %}, {{p.team.code}}{% endif %}</span>,
			{{p.team.get_team_type_display}}<span>
			{% if p.team.nation_code %}, {{p.team.nation_code}}{% endif %}</span>
		{% else %}
			<strong>{% trans "Independent" %}</strong>
		{% endif %}
	</td>
	<td>
		{% if isEdit %}
			<a class="{{edit_btn_style}}" href="./ParticipantTeamChange/{{p.id}}/">{% trans "Edit" %}</a>
		{% endif %}
	</td>
</tr>
{% endif %}
{% if tag_ok and p.is_competitor %}
<tr onclick="jump({% if isEdit %}'./ParticipantCategoryChange/{{p.id}}/'{% else %}'{{path}}'{% endif %});">
	<td class="text-right">{% trans "Category" %}{% if not p.good_category %}&nbsp;<img src="{% static "images/error.png" %}" style="width:20px;height:20px;"/>{% endif %}:</td>
	<td>
		{% if p.category %}
			<strong>{{p.category.code}}:</strong>
			{{p.category.description}}, {{p.category.get_gender_display}}
		{% else %}
			{% if p.is_competitor %}<span class="label label-danger">{% endif %}
				{% trans "No category" %}
			{% if p.is_competitor %}</span>{% endif %}
		{% endif %} 
	</td>
	<td>
		{% if isEdit %}
			<a class="{{edit_btn_style}}" href="./ParticipantCategoryChange/{{p.id}}/">{% trans "Edit" %}</a>
		{% endif %}
	</td>
</tr>
{% endif %}
{% if p.category and is_license_check_required %}
	<tr onclick="jump({% if isEdit %}'./ParticipantLicenseCheckChange/{{p.id}}/'{% else %}'{{path}}'{% endif %});">
		<td class="text-right">{% trans "License Check" %}{% if not is_license_checked %}&nbsp;<img src="{% static "images/error.png" %}" style="width:20px;height:20px;"/>{% endif %}:</td>
		<td>
			{% if is_license_checked %} <strong>{% trans "Checked" %}</strong> {% else %} <span class="label label-danger">{% trans "Unchecked" %}</span> {% endif %}
		</td>
		{% if isEdit %}
			<td><a class="{{edit_btn_style}}" href="./ParticipantLicenseCheckChange/{{p.id}}/">{% trans "Edit" %}</a></td>
		{% endif %}
	</tr>
{% endif %}
{% if tag_ok and p.category and p.is_competitor and is_license_checked %}
	<tr onclick="jump({% if isEdit %}'./ParticipantBibChange/{{p.id}}/'{% else %}'{{path}}'{% endif %});">
		<td class="text-right">{% trans "Bib" %}{% if not p.good_bib %}&nbsp;<img src="{% static "images/error.png" %}" style="width:20px;height:20px;"/>{% endif %}:</td>
		<td>
			{% if p.bib %} <strong>{{p.bib}}</strong> {% else %} <span class="label label-danger">{% trans "No bib" %}</span> {% endif %}
		</td>
		{% if isEdit %}
			<td><a class="{{edit_btn_style}}" href="./ParticipantBibChange/{{p.id}}/">{% trans "Edit" %}</a></td>
		{% endif %}
	</tr>
{% endif %}
{% if c.using_tags and p.is_competitor and is_license_checked %}
	<tr onclick="jump({% if isEdit %}'./ParticipantTagChange/{{p.id}}/'{% else %}'{{path}}'{% endif %});">
		<td class="text-right">{% trans "Chip Tag" %}{% if not p.good_tag %}&nbsp;<img src="{% static "images/error.png" %}" style="width:20px;height:20px;"/>{% endif %}:</td>
		<td>
			{% if not p.get_tag_str %}
				 <span class="label label-danger">{% trans "No tag" %}</span>
			{% else %}
				<strong>{{p.get_tag_str}}</strong>
			{% endif %}
		</td>
		{% if isEdit %}
			<td><a class="{{edit_btn_style}}" href="./ParticipantTagChange/{{p.id}}/">{% trans "Edit" %}</a></td>
		{% endif %}
	</tr>
{% endif %}
{% if tag_ok and p.has_tt_events and p.is_competitor and is_license_checked  %}
	<tr onclick="jump({% if isEdit %}'./ParticipantEstSpeedChange/{{p.id}}/'{% else %}'{{path}}'{% endif %});">
		<td class="text-right">{% trans "Est. TT Speed" %}{% if not p.good_est_kmh %}&nbsp;<img src="{% static "images/warning.png" %}" style="width:20px;height:20px;"/>{% endif %}:</td>
		<td>
		{% with tt_est_time_text=p.get_tt_est_time_text %}
			{% if p.est_kmh > 0.0 %}
				<strong>{{p.est_speed_display}}</strong>{% if tt_est_time_text %}, {% trans "Est. TT Time" %}: <strong>{{tt_est_time_text}}</strong>{% endif %}
			{% else %}
				<span class="label label-warning"><img src="{% static "images/glyphicons_207_remove_2.png" %}" > {% trans "No" %}</span>
			{% endif %}
		{% endwith %}
		</td>
		{% if isEdit %}
			<td><a class="{{edit_btn_style}}" href="./ParticipantEstSpeedChange/{{p.id}}/">{% trans "Edit" %}</a></td>
		{% endif %}
	</tr>
{% endif %}
{% if tag_ok and c.show_signature and p.is_competitor and p.category and is_license_checked  %}
<tr onclick="jump({% if isEdit %}'./ParticipantSignatureChange/{{p.id}}/'{% else %}'{{path}}'{% endif %});">
	<td class="text-right">{% trans "Signature" %}{% if not p.good_signature %}&nbsp;<img src="{% static "images/error.png" %}" style="width:20px;height:20px;"/>{% endif %}:</td>
	<td>
	{% if p.signature %}
		{% if p.is_jsignature %}
			<img width="240" height="64" id="signature" src="data:{{p.signature|safe}}" style="background: #FFFF88"></image>
		{% else %}
			<canvas width="240" height="64" id="signature"></canvas>
		{% endif %}
	{% else %}
		<span class="label label-danger"><img src="{% static "images/glyphicons_207_remove_2.png" %}" > {% trans "No signature" %}</span>
	{% endif %}
	</td>
	{% if isEdit %}
		<td><a class="{{edit_btn_style}}" href="./ParticipantSignatureChange/{{p.id}}/">{% trans "Edit" %}</a></td>
	{% endif %}
</tr>
{% endif %}
{% if tag_ok and p.is_competitor and p.category and is_license_checked  %}
<tr {% if request.user.is_superuser and isEdit %}onclick="jump('./ParticipantPreregisteredChange/{{p.id}}/');"{% endif %}>
	<td class="text-right">{% trans "Preregistered" %}:</td>
	<td>
		{% if p.preregistered %}
			<span class="label label-default"><img src="{% static "images/glyphicons_206_ok_2.png" %}" > {% trans "Yes" %}</span>
		{% else %}
			<span class="label label-default"><img src="{% static "images/glyphicons_207_remove_2.png" %}" > {% trans "No" %}</span>
		{% endif %}
	</td>
	{% if request.user.is_superuser and isEdit %}
		<td><a class="{{edit_btn_style}}" href="./ParticipantPreregisteredChange/{{p.id}}/">{% trans "Edit" %}</a></td>
	{% endif %}
</tr>
{% endif %}
<tr onclick="jump({% if isEdit %}'./ParticipantNoteChange/{{p.id}}/'{% else %}'{{path}}'{% endif %});">
	<td class="text-right">{% trans "Competition Note" %}:</td>
	<td>{% if p.note %}{{p.note}}{% endif %}</td>
	{% if isEdit %}
		<td><a class="{{edit_btn_style}}" href="./ParticipantNoteChange/{{p.id}}/">{% trans "Edit" %}</a></td>
	{% endif %}
</tr>
<tr onclick="jump({% if isEdit %}'./ParticipantGeneralNoteChange/{{p.id}}/'{% else %}'{{path}}'{% endif %});">
	<td class="text-right">{% trans "General Note" %}:</td>
	<td>{% if h.note %}{{h.note}}{% endif %}</td>
	{% if isEdit %}
		<td><a class="{{edit_btn_style}}" href="./ParticipantGeneralNoteChange/{{p.id}}/">{% trans "Edit" %}</a></td>
	{% endif %}
</tr>
{% if tag_ok and p.has_optional_events and p.is_competitor %}
	<tr onclick="jump({% if isEdit %}'./ParticipantOptionChange/{{p.id}}/'{% else %}'{{path}}'{% endif %});">
		<td class="text-right">{% trans "Optional Events" %}{% if not p.has_any_events %}&nbsp;<img src="{% static "images/error.png" %}" style="width:20px;height:20px;"/>{% endif %}:</td>
		<td>
			{% for event, optional, is_participating in p.get_participant_events %}
				{% if optional %}
					{% if is_participating %}
						<span class="label label-success">&#x2713;{{event.short_name}}</span>&nbsp;
					{% else %}
						<span class="label label-default">{{event.short_name}}</span>&nbsp;
					{% endif %}
				{% endif %}
			{% endfor %}
		</td>
		{% if isEdit %}
			<td><a class="{{edit_btn_style}}" href="./ParticipantOptionChange/{{p.id}}/">{% trans "Edit" %}</a></td>
		{% endif %}
	</tr>
{% endif %}
</table>
{% endspaceless %}

{% if tag_ok and p.is_competitor %}
	{% with sw=p.get_start_waves %}
		{% if sw %}
			<hr/>
				{% for w in sw %}
					<h3 {% if forloop.counter != 1 %}style="margin-top: 6px;"{% endif %}>
					<span style="font-size:60%">{% trans "Mass Start" %} {{forloop.counter}}.</span> {{w.event.name}}:
					<strong>{{w.name}}</strong>,
					{% trans "Start Time" %}:
					<strong>{{w.get_start_time|time:"H:i:s"}},</strong>
					{% trans 'Starters' %}: {{w.get_starters_str}}
					{% if w.is_late %}
						<span style="font-size:80%;" class="alert alert-danger" role="alert">{% trans "Late Reg.  Alert Timing Immediately." %}</span>
					{% endif %}
					</h3>
				{% endfor %}
		{% endif %}
	{% endwith %}
	{% with swtt=p.get_start_wave_tts %}
		{% if swtt %}
			<hr/>
				{% for w in swtt %}
					<h3 {% if forloop.counter != 1 %}style="margin-top: 6px;"{% endif %}>
					<span style="font-size:60%">{% trans "Time Trial" %} {{forloop.counter}}.</span> {{w.event.name}}:
					<strong>{{w.name}}</strong>,			
					{% if w.clock_time %}
						{% trans "Start Time" %}: <strong>{{w.clock_time|time_hhmmss}}</strong>,
					{% else %}
						{% trans "Unseeded" %}: <strong>{{w.event.date_time|time_hhmm}}</strong>,
					{% endif %}
					{% trans "Starters" %}: {{w.get_starters_str}}
					{% if w.is_late %}
						<span class="label label-warning">{% trans "Late Reg.  Alert Timing Immediately." %}</span>
					{% endif %}
					</h3>
				{% endfor %}
		{% endif %}
	{% endwith %}
	{% if p.has_start_wave_tts %}
		<br/>
		<h4>{% trans "Participants are reminded to be at the start 15 minutes before their TT start time." %}</h4>
	{% endif %}
{% endif %}
	{% if tag_ok and isEdit and p.is_competitor %}
	{% with cat_part=p.get_category_participants %}
		<hr/>
		<h3>{% if cat_part|length <= 1 %}{% trans "Category" %}{% else %}{% trans "Categories" %}{% endif %}:
		{% if cat_part %}
			{% for cp in cat_part %}
				{% with errors_warnings=cp.get_errors_warnings %}
					{% if isEdit %}
						<a		{% if errors_warnings.0 %}  class="btn btn-danger"
								{% elif errors_warnings.1 %}class="btn btn-warning"
								{% else %}					class="btn btn-primary"
								{% endif %}
								href="{{cancelUrl}}ParticipantEdit/{{cp.id}}/"
						>
					{% else %}
						<span	{% if errors_warnings.0 %}  class="label label-danger"
								{% elif errors_warnings.1 %}class="label label-warning"
								{% else %}					class="label label-primary"
								{% endif %}
						>
					{% endif %}
							{% if errors_warnings.0 %}  {% trans "Error:" %}
							{% elif errors_warnings.1 %}{% trans "Warning:" %}
							{% endif %}
							{% if cp.category %}{{cp.category.code_gender}}{% else %}{% trans "No Category" %}{% endif %}
							-
							{% if cp.bib %} {% trans "Bib" %}: {{cp.bib}} {% else %}{% trans "No Bib" %}{% endif %}
						</a>
					{% if isEdit %}
						</a>
					{% else %}
						</span>
					{% endif %}
				{% endwith %}
			{% endfor %}
		{% else %}
			{% trans "None" %}
		{% endif %}
		{% if isEdit and add_multiple_categories %}
			<a class="btn btn-warning hidden-print" href="./ParticipantAddToCompetitionDifferentCategoryConfirm/{{p.competition.id}}/{{p.license_holder.id}}">
				{% trans "Add Category" %}
			</a>
		{% endif %}
		</h3>
	{% endwith %}
	{% endif %}
<hr/>
	{% if isEdit %}
		{% with ewbac=participant.get_errors_warnings_bool_all_categories %}
			{% if tag_ok and not ewbac.0 and not ewbac.1 %}
				{% if participant.has_any_events or not participant.is_competitor %}
					<a class="btn btn-success hidden-print" href="{{cancelUrl}}">
						{% trans "Complete and Accurate.  Proceed." %}
					</a>
					<script>setHeaderStatus('success');</script>
				{% else %}
					<a class="btn btn-danger hidden-print" href="{{cancelUrl}}">
						{% trans "No Events Selected.  Proceed anyway?" %}
					</a>
					<script>setHeaderStatus('danger');</script>
				{% endif %}
			{% elif tag_ok and not ewbac.0 %}
				{% if participant.has_any_events %}
					<a class="btn btn-warning hidden-print" href="{{cancelUrl}}">
						{% trans "Warnings.  Proceed anyway?" %}
					</a>
					<script>setHeaderStatus('warning');</script>
				{% else %}
					<a class="btn btn-danger hidden-print" href="{{cancelUrl}}">
						{% trans "No Events Selected.  Proceed anyway?" %}
					</a>
					<script>setHeaderStatus('danger');</script>
				{% endif %}
			{% else %}
				<a class="btn btn-danger hidden-print" href="{{cancelUrl}}">
					{% trans "Errors.  Cannot Start.  Proceed anyway?" %}
				</a>
				<script>setHeaderStatus('danger');</script>
			{% endif %}
		{% endwith %}
		
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a class="btn btn-primary" href="./ParticipantEmergencyContactInfo/{{p.id}}/">{% trans 'Emergency Info' %}</a>
		{% if tag_ok and system_info.print_tag_option != 0 %}
			&nbsp;&nbsp;&nbsp;
			<span style="font-size: 150%">{% trans "Print" %}:</span>
			{% if c.any_print and participant.is_competitor and participant.bib %}
				<span class="hidden-print">
					{% if system_info.print_tag_option == 1 %}
						<a class="btn btn-success" href="./ParticipantPrintAllBib/{{p.id}}/">{% trans "All Labels" %}</a>
					{% endif %}
					{% if c.bibs_label_print %}
						<a class="btn btn-primary" href="./ParticipantPrintBodyBib/{{p.id}}/2/">{% trans "2 Body Bibs" %}</a>
					{% endif %}
					{% if c.bib_label_print %}
						<a class="btn btn-primary" href="./ParticipantPrintBodyBib/{{p.id}}/1/">{% trans "1 Body Bib" %}</a>
					{% endif %}
					{% if c.bibs_laser_print %}
						<a class="btn btn-primary" href="./ParticipantPrintBodyBib/{{p.id}}/2/1/">{% trans "2 Body Bibs" %}</a>
					{% endif %}
					{% if c.shoulders_label_print %}
						<a class="btn btn-primary" href="./ParticipantPrintShoulderBib/{{p.id}}/">{% trans "2 Shoulder Nums" %}</a>
					{% endif %}
					{% if c.frame_label_print %}
						<a class="btn btn-primary" href="./ParticipantPrintBibLabels/{{p.id}}/">{% trans "2 Frame Nums" %}</a>
					{% endif %}
					{% if c.frame_label_print_1 %}
						<a class="btn btn-primary" href="./ParticipantPrintBibLabel1/{{p.id}}/">{% trans "1 Frame Num" %}</a>
					{% endif %}
				</span>
				&nbsp;&nbsp;&nbsp;
			{% endif %}
		{% endif %}
		{% if tag_ok %}
			<button class="btn btn-primary hidden-print" onclick="window.print();return false;">{% trans "Voucher" %}</button>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a class="btn btn-warning hidden-print" href="./ParticipantRemove/{{p.id}}/">{% trans "Delete" %}</a>
		{% endif %}
	{% else %}
		<a class="btn btn-primary hidden-print" href="{{cancelUrl}}">{% trans "Cancel" %}</a>
		<a class="btn btn-warning hidden-print" href="{{cancelUrl}}ParticipantDoDelete/{{p.id}}/">{% trans "OK" %}</a>
	{% endif %}

{% endwith %}
{% endblock content %}
