{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block srcjavascript %}
<script type="text/javascript" src="{% static "js/scriptel-easyscript.js" %}"></script>
{% endblock srcjavascript %}

{% block onload %}
	document.getElementById("div_id_signature").style.display = 'none';

	var escript = new ScriptelEasyScript();
	escript.addSignatureListener(document.body);
	escript.registerSignatureCallback(function(sig) {
		var signature_text = document.getElementById("id_signature");
		signature_text.value = JSON.stringify( sig );
		document.getElementById("id_signature_form").submit();
	});
{% endblock onload %}

{% block content %}

<h2><strong>{{participant.license_holder.full_name}}</strong></h2>
{% if participant.team %}
	<h3><strong>{{participant.team.name}}</strong>
	</h3>
{% endif %}
{% if participant.category %}
	<h3>{% trans "Category" %}: <strong>{{participant.category.code}}:</strong>
	{{participant.category.get_gender_display}}, {{participant.category.description}}
	</h3>
{% endif %} 
<hr/>
<h3>
{% trans "Ask the participant to sign on the signature pad, then use the Pen to press OK." %}
</h3>
<hr/>
<h2>
{% trans "I confirm that I am" %}
<strong>{{participant.license_holder.first_name}} {{participant.license_holder.last_name}}</strong>,
{% if participant.category %}
	{% trans "racing category" %} <strong>{{participant.category.code}}:</strong>,
	{% trans "and my date of birth is " %}
	<strong>{{participant.license_holder.date_of_birth|date:"Y-m-d"}}</strong>.
{% else %}
	{% trans "and my date of birth is " %}
	<strong>{{participant.license_holder.date_of_birth|date:"Y-m-d"}}</strong>.
{% endif %}
</h2>
<hr/>
{% crispy form %}
<p/>
<div class="row hidden-print">
	<div class="col-md-12 text-right">
		<a class="btn btn-primary" href="./SetSignatureWithTouchScreen/1/">{% trans "Get Signature with Touch Screen" %}</a>
	</div>
</div>
{% endblock content %}
