{% extends "base.html" %}
{% block content %}
{% load i18n %}
{% load crispy_forms_tags %}
<h2>{{title}}: <strong>{{competition.name}}</strong></h2>
{% crispy form %}
{% if missing_category_count %}
	<br/><h3>{{missing_category_count}} {% trans "Participant(s) are missing a Category (Search Category: *** Missing ***)" %}</h3>
{% endif %}
{% if missing_bib_count %}
	<br/><h3>{{missing_bib_count}} {% trans "Participant(s) are missing a Bib (Search Bib: -1)" %}</h3>
{% endif %}
<style>
.table tbody>tr>td {
    vertical-align: middle;
}
.isfalse {
    background-color: #FF7878;
}
</style>
{% include "show_count.html" %}
{% spaceless %}
{% with using_waiver=competition.has_waiver using_tags=competition.using_tags using_signature=competition.show_signature %}
<table class="table table-striped table-hover table-condensed">
<thead>
	<tr>
		<th></th>
		<th></th>
		<th>{% trans "Name" %}</th>
		<th>{% trans "Gender" %}</th>
		<th>{% trans "Category" %}</th>
		<th>{% trans "Bib" %}</th>
		{% if using_tags %}<th>{% trans "Tag" %}</th>{% endif %}
		{% if using_waiver %}<th>{% trans "Waiver" %}</th>{% endif %}
		<th>{% trans "Paid" %}</th>
		{% if using_signature %}<th>{% trans "Sig." %}</th>{% endif %}
		<th>{% trans "Confirmed" %}</th>
		<th>{% trans "Team" %}</th>
		<th>{% trans "Role" %}</th>
		<th>{% trans "License" %}</th>
		<th>{% trans "UCI Code" %}</th>
		<th>{% trans "State/Prov" %}</th>
		<th class="hidden-print"></th>
	</tr>
</thead>
<tbody>
	{% for p in participants %}
		{% with h=p.license_holder %}
		<tr onclick="jump('./ParticipantEdit/{{p.id}}/');">
			<td>{% if not p.is_done %}
					{% if not p.can_start %}
						{{error_img}}
					{% else %}
						{{warning_img}}
					{% endif %}
				{% endif %}
			</td>
			<td class="text-right">{{forloop.counter}}.</td>
			<td>{{p.license_holder.full_name}}</td>
			<td>{{h.get_gender_display}}</td>
			<td>{% if p.role == 110 %}{% if p.category %}{{p.category.code}}{% else %}{{error_img}}{% endif %}{% endif %}</td>
			<td class="text-right">{% if p.bib %}{{p.bib|safe}}{% else %}{{error_img}}{% endif %}</td>
			{% if using_tags %}
				<td>{% if p.get_tag_str %}{{p.get_tag_str|safe}}{% else %}{{error_img}}{% endif %}</td>
			{% endif %}
			{% if using_waiver %}
				<td class="text-center">
					{% if p.good_waiver %}{{good_img}}{% else %}{{error_img}}{% endif %}
				</td>
			{% endif %}
			<td class="text-center">
				{% if p.role == 110 %}
					{% if p.paid %}{{good_img}}{% else %}{{error_img}}{% endif %}
				{% endif %}
			</td>
			{% if using_signature %}
				<td class="text-center">
					{% if p.good_signature %}{{good_img}}{% else %}{{error_img}}{% endif %}
				</td>
			{% endif %}
			<td class="text-center">
				{% if p.role == 110 %}
					{% if p.confirmed %}{{good_img}}{% else %}{{bad_img}}{% endif %}
				{% endif %}
			</td>
			<td>{% if p.team %}{{p.team.name}}{% endif %}</td>
			<td>{{p.get_role_display|safe}}</td>
			<td>{{h.license_code_trunc}}</td>
			<td class="text-nowrap">{{p.uci_info}}</td>
			<td>{{h.state_prov}}</td>
			<td class="hidden-print">
				<a class="btn btn-warning btn-sm" href="./ParticipantRemove/{{p.id}}/">{% trans "Remove" %}</a>
				<a class="btn btn-success btn-sm" href="./ParticipantEdit/{{p.id}}/">{% trans "Edit" %}</a>
			</td>
		</tr>
		{% endwith %}
		{% if forloop.last %}<script>set_show_count( {{forloop.counter}} );</script>{% endif %}
	{% endfor %}
</tbody>
</table>
{% endwith %}
{% endspaceless %}
{% endblock content %}
