{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block content %}

<script type="text/javascript" src="{% static "js/qrcode.min.js" %}"></script>

<br/><br/><br/>
<h2>{{qrpath}}</h2>
<br/><br/><br/>
<div id="qrcode"></div>
<script type="text/javascript">
new QRCode("qrcode", {
    text: "{{qrpath}}",
    width: 440,
    height: 440,
    colorDark : "#000000",
    colorLight : "#ffffff",
    correctLevel : QRCode.CorrectLevel.H
});
</script>
<br/><br/>
{% if qrcode_note %}<h3>{{qrcode_note}}</h3>{% endif %}
<br/>
<a href="{{cancelUrl}}"><img src="{% static "images/RaceDB.png" %}" alt="RaceDB"/></a>
<a class="btn btn-primary hidden-print" id="focus" href="{{cancelUrl}}">{% trans "OK" %}</a>
{% endblock content %}
