{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block srcjavascript %}
<script type="text/javascript" src="{% static "js/RowSorter.js" %}"></script>
{% endblock srcjavascript %}

{% block onload %}
setRowSorter('ReportLabel', 'sort_table_id');
{% endblock onload %}

{% block content %}

<h2>{{title}}</h2>
<hr class="hidden-print"/>
{% crispy form %}
<p>{% trans "Drag and drop rows to change sequence." %}</p>
{% include "show_count.html" %}
<table class="table table-striped table-hover table-condensed" id="sort_table_id">
<thead>
	<tr>
		<th></th>
		<th>{% trans "Name" %}</th>
		<th class="hidden-print"></th>
	</tr>
</thead>
<tbody>
	{% for r in report_labels %}
		<tr id={{r.id}}>
			<td class="text-right">{{forloop.counter}}.</td>
			<td>{{r.name}}</td>
			<td class="hidden-print">
				<a class="btn btn-warning" href="./ReportLabelDelete/{{r.id}}/">{% trans "Delete" %}</a>
				<a class="btn btn-success" href="./ReportLabelEdit/{{r.id}}/">{% trans "Edit" %}</a>
			</td>
		</tr>
		{% if forloop.last %}<script>set_show_count( {{forloop.counter}} );</script>{% endif %}
	{% endfor %}
</tbody>
</table>
{% endblock content %}
