{% extends "base.html" %}
{% block content %}

{% load i18n %}
{% load crispy_forms_tags %}
<h2>{{title}}</h2>
<h2><strong>{{license_holder.full_name}}</strong></h2>
{% if participant.team %}
	<h2>{% trans "Team"%}: <strong>{{participant.team.name}}</strong>
	</h2>
{% endif %}
{% if participant.category %}
	<h2>{% trans "Category" %}: <strong>{{participant.category.code}}:</strong>
	{{participant.category.description}}, {{participant.category.get_gender_display}}
	</h2>
{% endif %} 
<hr/>

<h3>{% trans "Status" %}: {% if status %}{% trans "Success" %} {% else %} {% trans "Failure" %} {% endif %}</h3>
<dl>
{% for se in status_entries %}
	<dt>{{se.0}}</dt>
	{% for line in se.1 %}
		<dd>{{line|linebreaks}}</dd>
	{% endfor %}
	<br/>
{% endfor %}
</dl>

{% if conflict_explanation %}
	<hr/>
	<h3>{{conflict_explanation}}</h3>
	<h4>{{conflict_participant}}</h4>
{% endif %}

<hr/>
<a class="btn btn-primary" href="{{path}}">{% trans "OK" %}</a>
{% endblock content %}
