{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load staticfiles %}

{% block srcjavascript %}
<script type="text/javascript" src="{% static "js/RowSorter.js" %}"></script>
{% endblock srcjavascript %}

{% block onload %}
setRowSorter('SeasonsPass','sort_table_id');
{% endblock onload %}

{% block content %}

<h2>{{title}}</h2>
<hr class="hidden-print"/>
{% crispy form %}
<p>{% trans "Drag and drop rows to change sequence." %}</p>
{% include "show_count.html" %}
{% spaceless %}
<table class="table table-striped table-hover table-condensed" id='sort_table_id'>
<thead>
	<tr>
		<th></th>
		<th>{% trans "Name" %}</th>
		<th class="text-center">{% trans "#" %}</th>
		<th class="hidden-print"></th>
	</tr>
</thead>
<tbody>
	{% for r in seasons_passes %}
		<tr id={{r.id}}>
			<td class="text-right">{{forloop.counter}}.</td>
			<td>{{r.name}}</td>
			<td class="text-center">{{r.holders_count}}</td>
			<td class="hidden-print">
				<a class="btn btn-warning" href="./SeasonsPassDelete/{{r.id}}/">{% trans "Delete" %}</a>
				&nbsp;&nbsp;
				<a class="btn btn-warning" href="./SeasonsPassCopy/{{r.id}}/">{% trans "Copy" %}</a>
				&nbsp;&nbsp;
				<a class="btn btn-success" href="./SeasonsPassEdit/{{r.id}}/">{% trans "Edit" %}</a>
			</td>
		</tr>
		{% if forloop.last %}<script>set_show_count( {{forloop.counter}} );</script>{% endif %}
	{% endfor %}
</tbody>
</table>
{% endspaceless %}
{% endblock content %}
