{% extends "base.html" %}
{% block content %}
{% load date_fmt %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
<h1>{{title}}</h1>
<hr/>
{% crispy form %}

<hr/>
<h3>{% trans "Season's Pass Holders" %}: {{instance.holders_count}}</h3>

{% spaceless %}
<table class="table table-striped table-hover table-condensed">
<thead>
	<tr>
		<th></th>
		<th>{% trans "Name" %}</th>
		<th>{% trans "Gender" %}</th>
		<th>{% trans "Date of Birth" %}</th>
		<th>{% trans "Location" %}</th>
		<th>{% trans "License" %}</th>
		<th class="text-nowrap">{% trans "UCI ID" %}</th>
		<th class="hidden-print"></th>
	</tr>
</thead>
<tbody>
	{% for spe in seasons_pass_entries %}
		{% with lh=spe.license_holder %}
			<tr onclick="jump('./LicenseHolderEdit/{{lh.id}}/');">
				<td class="text-right">{{forloop.counter}}.</td>
				<td>{{lh.full_name}}</td>
				<td>{{lh.get_gender_display}}</td>
				<td>{{lh.date_of_birth|date_short}}</td>
				<td>{{lh.get_location}}</td>
				<td>{{lh.license_code_trunc}}</td>
				<td class="text-nowrap">{{lh.get_flag_uci_id_html}}</td>
				<td class="hidden-print">
					<a class="btn btn-warning" href="./SeasonsPassHolderRemove/{{spe.id}}/">{% trans "Remove" %}</a>
					&nbsp;&nbsp;
					<a class="btn btn-success" href="./LicenseHolderEdit/{{lh.id}}/">{% trans "Edit" %}</a>
				</td>
			</tr>
		{% endwith %}
	{% endfor %}
</tbody>
</table>
{% endspaceless %}

{% endblock content %}
