{% extends "base.html" %}

{% block content %}
{% load date_fmt %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
<style>
.adjustment {
	width: 50px;
}
.est_speed {
	width: 50px;
	text-align: right;
}
</style>

<h2 class="hidden-print">{{title}}</h2>
<h2><strong>{{instance.competition.name}}</strong></h2>
<h2><strong>{{instance.name}}</strong>: {{instance.date_time|date_hhmm}}</h2>
<div class="hidden-print">
<hr/>
<button class="btn btn-warning" href="./GenerateStartTimes/{{instance.pk}}">{% trans "Regenerate Start Times from Rules (disregards Adjustments)" %}</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a class="btn btn-primary" href="{{cancelUrl}}">{% trans "OK" %}</a>
<hr/>
</div>
{% with bsc=instance.get_bad_start_count %}
	{% if bsc > 0 %}
		<div class="alert alert-danger" role="alert">
			<h4>
				{% trans "Starters Missing Critical Information" %}: {{instance.get_bad_start_count}}<br/>
				{% trans "Make sure to check all entries before starting." %}
			</h4>
		</div>
	{% endif %}
{% endwith %}
<h2 class="visible-print">{% trans "Waves" %}</h2>
{% spaceless %}
<table class="table table-striped table-hover">
<thead>
	<tr>
		<th></th>
		<th>{% trans "Wave" %}</th>
		<th>{% trans "Categories" %}</th>
		<th>{% trans "Sequence" %}</th>
		<th>{% trans "Gap Rules" %}</th>
		<th class="text-center">{% trans "Starters" %}</th>
		{% if late_reg_exists %}<th class="text-center">{% trans "Late Reg" %}</th>{% endif %}
		<th class="hidden-print"></th>
	</tr>
</thead>
<tbody>
	{% for w in wave_tts %}
		<tr onclick="jump('./WaveTTEdit/{{w.id}}/');">
			<td class="text-right">{{forloop.counter}}.</td>
			<td>{{w.name}}</td>
			<td>{{w.category_text}}</td>
			<td>{{w.get_sequence_option_str}}</td>
			<td>{{w.gap_rules_text}}</td>
			<td class="text-center">{{w.get_starters_str}}</td>
			{% if late_reg_exists %}<td class="text-center">{{w.get_late_reg.count}}</td>{% endif %}
			<td class="hidden-print">
				{% if request.user.is_superuser %}
					<a class="btn btn-success btn-xs" href="./WaveTTEdit/{{w.id}}/">{% trans "Edit" %}</a>
				{% endif %}
			</td>
		</tr>
	{% endfor %}
</tbody>
</table>
{% endspaceless %}
{% spaceless %}
<div class="hidden-print">
{% with duplicate_bibs=instance.get_duplicate_bibs %}
	{% if duplicate_bibs %}
		<hr/>
		<h2>{% trans "Duplicate Bib Numbers:" %}</h2>
		{% for db in duplicate_bibs %}
			{{db}}<br/>
		{% endfor %}
	{% endif %}
{% endwith %}
</div>
{% endspaceless %}
<style>
	.gap-change {
		border-top: 3px solid #000;
	}
	.gap-change-inc {
		border-top: 2px solid #006400;
	}
	.gap-change-dec {
		border-top: 2px solid #640000;
	}
</style>

<h2>{% trans "Start List" %}</h2>
{% spaceless %}
<table class="table table-striped table-hover table-condensed participant_table">
<thead>
	<tr>
		<th></th>
		<th class="text-right">{% trans "Clock" %}</th>
		<th class="text-right">{% trans "Stopwatch" %}</th>
		<th>{% trans "Bib" %}</th>
		<th>{% trans "Name" %}</th>
		<th>{% trans "Team" %}</th>
		<th>{% trans "Category" %}</th>
		<th>{% trans "NatCode" %}</th>
		<th>{% trans "Wave" %}</th>
		<th>{% trans "Est" %} {{instance.competition.speed_unit_display}}</th>
		<th>{% trans "Seed Option" %}</th>
		<th></th>
	</tr>
</thead>
<tbody>
	{% for e in entry_tts %}
		{% with w=e.wave p=e.participant h=.participant.license_holder %}
		<tr {% if e.gap_change > 0 %}class="gap-change-inc"{% elif e.gap_change < 0 %}class="gap-change-dec"{% endif %}>
			<td class="text-right">{% if not p.can_start %}<img src="{% static "images/error.png" %}" style="width:20px;height:20px;"/>&nbsp;&nbsp;{% endif %}{{forloop.counter}}.</td>
			<td class="text-right">{{e.clock_time | time:"H:i:s"}}</td>
			<td class="text-right">{{e.start_time}}</td>
			<td class="text-right">{% if p.bib %}{{p.bib}}{% endif %}</td>
			<td>{{p.license_holder.full_name}}</td>
			<td>{% if p.team %}{{p.team.name}}{% endif %}</td>
			<td>{% if p.category %}{{p.category.code_gender}}{% endif %}</td>
			<td class="text-nowrap">{{h.get_nation_code_html}}</td>
			<td>{{w.name}}</td>
			<td>{{e.est_speed}}</td>
			<td>{{e.seed_option}}</td>
			<td><a class="btn btn-success btn-xs" href="./SeedingEditEntry/{{instance.id}}/{{e.entry_tt_i}}/">{% trans "Adjust" %}</a></td>
		</tr>
		{% endwith %}
	{% endfor %}
</tbody>
</table>
{% endspaceless %}
{% endblock content %}
