{% extends "base.html" %}

{% block content %}
{% load i18n %}
{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}
<style>
.adjustment {
	width: 50px;
}
.est_speed {
	width: 50px;
	text-align: right;
}
</style>

<h2 class="hidden-print">{{title}}</h2>
<h2><strong>{{instance.competition.name}}</strong></h2>
<h2><strong>{{instance.name}}</strong>: {{instance.date_time}}</h2>
<div class="hidden-print">
<hr/>
{% trans "Change the seeding by entering values in the <strong>Adjust</strong> field, then pressing the <strong>Apply Adjustments</strong> button  (or press Enter)." %}<br/>
{% trans "Adjustments can be made relative to the current position by enter a number leading with +/-, or you can specify a new position by entering the number on its own." %}<br/>
{% trans "Examples" %}:
<p>
<ul>
<li>{% trans "Adjust -2 to move a Participant two places earlier." %}</li>
<li>{% trans "Adjust +3 to move a Participant three places later." %}</li>
<li>{% trans "Adjust 11 to move a Participant to position 11." %}</li>
</ul>
</p>
<p>
{% trans "<strong>Seed Option</strong> is used to seed a rider Early or Late in the start wave.  Early or Late riders will be seeded amongst themselves with the Sequence criteria." %}
</p>
{% trans "Apply your changes with 'Apply Adjustments' (or press Enter)." %}
<hr/>
<form method="post" action=".">
{% csrf_token %}
{{ adjustment_formset.management_form }}
<button type="submit" name="apply_adjustments" class="btn btn-success">{% trans "Apply Adjustments" %}</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button type="submit" name="regenerate_start_times" class="btn btn-warning">{% trans "Regenerate Start Times from Rules (disregards Adjustments)" %}</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a class="btn btn-primary" href="{{cancelUrl}}">{% trans "OK" %}</a>
<hr/>
</div>
{% with bsc=instance.get_bad_start_count %}
	{% if bsc > 0 %}
		<div class="alert alert-danger" role="alert">
			<h4>
				{% trans "Starters Missing Critical Information" %}: {{instance.get_bad_start_count}}<br/>
				{% trans "Make sure to check all entries before starting." %}
			</h4>
		</div>
	{% endif %}
{% endwith %}
<h2 class="visible-print">{% trans "Waves" %}</h2>
{% spaceless %}
<table class="table table-striped table-hover">
<thead>
	<tr>
		<th>{% trans "Wave" %}</th>
		<th>{% trans "Categories" %}</th>
		<th>{% trans "Sequence" %}</th>
		<th>{% trans "Gap Rules" %}</th>
		<th class="text-center">{% trans "Strs" %}</th>
		{% if late_reg_exists %}<th class="text-center">{% trans "Late Reg" %}</th>{% endif %}
		<th class="hidden-print"></th>
	</tr>
</thead>
<tbody>
	{% for w in instance.wavett_set.all %}
		<tr onclick="jump('./WaveTTEdit/{{w.id}}/');">
			<td>{{w.name}}</td>
			<td>{{w.category_count_text}}</td>
			<td>{{w.get_sequence_option_display}}</td>
			<td>{{w.gap_rules_text}}</td>
			<td class="text-center">{{w.get_starters_str}}</td>
			{% if late_reg_exists %}<td class="text-center">{{w.get_late_reg.count}}</td>{% endif %}
			<td class="hidden-print">
				{% if request.user.is_superuser %}
					<a class="btn btn-success btn-xs" href="./WaveTTEdit/{{w.id}}/">{% trans "Edit" %}</a>
				{% endif %}
			</td>
		</tr>
	{% endfor %}
</tbody>
</table>
{% endspaceless %}
{% spaceless %}
<div class="hidden-print">
{% with duplicate_bibs=instance.get_duplicate_bibs %}
	{% if duplicate_bibs %}
		<hr/>
		<h2>{% trans "Duplicate Bib Numbers:" %}</h2>
		{% for db in duplicate_bibs %}
			{{db}}<br/>
		{% endfor %}
	{% endif %}
{% endwith %}
</div>
{% endspaceless %}
<style>
	table.participant_table tr td {
		font-size: 75%;
	}
	table.participant_table tr th {
		font-size: 75%;
	}
	.gap-change {
		border-top: 3px solid #000;
	}
	.gap-change-inc {
		border-top: 2px solid #006400;
	}
	.gap-change-dec {
		border-top: 2px solid #640000;
	}
</style>

<h2>{% trans "Start List" %}</h2>

{% spaceless %}
<table class="table table-striped table-hover table-condensed participant_table">
<thead>
	<tr>
		<th></th>
		<th class="text-right">{% trans "Clock" %}</th>
		<th class="text-right">{% trans "Stopwatch" %}</th>
		<th>{% trans "Bib" %}</th>
		<th>{% trans "Name" %}</th>
		<th>{% trans "Team" %}</th>
		<th>{% trans "Category" %}</th>
		<th>{% trans "UCI Code" %}</th>
		<th>{% trans "Wave" %}</th>
		<th>{% trans "Est" %} {{instance.competition.speed_unit_display}}</th>
		<th>{% trans "Seed Option" %}</th>
		<th>{% trans "Adjust" %}</th>
	</tr>
</thead>
<tbody>
	{% for form in adjustment_formset %}
		{% with e=form.entry_tt w=form.wave p=form.entry_tt.participant h=form.entry_tt.participant.license_holder %}
		<tr {% if form.gap_change > 0 %}class="gap-change-inc"{% elif form.gap_change < 0 %}class="gap-change-dec"{% endif %}>
			<td class="text-right">{% if not p.can_start %}<img src="{% static "images/error.png" %}" style="width:20px;height:20px;"/>&nbsp;&nbsp;{% endif %}{{forloop.counter}}.</td>
			<td class="text-right">{{e.clock_time | time:"g:i:s a"}}</td>
			<td class="text-right">{{e.start_time}}</td>
			<td class="text-right">{% if p.bib %}{{p.bib}}{% endif %}</td>
			<td>{{p.license_holder.full_name}}</td>
			<td>{% if p.team %}{{p.team.name}}{% endif %}</td>
			<td>{% if p.category %}{{p.category.code_gender}}{% endif %}</td>
			<td><span style="white-space: nowrap;">
			{% if h.uci_code %}
				{% if h.uci_country %} <img class="flag" src="{% get_static_prefix %}flags/{{h.uci_country}}.png" ></img>{% endif %}
				<span>{{h.uci_code}}</span>
			{% endif %}
			</span></td>
			<td>{{w.name}}</td>
			<td>{{form.est_speed}}</td>
			<td>{{form.seed_option}}</td>
			<td>{{form.adjustment}}{{form.entry_tt_pk}}</td>
		</tr>
		{% endwith %}
	{% endfor %}
</tbody>
</table>
{% endspaceless %}
</form>
{% endblock content %}
