{% extends "base.html" %}

{% load static %}
{% load staticfiles %}
{% load i18n %}

{% block onload %}
	{% if license_holder or status_entries or errors %}
		setTimeout(function(){ window.location.href="{{path_noargs}}"; }, 60*1000);
	{% endif %}
	$('img').click(function() {
		var srcCur = $(this).attr('src');
		var btns = ['scan', 'ok', 'cancel'];
		for( var i = 0; i < btns.length; ++i ) {
			if( srcCur.indexOf(btns[i]) != -1 ) {
				$(this).attr('src', $("#" + btns[i] + "-deselect").attr('src'));
				$('*').css("cursor", "progress");
				break;
			}
		}
	});
	
	{% comment %}
		Force a logout during the night to reset to the next day's competition.
	{% endcomment %}
	var today = new Date();
	var tomorrow = new Date(today.getFullYear(),today.getMonth(),today.getDate()+1, 3,14,15,926);
	setTimeout(function(){ window.location.href="{{path_noargs}}2"; }, tomorrow-today);
{% endblock onload %}

{% block content %}
<style>
table.info-table tr td { font-size: 125%; }
table.info-table tr th { font-size: 125%; }

ul.warning-list li { font-size: 150%; }
ul.error-list li { font-size: 150%; }

div.title {
    display:flex;
    align-items:center;
}

</style>
<p/>
<div style="display:none">
	<img id="ok-deselect" src="{% static "images/ok-btn-deselect-big.png" %}" />
	<img id="scan-deselect" src="{% static "images/scan-btn-deselect-big.png" %}" />
	<img id="cancel-deselect" src="{% static "images/cancel-btn-deselect-big.png" %}" />
</div>
<div class="title">
<h3><a href="{{path_noargs}}2"><img src="{% static "images/RaceDB.png" %}" alt="RaceDB"/></a> {% trans "Self-Serve" %}
	{% if rfid_antenna %}{% trans "Antenna" %} {{rfid_antenna}} {% endif %}
	<a href="{{cancelUrl}}SelfServe/SelfServeQR/"><img src="{% static "images/glyphicons_258_qrcode.png" %}" alt="QRCode"/></a>
</h3>
</div>
<br/>
{% if competition %}
	<h2><strong>{{competition.title}}</strong> <span style="font-size: 80%">{{competition.date_range_str}}</span></h2>
	<hr/>
{% endif %}
{% if form %}
	{% comment %}-------------------------------------------------------------------------------{% endcomment %}
	{% load crispy_forms_tags %}
	{% crispy form %}
{% elif confirm_logout %}
	{% comment %}-------------------------------------------------------------------------------{% endcomment %}
	<h2>{% trans "Leave Self-Serve" %}</h2>
	<h3>{% trans "Are you sure?" %}</h3>
	<br/>
	<a href="{{path_noargs}}3"><img src="{% static "images/ok-btn-big.png" %}"/></a>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="{{path_noargs}}"><img src="{% static "images/cancel-btn-big.png" %}"/></a>
{% else %}
	{% comment %}-------------------------------------------------------------------------------{% endcomment %}
	{% if not do_scan and not errors %}
		<h2>{% trans "Read RFID Tag" %}</h2>
		<br/>
		<h4>{% trans "Hold RFID tag to Antenna and press SCAN" %}</h4>
		<br/>
		<a href="{{path_noargs}}1"><img src="{% static "images/scan-btn-big.png" %}"/></a>	
	{% elif status_entries %}
		{% comment %}-------------------------------------------------------------------------------{% endcomment %}
		<div class="alert alert-danger">
			<h3>{% trans "Tag Read Failure" %}</h3>
			<br/>
			<h4>{% trans "Please try again." %}</h4>
			<br/>
			<h4>{% trans "If it still doesn't work, you MUST see the registration desk." %}</h4>
		</div>
		<br/>
		<dl>
		{% for se in status_entries %}
			<dt>{{se.0}}</dt>
			{% for line in se.1 %}
				<dd>{{line|linebreaks}}</dd>
			{% endfor %}
		{% endfor %}
		</dl>
		<br/>
		<a href="{{path_noargs}}"><img src="{% static "images/ok-btn-big.png" %}"/></a>
	{% elif errors %}
		{% comment %}-------------------------------------------------------------------------------{% endcomment %}
		{% if license_holder %}
			{% with h=license_holder %}
				<h2>{{h.first_name}} {{h.last_name}}</h2>
				<h4 style="margin-left: 30px;">
					{{h.get_gender_display}} {{h.license_code_trunc}}&nbsp;&nbsp;
					{% if h.uci_id %}
						<span class="text-nowrap">{{h.flag_get_uci_id_html}}</span>
					{% elif h.get_uci_html %}
						<span class="text-nowrap">{{h.get_uci_html}}</span>
					{% else %}
						<span class="text-nowrap">{% trans "DOB" %}: {{h.date_of_birth|date:"Y-m-d"}}</span>
					{% endif %}
				</h4>
				<br/>
			{% endwith %}
		{% endif %}
		<div class="alert alert-danger">
			<h3>{% trans "Not Ready to Race!" %}</h3>
			<h3>{% trans "You MUST see the registration desk" %}.</h3>
		</div>
		<ul class="error-list">
		{% for e in errors %}
			<li>{{e}}</li>
		{% endfor %}
		</ul>
		{% if warnings %}
			<div class="alert alert-warning">
				<h3>{% trans "Please help us with the following" %}:</h3>
			</div>
			<ul class="warning-list">
				{% for w in warnings %}
					<li>{{w}}</li>
				{% endfor %}
			</ul>
		{% endif %}
		<br/>
		<a href="{{path_noargs}}"><img src="{% static "images/ok-btn-big.png" %}"/></a>
	{% elif license_holder %}
		{% comment %}-------------------------------------------------------------------------------{% endcomment %}
		{% with h=license_holder %}
			<h2>{{h.first_name}} {{h.last_name}}</h2>
			<h4 style="margin-left: 30px;">
				{{h.get_gender_display}} {{h.license_code_trunc}}&nbsp;&nbsp;
				<span class="text-nowrap">{{h.get_flag_uci_id_html}}</span>
			</h4>
		{% endwith %}
		<br/>
			<div class="alert alert-success">
				<h2>{% trans "Registration Confirmed." %}</h2>
				<h2>{% trans "Ready to Race." %}</h2>
			</div>
		<table class="table info-table" style="width: auto">
		<thead>
			<tr>
				<th>{% trans "Bib" %}</th>
				<th>{% trans "Team" %}</th>
				<th>{% trans "Category" %}</th>
				<th>{% trans "Event" %}</th>
			</tr>
		</thead>
		<tbody>
		{% for p in participants %}
			<tr>
				<td class="text-right">{% if p.bib %}{{p.bib}}{% else %}{% trans "None" %}{% endif %}</td>
				<td>{% if p.team %}{{p.team.name}}{% else %}{% trans "No Team / Independent" %}{% endif %}</td>
				<td>{{p.category.code}}</td>
				<td>
					{% for w in p.get_start_waves %}
						{{w.event.name}} <span class="text-nowrap"> ({{w.event.date_time|date:"D, Y-m-d H:i"}})</span><br/>
					{% endfor %}
					{% for w in p.get_start_wave_tts %}
						{{w.event.name}}
						<span class="text-nowrap">
							{% if w.clock_time %}
								({% trans "Start Time"%}: {{w.clock_time|date:"D, Y-m-d H:i"}})
							{% else %}
								({% trans "Unseeded"%}: {{w.event.date_time|date:"D, Y-m-d H:i"}})
							{% endif %}
						</span><br/>
					{% endfor %}
				</td>
			</tr>
		{% endfor %}
		</tbody>
		</table>
		{% if p.has_start_wave_tts %}
			<br/>
			<h4>{% trans "Please be at the start 15 minutes before your TT Start Time." %}</h4>
		{% endif %}
		{% if warnings %}
			<div class="alert alert-warning">
				<h3>{% trans "Please help us at the registration desk with the following" %}:</h3>
			</div>
			<ul class="warning-list">
				{% for w in warnings %}
					<li>{{w}}</li>
				{% endfor %}
			</ul>
		{% endif %}
		<h4>{% trans "If any information is incorrect, see the registration desk." %}</h4>
		<br/>
		<a href="{{path_noargs}}"><img src="{% static "images/ok-btn-big.png" %}"/></a>
	{% endif %}
{% endif %}

{% if not form %}
	<p style="margin-top: 30px; color:#A0A0A0;">
		<strong>RaceDB {{version}}.</strong>&nbsp;&nbsp;&nbsp;
		Created by Edward Sitarski, Toronto, Ontario, Canada &#169;&nbsp;2014-{% now "Y" %}.
	</p>
{% endif %}
{% endblock %}
