{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block srcjavascript %}
<script type="text/javascript" src="{% static "js/jSignature.min.js" %}"></script>
{% endblock srcjavascript %}

{% block javascript %}
function reset_signature() {
	$('#id_signature_canvas').jSignature('reset');
}
{% endblock javascript %}

{% block onload %}
	setTimeout(function(){ window.location.href="{{url_error}}"; }, 60*1000);

	$('#div_id_signature').hide();
	
	sigdiv = $('#id_signature_canvas');
	sigdiv.jSignature();
	sigdiv.jSignature('reset');
	
	$('#id_signature_form').on('submit', function () {
		sigdiv = $('#id_signature_canvas');
		if( sigdiv.jSignature('getData','native').length > 0 ) 
			$('#id_signature').val( sigdiv.jSignature('getData','svgbase64').join(',') );
		return true;
	});

{% endblock onload %}

{% block content %}

<style>
#id_signature_canvas {
  padding: 0 0 0 0; 
  margin: 0 0 0 0;
  border: 2px dotted #000;
}
.btn {
	padding: 4;
}
</style>

<h2><strong>{{participant.license_holder.full_name}}</strong></h2>
{% if participant.team %}
	<h3><strong>{{participant.team.name}}</strong>
	</h3>
{% endif %}
{% if participant.category %}
	<h3>{% trans "Category" %}: <strong>{{participant.category.code}}:</strong>
	{{participant.category.get_gender_display}}, {{participant.category.description}}
	</h3>
{% endif %}
<hr/>
<h2>
{% trans "I confirm that I am" %}
<strong>{{participant.license_holder.first_name}} {{participant.license_holder.last_name}}</strong>,
{% if participant.category %}
	{% trans "racing category" %} <strong>{{participant.category.code}}:</strong>,
	{% trans "and my date of birth is " %}
	<strong>{{participant.license_holder.date_of_birth}}</strong>.
{% else %}
	{% trans "and my date of birth is " %}
	<strong>{{participant.license_holder.date_of_birth}}</strong>.
{% endif %}
</h2>
{% crispy form %}
{% endblock content %}
