{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load staticfiles %}

{% block srcjavascript %}
<script type="text/javascript" src="{% static "js/RowSorter.js" %}"></script>
{% endblock srcjavascript %}

{% block onload %}
var className = 'Series';
$('#sort_table_id').rowSorter({
	
	// if new_index === old_index, this function won't be called.
	onDrop: function(tbody, row, new_index, old_index) {
		window.location = "./Resequence_" + className + "_Class/" + row.id + "/" + new_index + "/";
	},
	
	// if new_index === old_index, this function will be called.
	onDragEnd: function(tbody, row, current_index) {
		window.location = "./" + className + "Edit/" + row.id + "/";
	}
});
{% endblock onload %}

{% block content %}

<h2>{{title}}</h2>
<a class="btn btn-success" href="{{cancelUrl}}">{% trans "OK" %}</a>
<a class="btn btn-primary" href="./SeriesNew/">{% trans "New Series" %}</a>
	<button class='btn btn-primary' type="button" data-toggle="collapse" data-target="#newSeriesHelp" aria-expanded="false" aria-controls="newSeriesHelp">
		Help
	</button>
<div class="collapse" id="newSeriesHelp">
  <div class="well well-sm">
    <p>
		A Series scores a number of Events by Points or Time based on the results of each event.<br/>
		When you create a new Series, you will be asked to select the CategoryFormat of the Events you want to score.<br/>
		All the Events in the Series must share the same CategoryFormat.<br/>
		Once you create the Series, click on it to edit its particulars.<br/>
		Be careful if you are running RaceDB Hub - the Series will be visible from the Hub<br/>
		<br/>
		Of course, a Series can only show results if you have uploaded them from CrossMgr.<br/>
	</p>
  </div>
</div>
<hr/>
<p>{% trans "Drag and drop rows to change sequence." %}</p>
<table class="table table-striped table-hover table-condensed" id='sort_table_id'>
<thead>
	<tr>
		<th></th>
		<th>{% trans "Name" %}</th>
		<th>{% trans "Description" %}</th>
		<th>{% trans "Category Format" %}</th>
		<th class="text-right">{% trans "# Competitions" %}</th>
		<th class="text-right">{% trans "# Events" %}</th>
		<th class="hidden-print"></th>
	</tr>
</thead>
<tbody>
	{% for s in series %}
		<tr id="{{s.id}}">
			<td class="text-right">{{forloop.counter}}.</td>
			<td>{{s.name}}</td>
			<td>{{s.description}}</td>
			<td>{{s.category_format.name}}</td>
			<td class="text-right">{{s.get_competitions|length}}</td>
			<td class="text-right">{{s.seriescompetitionevent_set.all.count}}</td>
			<td class="hidden-print">
				<a class="btn btn-success" href="./SeriesEdit/{{s.id}}/">{% trans "Edit" %}</a>
				<a class="btn btn-warning" href="./SeriesDelete/{{s.id}}/">{% trans "Delete" %}</a>
				&nbsp;
				<a class="btn btn-primary" href="./SeriesCopy/{{s.id}}/">{% trans "Copy" %}</a>
			</td>
		</tr>
	{% endfor %}
</tbody>
</table>
{% endblock content %}
