{% extends "base.html" %}
{% load i18n %}
{% load good_bad_icon %}
{% load crispy_forms_tags %}
{% load paginate_html %}
{% block content %}

<h2>
	{{title}}
	<a class="btn btn-primary hidden-print" href="{{cancelUrl}}">{% trans "OK" %}</a>
</h2>
<hr/>

{{competitions|paginate_html}}
{% spaceless %}
<table class="table table-striped table-hover table-condensed">
<thead>
	<tr>
		<th></th>
		<th>{% trans "Date" %}</th>
		<th>{% trans "Discipline" %}</th>
		<th>{% trans "Name" %}</th>
		<th>{% trans "Location" %}</th>
		<th>{% trans "Organizer" %}</th>
		<th>{% trans "Class" %}</th>
		<th>{% trans "Results" %}</th>
		<th></th>
	</tr>
</thead>
<tbody>
	{% for c in competitions %}
		<tr onclick="jump('{{popUrl}}SeriesCompetitionAdd/{{series.id}}/{{c.id}}');">
			<td class="text-right">{{forloop.counter}}.</td>
			<td>{{c.date_range_year_str}}</td>
			<td>{{c.discipline.name}}</td>
			<td>{{c.name}}</td>
			<td>{{c.city}} {{c.stateProv}}, {{c.country}}</td>
			<td>{{c.organizer}}</td>
			<td>{{c.race_class.name}}</td>
			<td>{% with has_results=c.has_results %}{% if has_results %}{{has_results|good_bad_icon}}{% endif %}{% endwith %}</td>
			{% if c not in existing_competitions %}
				<td>
					<a class="btn btn-success hidden-print" href="{{popUrl}}SeriesCompetitionAdd/{{series.id}}/{{c.id}}/">{% trans "Add" %}</a>
				</td>
			{% else %}
				<td>
					{% trans "Added" %}
				</td>
			{% endif %}
		</tr>
	{% endfor %}
</tbody>
</table>
{{competitions|paginate_html}}
{% endspaceless %}
{% endblock content %}
