{% extends "base.html" %}
{% block srcjavascript %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
var payload = {{payload_json|safe}};
google.load("visualization", "1.1", {packages:["corechart", "table" /*, "treemap" */]});
google.setOnLoadCallback(drawCharts);

function componentToHex(c) {
    var hex = c.toString(16);
    return hex.length == 1 ? "0" + hex : hex;
}

function rgbToHex(r, g, b) {
    return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
}

var seed = 12;
function random() {
    var x = Math.sin(seed++) * 10000;
    return x - Math.floor(x);
}
function getColor(){
    var r = (Math.round(random()* 127) + 127).toString(16);
    var g = (Math.round(random()* 127) + 127).toString(16);
    var b = (Math.round(random()* 55) + 200).toString(16);
    return rgbToHex(r, g, b);
}

function sortedChildren( children ) {
	var aChildren = [];
	for( c in children )
		aChildren.push( children[c] );
	aChildren.sort( function(a, b) { if( a.weight !== b.weight ) return b.weight - a.weight; return a.name<b.name?-1:b.name<a.name?1:0; } );
	return aChildren;
}	

function PostalStarburst() {
	this.findSelectNode = function( x, y ) {
		var self = this;
		
		var nodeSave = self.selectedNode;
		self.xSelect = x;
		self.ySelect = y;
		
		var a = Math.atan2( y-self.yCenter, x-self.xCenter );
		if( a < 0 )
			a += 2*Math.PI;
		var ring = parseInt(Math.sqrt( Math.pow(x-self.xCenter,2) + Math.pow(y-self.yCenter,2) ) / self.ringLength);
		
		var node = self.tree;
		for( var r = 0; r <= ring; ++r ) {
			var child = null;
			for( var c in node.children ) {
				if( node.children[c].aBegin <= a && a < node.children[c].aEnd ) {
					child = node.children[c];
					break;
				}
			}
			if( !child ) {
				node = null;
				break;
			}
			node = child;
		}
		self.selectedNode = node;
		
		if( self.selectedNode != nodeSave )
			self.draw();
	}
	this.onMouseMove = function( evt ) {
		var self = this;
		if( self.selectTimer )
			clearTimeout( self.selectTimer );
		var rect = self.canvas.getBoundingClientRect();
		var x = evt.clientX - rect.left, y = evt.clientY - rect.top;
		self.selectTimer = setTimeout( function() {self.findSelectNode(x, y); self.selectTimer = null;}, 10 );
	}

	this.init = function( data, canvasId ) {
		var self = this;
		self.canvas = document.getElementById(canvasId);

		self.canvas.addEventListener( 'mousemove', function(evt) { self.onMouseMove(evt); } );
		self.selectedNode = null;
		self.selectTimer = null;
		
		// Data is of the form:
		// [[postal, count],[postal, count],[postal, count], ...]
		self.tree = {'name':'root', 'children':{}, 'weight':0, 'aBegin':0, 'aEnd':Math.PI*2 };
		for( var i = 0; i < data.length; ++i ) {
			var name = data[i][0], weight = data[i][1];
			self.tree.weight += weight;
			
			var node = self.tree;
			for( var j = 0; j < name.length; ++j ) {
				var c = name.charAt(j);
				if( !(c in node.children) )
					node.children[c] = {
						'name': c,
						'children': {},
						'weight': 0
					};
				node = node.children[c];
				node.weight += weight;
			}
		}
		
		function setSortedChildren( parent ) {
			parent.sortedChildren = sortedChildren( parent.children );
			for( c in parent.children )
				setSortedChildren( parent.children[c] );
		}
		setSortedChildren( self.tree );
		
		function fixSingleChildren( parent ) {
			// Combine only children into one node.
			while( parent.sortedChildren.length == 1 ) {
				var child = parent.sortedChildren[0];
				parent.name += child.name;
				parent.sortedChildren = child.sortedChildren;
				parent.children = child.children;
			}
			for( var c in parent.children )
				fixSingleChildren( parent.children[c] );
		}
		fixSingleChildren( self.tree );
		
		var maxHeight = 0;
		function setHeight( parent ) {
			maxHeight = Math.max( maxHeight, parent.height );
			for( var c in parent.children ) {
				parent.children[c].height = parent.height + 1;
				setHeight( parent.children[c] );
			}
		}
		self.tree.height = 0;
		setHeight( self.tree );
		self.maxHeight = maxHeight;
		return self;
	}
	
	this.draw = function() {
		var self = this;
		seed = 12;
	
		var width = self.canvas.width;
		var height = self.canvas.height;
		var border = Math.min(width, height) * 0.05;
		var root = self.tree;
		var ctx = self.canvas.getContext('2d');
		
		ctx.clearRect(0, 0, width, height);
		
		self.radiusMax = Math.min( (width - border*2)/2, (height - border*2)/2 );
		self.xCenter = width/2, self.yCenter = height/2;
		self.ringLength = self.radiusMax / self.maxHeight;
		
		var fontHeight = self.radiusMax * 0.04;
		ctx.font = fontHeight + 'px Arial';

		var maxWeight = self.tree.weight;
		
		var percentSep = '|';
		
		function drawSegment( parent, node, ring, prevWeight, parentName, labelsOnly ) {
			var aRange = parent.aEnd - parent.aBegin;
			var aBegin = parent.aBegin + (prevWeight / parent.weight) * aRange;
			var aEnd = aBegin + (node.weight / parent.weight) * aRange;
			var aMid = (aBegin+aEnd)/2;
			
			node.aBegin = aBegin;
			node.aEnd = aEnd;
			
			var nodeName = parentName + node.name;
			var showLabel = false;
			if( node.weight / maxWeight > 0.04*2/3 )
				showLabel = true;
			if( node == self.selectedNode )
				showLabel = true;
			
			if( !labelsOnly ) {
				ctx.beginPath();
				ctx.moveTo( self.xCenter + ring * self.ringLength * Math.cos(aBegin), self.yCenter + ring * self.ringLength * Math.sin(aBegin) );
				ctx.arc( self.xCenter, self.yCenter, ring * self.ringLength, aBegin, aEnd );
				ctx.lineTo( self.xCenter + (ring+1) * self.ringLength * Math.cos(aEnd), self.yCenter + (ring+1) * self.ringLength * Math.sin(aEnd) );
				ctx.arc( self.xCenter, self.yCenter, (ring+1) * self.ringLength, aEnd, aBegin, true );
				ctx.closePath();
				
				ctx.strokeStyle = '#AAAAAA';
				ctx.lineWidth = 1;
				ctx.fillStyle = getColor();
				if( node == self.selectedNode )
					ctx.fillStyle = '#FFFF00';
				
				ctx.fill();
				ctx.stroke();
			}
			
			if( (showLabel && labelsOnly) ) {
				ctx.save();
				ctx.translate( self.xCenter + (ring+.5) * self.ringLength * Math.cos(aMid), self.yCenter + (ring+.5) * self.ringLength * Math.sin(aMid) );
				//ctx.rotate( aMid + (Math.PI*1.0/2.0 < aMid && aMid < 2*Math.PI*3.0/4.0 ? Math.PI : 0) );
				ctx.fillStyle = '#000000';
				ctx.textAlign = 'center';
				if( node == self.selectedNode )
					ctx.font = 'bold ' + (fontHeight*1.12) + 'px Arial';
				ctx.textBaseline = "middle";
				ctx.fillText( nodeName, 0, -fontHeight/2.5 );
				if( node == self.selectedNode )
					ctx.font = 'bold ' + (fontHeight*.75*1.12) + 'px Arial';
				else
					ctx.font = (fontHeight*.75) + 'px Arial';
				ctx.fillText( node.weight + percentSep + (node.weight*100/root.weight).toFixed(0) + '%', 0, fontHeight/2.5 );
				ctx.restore();
			}
			if( node == self.selectedNode && labelsOnly ) {
				ctx.save();
				ctx.font = 'bold ' + (fontHeight*3/2) + 'px Arial';
				ctx.textAlign = 'center';
				ctx.textBaseline = "bottom";
				ctx.fillStyle = '#000000';
				ctx.fillText( nodeName + ' ' + node.weight + percentSep + (node.weight*100/root.weight).toFixed(0) + '%', width/2, height );
				ctx.restore();
			}
			
			var childPrevWeight = 0;
			for( var i = 0; i < node.sortedChildren.length; ++i ) {
				drawSegment( node, node.sortedChildren[i], ring+1, childPrevWeight, nodeName, labelsOnly );
				childPrevWeight += node.sortedChildren[i].weight;
			}
		}

		for( var k = 0; k < 2; ++k ) {
			var prevWeight = 0;
			for( var i = 0; i < self.tree.sortedChildren.length; ++i ) {
				drawSegment( self.tree, self.tree.sortedChildren[i], 0, prevWeight, '', k==1 );
				prevWeight += self.tree.sortedChildren[i].weight;
			}
		}
		return self;
	}
}

function array_to_treemap( data, size_column_label, color_column_label, separator )
{
	/* Creates a Google DataTable suitable for passing to a Treemap chart from the given data.
		Data is an array of entries where each element consists of an array containing the following data:
	
			 - name is a path in the tree (see below).
			 - size is the area of the node.
			 - color (optional) displayed as the color scale.
			 
			For example:
			data = [
				[ 'North America/Software/Licenses', 55 ],
				[ 'North America/Software/Consulting', 106 ],
				[ 'Europe/Software/Licenses', 31 ],
				[ 'Europe/Software/Consulting', 72 ],
			];
			
		returs a google.visualization.DataTable suitable to pass to the treemap.
	*/
	
	var cols = [
		{id: 'path',	type:'string',	label: 'Path' },
		{id: 'parent',	type:'string',	label: 'Parent' },
		{id: 'size',	type:'number',	label: size_column_label ? size_column_label : 'Size' }
	];
	if( data.length <= 1 )
		return new google.visualization.DataTable( {'cols': cols, 'rows': []} );

	var has_color = (data[0].length == 3)
	if( has_color )
		cols.push(  {id: 'color', type:'number', label: color_column_label ? color_column_label : 'Color'} );
	
	if( !separator )
		separator = '/';
	
	// Check if all the entries share a common root.  If not, create one called 'top'.
	var root_name = null;
	var common_root = true;
	for( var i = 0; i < data.length; ++i ) {
		var rname = data[i][0].split( separator, 1 )[0];
		if( root_name == rname )
			continue;
		if( !root_name ) {
			root_name = rname;
			continue;
		}
		root_name = 'top';
		common_root = false;
		break;
	}
	
	var ids = {};
	var lastId = 0;
	function get_id( path ) {
		id = ids[path];
		if( id == undefined )
			id = ids[path] = lastId++;
		return id;
	}
	var rows = [];
	
	// Add the root of the tree.
	var cells = [{v:get_id(root_name), f:root_name}, {v:null}, {v:0}];
	if( has_color )
		cells.push( {v:0} );
	rows.push( {'c': cells} );
	
	for( var i = 0; i < data.length; ++i )
	{
		var path_name = data[i][0], size = data[i][1], color = has_color ? data[i][2] : 0;
		//
		// Consider the following name data:
		//
		// aaa/bbb/ccc
		// aaa/bbb/ddd
		// aaa/bbb/eee
		// aaa/ccc/bbb
		//
		// From this data we construct a tree where each node is uniquely identified by its path to the root:
		//
		//                                          aaa
		//                                         /   \
		//                                   aaa/bbb   aaa/ccc
		//                                  /  |  \           \
		//                         aaa/bbb/ccc |  aaa/bbb/ddd  aaa/ccc/bbb
		//                              aaa/bbb/eee
		//
		// To create this tree, we start with the full path name, then connect it to its parent by removing the right-most leaf.
		// We repeat the process to follow the connections back to the root.
		// We stop if we encounter a node we already have.  As this represents the complete path back the root, we can stop.
		// For efficiency, we assign a unique number as the node id rather than using the full path string.
		//
		while( 1 ) {
			var lastSep = path_name.lastIndexOf(separator);
			if( lastSep < 0 ) {
				if( !common_root ) {
					var cells = [{v:get_id(path_name), f:path_name}, {v:get_id(root_name)}, {v:0}];
					if( has_color )
						cells.push( {v:0} );
					rows.push( {'c': cells} );
				}
				break;
			}
			var parent_name = path_name.substring(0, lastSep);
			var leaf_name = path_name.substring(lastSep+separator.length);
			var parent_exists = (ids[parent_name] != undefined);
			var cells = [{v:get_id(path_name), f:leaf_name}, {v:get_id(parent_name)}, {v:size}];
			if( has_color )
				cells.push( {v:color} );
			rows.push( {'c': cells} );
			if( parent_exists )
				break;
			size = 0; color = 0;
			path_name = parent_name;
		}
	}
	
	return new google.visualization.DataTable( {'cols': cols, 'rows': rows} );
}

function formatFloat( num, precision ) {
	return {v:num, f:num.toFixed(precision ? precision : 2)};
}

function formatIntPercent( num, total ) {
	var percent = (100.0 * num) / (total ? total : 1);
	return {v:num, f:num + ' / ' + total + ' (' + percent.toFixed(2) + '%)'};
}

function formatPercentInt( num, total ) {
	var percent = (100.0 * num) / (total ? total : 1);
	return {v:percent, f:percent.toFixed(2) + '% (' + num + ' / ' + total + ')'};
}

function drawCharts() {
	var animationOption = {};

	// -----------------------------------------------------------------
	// Overall Attendance, License Holders and Average Entries.
	//
{% with p=payload %}
	var options = { title: 'All', legend: { position: 'top' }, animation: animationOption };
	
	var entriesTable = google.visualization.arrayToDataTable( [
		['Gender', 'Attendance'],
		['Men', {{p.attendees_men_total}}],
		['Women', {{p.attendees_women_total}}],
	]);
	var entriesChart = new google.visualization.PieChart(document.getElementById('entriesDiv'));
	options.title = 'Attendees: {{p.attendees_total}}';
	entriesChart.draw( entriesTable, options );
	
	var licenseHoldersTable = google.visualization.arrayToDataTable( [
		['Gender', 'License Holders'],
		['Men', {{p.license_holders_men_total}}],
		['Women', {{p.license_holders_women_total}}],
	]);
	var licenseHoldersChart = new google.visualization.PieChart(document.getElementById('licenseHoldersDiv'));
	options.title = 'License Holders: {{p.license_holders_attendance_total}}';
	licenseHoldersChart.draw( licenseHoldersTable, options );
	
	var aveEntriesTable = google.visualization.arrayToDataTable( [
		['Gender', 'Ave. Entries'],
		['All', formatFloat({{p.attendance_average}})],
		['Men', formatFloat({{p.attendance_men_average}})],
		['Women', formatFloat({{p.attendance_women_average}})],
	]);
	var aveEntriesChart = new google.visualization.ColumnChart(document.getElementById('aveEntriesDiv'));
	aveEntriesChart.draw( aveEntriesTable, {
			title: 'Average Attendance per License Holder',
			legend: { position: 'none' },
			vAxis:{baseline:0}, animation: animationOption
		}
	);
	
{% endwith %}
	
	// -----------------------------------------------------------------
	// Participation by Category
	//
	var overallCategoriesChart = new google.visualization.ComboChart(document.getElementById("overallCategoriesChartDiv"));
	for( var i = 1; i < payload.category_total.length; ++i ) {
		payload.category_total[i][1] = formatIntPercent(payload.category_total[i][1], payload.participants_total);
		payload.category_total[i][2] = formatFloat(payload.category_total[i][2]);
	}
	overallCategoriesChart.draw(
		google.visualization.arrayToDataTable(payload.category_total),
		{
			title:'Participation by Category (includes attendees competing in multiple categories)',
			bar: { groupWidth: '75%' },
			legend: {position: 'none'},
			animation: animationOption,
			seriesType: 'bars',
			series: {
				1: { targetAxisIndex:1, type:'line', color:'#FFA500' },
				vAxes: {
					1: { minValue:0, maxValue:100 }
				},
			},
		}
	);
	
	// -----------------------------------------------------------------
	// Average and Max by Category
	//
	var aveMaxCategoriesChart = new google.visualization.CandlestickChart(document.getElementById("aveMaxCategoriesChartDiv"));
	for( var i = 0; i < payload.category_average_max.length; ++i ) {
		var r = payload.category_average_max[i];
		payload.category_average_max[i] = [r[0], {v:r[1], f:'Avg: ' + r[1].toFixed(2) + ' --> Max: ' + r[2]}, {v:r[1],f:''}, {v:r[2],f:''}, {v:r[2], f:''}];
	}
	aveMaxCategoriesChart.draw(
		google.visualization.arrayToDataTable(payload.category_average_max, true),
		{
			title:'Ave --> Max Participation by Category by Competition (includes attendees competing in multiple categories)',
			legend: { position: 'none' },
			animation: animationOption
		}
	);
	
	
	// -----------------------------------------------------------------
	// Attendance by Age
	//
	var ageAll = [['Age']], ageMen = [['Age']], ageWomen = [['Age']];
	var competitions = payload.competitions;
	for( var iCompetition = 0; iCompetition < competitions.length; ++iCompetition ) {
		var competition = competitions[iCompetition];
		for( var iEvent = 0; iEvent < competition.events.length; ++iEvent ) {
			var event = competition.events[iEvent];
			for( var iAttendee = 0; iAttendee < event.attendees.length; ++iAttendee ) {
				var attendee = event.attendees[iAttendee];
				var gender = attendee[0], age = attendee[1];
				ageAll.push( [age] );
				if( gender === 0 )
					ageMen.push( [age] );
				else
					ageWomen.push( [age] );
			}
		}
	}

	var chartAll = new google.visualization.Histogram(document.getElementById('histAllDiv'));
	var options = { title: 'All', legend: { position: 'none' }, histogram: { bucketSize: 5 }, animation: animationOption };
	chartAll.draw(google.visualization.arrayToDataTable( ageAll ), options);
	
	var chartMen = new google.visualization.Histogram(document.getElementById('histMenDiv'));
	options.title = 'Men';
	chartMen.draw(google.visualization.arrayToDataTable( ageMen ), options);

	var chartWomen = new google.visualization.Histogram(document.getElementById('histWomenDiv'));
	options.title = 'Women';
	chartWomen.draw(google.visualization.arrayToDataTable( ageWomen ), options);

	// -----------------------------------------------------------------
	// Attendance Rate by Age
	//
	function getAgeRangeAveEntriesTable( ar ) {
		var rangeAveData = new google.visualization.DataTable();
		rangeAveData.addColumn('string', 'Age Range');
		rangeAveData.addColumn('number', 'Ave Entries');
		var rows = [];
		for( var i = 0; i < ar.length; ++i )
			rows.push( [(i*payload.age_increment) + '-' + ((i+1)*payload.age_increment-1), formatFloat(ar[i])] );
		rangeAveData.addRows( rows );
		return rangeAveData;
	}
	
	var chartAveAll = new google.visualization.ColumnChart(document.getElementById('aveEventsAllDiv'));
	var options = { title: 'All', legend: { position: 'none' }, hAxis:{baseline:0}, bar:{groupWidth:'90%'}, animation: animationOption };
	chartAveAll.draw(getAgeRangeAveEntriesTable( payload.age_range_average ), options);
	
	var chartAveMen = new google.visualization.ColumnChart(document.getElementById('aveEventsMenDiv'));
	options.title = 'Men';
	chartAveMen.draw(getAgeRangeAveEntriesTable( payload.age_range_men_average ), options);
	
	var chartAveWomen = new google.visualization.ColumnChart(document.getElementById('aveEventsWomenDiv'));
	options.title = 'Women';
	chartAveWomen.draw(getAgeRangeAveEntriesTable( payload.age_range_women_average ), options);
	
	// -----------------------------------------------------------------
	// Age Histograms
	//
	function getAgeTable( at ) {
		var dt = new google.visualization.DataTable();
		dt.addColumn('number', 'Age');
		var rows = [];
		for( var i = 0; i < at.length; ++i )
			rows.push( [at[i]] );
		dt.addRows( rows );
		return dt;
	}
	
	var chartAll = new google.visualization.Histogram(document.getElementById('histAgeAllDiv'));
	var options = { title: 'All', legend: { position: 'none' }, histogram: { bucketSize: 5 }, animation: animationOption };
	chartAll.draw(getAgeTable(payload.license_holder_profile), options);
	
	var chartMen = new google.visualization.Histogram(document.getElementById('histAgeMenDiv'));
	options.title = 'Men';
	chartMen.draw(getAgeTable(payload.license_holder_men_profile), options);

	var chartWomen = new google.visualization.Histogram(document.getElementById('histAgeWomenDiv'));
	options.title = 'Women';
	chartWomen.draw(getAgeTable(payload.license_holder_women_profile), options);

	// -----------------------------------------------------------------
	// Attendees by Gender
	//
	var compChartData = new google.visualization.DataTable();
	compChartData.addColumn('string', 'Competition');
	compChartData.addColumn('number', 'Men');
	compChartData.addColumn('number', 'Women');
	var rows = [];
	var competitions = payload.competitions;
	for( var iCompetition = 0; iCompetition < competitions.length; ++iCompetition ) {
		var competition = competitions[iCompetition];
		rows.push( [
			competition.name,
			formatIntPercent(competition.attendees_men, competition.attendees_total),
			formatIntPercent(competition.attendees_women, competition.attendees_total)
		] );
	}
	compChartData.addRows( rows );
	var compChart = new google.visualization.ColumnChart(document.getElementById("compChartDiv"));
	compChart.draw(compChartData, {title:'Attendees by Gender', bar: { groupWidth: '75%' }, isStacked: true, legend: {position: 'top'}, animation: animationOption} );
	
	// -----------------------------------------------------------------
	// Category Participation
	//
	var compCategoryChart = new google.visualization.ColumnChart(document.getElementById("compCategoryChartDiv"));
	compCategoryChart.draw(google.visualization.arrayToDataTable(payload.category_competition_count),
		{title:'Participation by Category (includes attendees competing in multiple categories)', bar: { groupWidth: '75%' }, isStacked: true, legend: {position: 'top'}, animation: animationOption} );
	
	// -----------------------------------------------------------------
	// Event Participation
	//
	var compEventChart = new google.visualization.ColumnChart(document.getElementById("compEventChartDiv"));
	compEventChart.draw(google.visualization.arrayToDataTable(payload.event_competition_count),
		{title:'Participation by Event (includes attendees competing in multiple categories)', bar: { groupWidth: '75%' }, isStacked: true, legend: {position: 'none'}, animation: animationOption} );
	
	// -----------------------------------------------------------------
	// Prereg Percent
	//
	var preregChartData = new google.visualization.DataTable();
	preregChartData.addColumn('string', 'Competition');
	preregChartData.addColumn('number', 'Men');
	preregChartData.addColumn('number', 'Women');
	preregChartData.addColumn('number', 'All');
	var rows = [];
	var competitions = payload.competitions;
	for( var iCompetition = 0; iCompetition < competitions.length; ++iCompetition ) {
		var competition = competitions[iCompetition];
		rows.push( [
			competition.name,
			formatPercentInt(competition.prereg_participants_men, competition.participants_men),
			formatPercentInt(competition.prereg_participants_women, competition.participants_women),
			formatPercentInt(competition.prereg_participants_total, competition.participants_total)
		] );
	}
	preregChartData.addRows( rows );
	var compEventChart = new google.visualization.ColumnChart(document.getElementById("compEventPreRegChartDiv"));
	compEventChart.draw(preregChartData, {
			title:'Event PreReg: Overall: ' +
				formatPercentInt(payload.prereg_participants_total, payload.participants_total).f +
				' (includes attendees competing in multiple categories)',
			bar: { groupWidth: '75%' },
			isStacked: false,
			legend: {position: 'top'},
			animation: animationOption,
			vAxis: {viewWindow: {min: 0, max:100}}
		}
	);
	
	// -----------------------------------------------------------------
	// Postal Codes
	//
{% if payload.postal_codes %}
	var postalStarburst = (new PostalStarburst()).init(payload.postal_codes, "postalCodeCanvas", 3).draw();
{% endif %}
	
	// -----------------------------------------------------------------
	// Disciplines
	//
{% if payload.discipline_used_len > 1 %}
	var disciplineOverallChart = new google.visualization.ColumnChart(document.getElementById("disciplineOverallChartDiv"));
	disciplineOverallChart.draw(google.visualization.arrayToDataTable(payload.discipline_overall), {
			title:'Discipline Participation: All License Holders',
			bar: { groupWidth: '75%' },
			isStacked: false,
			legend: {position: 'none'},
			animation: animationOption,
			vAxis: {viewWindow: {max: 100}}
		}
	);
	
	var disciplineGenderChart = new google.visualization.ColumnChart(document.getElementById("disciplineGenderChartDiv"));
	disciplineGenderChart.draw(google.visualization.arrayToDataTable(payload.discipline_gender), {
			title:'Discipline Participation by Gender',
			bar: { groupWidth: '75%' },
			isStacked:false,
			legend: {position: 'none'},
			animation: animationOption,
			vAxis: {viewWindow: {max: 100}}
		}
	);
	
	var disciplineAgeChart = new google.visualization.ColumnChart(document.getElementById("disciplineAgeChartDiv"));
	disciplineAgeChart.draw(google.visualization.arrayToDataTable(payload.discipline_age), {
			title:'Discipline Participation by Age',
			bar: { groupWidth: '75%' },
			isStacked: false,
			legend: {position: 'top', maxLines: 3},
			animation: animationOption,
			vAxis: {viewWindow: {max: 100}}
		}
	);
{% endif %}
	
	
	// -----------------------------------------------------------------
	// Overall Raw Data Table
	//
	var statsData = new google.visualization.DataTable();
	statsData.addColumn('string', 'Gender');
	statsData.addColumn('number', 'Attendees');
	statsData.addColumn('number', 'LicenseHolders');
	statsData.addColumn('number', 'Ave. Attendance per LicenseHolder');
{% with p=payload %}
	statsData.addRows([
		[
			'All',
			{{p.attendees_total}},
			{{p.license_holders_attendance_total}},
			formatFloat({{p.attendance_average}})
		],
		[
			'Men',
			{{p.attendees_men_total}},
			{{p.license_holders_men_total}},
			formatFloat({{p.attendance_men_average}})
		],
		[
			'Women',
			{{p.attendees_women_total}},
			{{p.license_holders_women_total}},
			formatFloat({{p.attendance_women_average}})
		],
	]);
	var statsTable = new google.visualization.Table(document.getElementById('statsTableDiv'));
	statsTable.draw(statsData, {showRowNumber: false, sort:'disable'});
{% endwith %}
	
	// -----------------------------------------------------------------
	// Competition Raw data table.
	//
	var compData = new google.visualization.DataTable();
	compData.addColumn('string', 'Competition');
	compData.addColumn('string', 'Start Date');
	compData.addColumn('string', 'Events');
	compData.addColumn('number', 'Men');
	compData.addColumn('number', 'Women');
	compData.addColumn('number', 'Total');
	compData.addColumn('number', 'Grand Total');
	var rows = [];
	var competitions = payload.competitions;
	var blankNum = {v:0,f:''};
	for( var iCompetition = 0; iCompetition < competitions.length; ++iCompetition ) {
		var competition = competitions[iCompetition];
		rows.push( [competition.name, competition.start_date, '', blankNum, blankNum, blankNum, blankNum] );
		for( var iEvent = 0; iEvent < competition.events.length; ++iEvent ) {
			var event = competition.events[iEvent];
			rows.push( ['', '', event.name, event.attendees_men, event.attendees_women, event.attendees_total, blankNum] );
		}
		rows.push( ['', '', '', competition.attendees_men, competition.attendees_women, blankNum, competition.attendees_total] );
	}
	rows.push( ['', '', '', {{payload.attendees_men}}, {{payload.attendees_women}}, blankNum, {{payload.attendees_total}}] );
	compData.addRows( rows );
	var compTable = new google.visualization.Table(document.getElementById('compTableDiv'));
	compTable.draw(compData, {showRowNumber: false, alternatingRowStyle:false, sort:'disable'});
}
 </script>
{% endblock srcjavascript %}
{% load staticfiles %}
{% block onload %}
	$( "form" ).submit(function( event ) {
		setTimeout( function() { $('#loader-circle').removeClass('hidden'); }, 3000 );
	});
{% endblock onload %}
{% block content %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
<div class='hidden-print'>
{% crispy form %}
<hr/>
<img src="{% static "images/RaceDB.png" %}" alt="RaceDB"></img>
<h2>{{page_title}}</h2>
<p class="text-center hidden-print">
&nbsp;<img id='loader-circle' class='hidden' src="{% static "images/loader_circle.gif" %}"</img>&nbsp;
</p>
</div>
<p>
<h2>
	{{payload.competitions_total}} Competitions,
	{{payload.events_total}} Events,
	{{payload.attendees_total}} Attendees,
	{{payload.license_holders_attendance_total}} License Holders
</h2>
<div class="container"/>
	<div class="row">
		<div class="col-xs-4">
			<div id="entriesDiv" style="width: 400px; height: 300px;"></div>
		</div>
		<div class="col-xs-4">
			<div id="licenseHoldersDiv" style="width: 400px; height: 300px;"></div>
		</div>
		<div class="col-xs-4">
			<div id="aveEntriesDiv" style="width: 400px; height: 300px;"></div>
		</div>
	</div>
</div>
<div id='overallCategoriesChartDiv' style="width: 1200px; height: 500px;"></div>
<div id='aveMaxCategoriesChartDiv' style="width: 1200px; height: 500px;"></div>
</p>

<p>
<h3 class="page-break-before">Total Participation by Age</h3>
<div class="container"/>
	<div class="row">
		<div class="col-xs-4">
			<div id="histAllDiv" style="width: 400px; height: 300px;"></div>
		</div>
		<div class="col-xs-4">
			<div id="histMenDiv" style="width: 400px; height: 300px;"></div>
		</div>
		<div class="col-xs-4">
			<div id="histWomenDiv" style="width: 400px; height: 300px;"></div>
		</div>
	</div>
</div>
</p>

<p>
<h3>Average Number of Events Attended by Age</h3>
<div class="container"/>
	<div class="row">
		<div class="col-xs-4">
			<div id="aveEventsAllDiv" style="width: 400px; height: 300px;"></div>
		</div>
		<div class="col-xs-4">
			<div id="aveEventsMenDiv" style="width: 400px; height: 300px;"></div>
		</div>
		<div class="col-xs-4">
			<div id="aveEventsWomenDiv" style="width: 400px; height: 300px;"></div>
		</div>
	</div>
</div>
</p>

<p>
<h3>License Holder Participation by Age (as of {{payload.profile_year}})</h3>
<div class="container"/>
	<div class="row">
		<div class="col-xs-4">
			<div id="histAgeAllDiv" style="width: 400px; height: 300px;"></div>
		</div>
		<div class="col-xs-4">
			<div id="histAgeMenDiv" style="width: 400px; height: 300px;"></div>
		</div>
		<div class="col-xs-4">
			<div id="histAgeWomenDiv" style="width: 400px; height: 300px;"></div>
		</div>
	</div>
</div>
</p>

<p>
<h2 class="page-break-before">Competitions</h2>
<div id='compChartDiv'style="width: 1200px; height: 500px;"></div>
<div id='compCategoryChartDiv'style="width: 1200px; height: 500px;"></div>
<div id='compEventChartDiv'style="width: 1200px; height: 500px;"></div>
<div id='compEventPreRegChartDiv'style="width: 1200px; height: 500px;"></div>
<!-- <div id="postalCodeChartDiv" style="width: 1200px; height: 500px;"></div> -->
{% if payload.postal_codes %}
	<br/>
	<h3 class="page-break-before">Postal Chart</h3>
	<canvas width=600 height=600 id="postalCodeCanvas"></canvas>
{% endif %}

{% if payload.discipline_used_len > 1 %}
<h3 class="page-break-before">Discipline Analysis</h3>
<div id='disciplineOverallChartDiv'style="width: 1200px; height: 500px;"></div>
<div id='disciplineGenderChartDiv'style="width: 1200px; height: 500px;"></div>
<div id='disciplineAgeChartDiv'style="width: 1200px; height: 500px;"></div>
<hr/>
{% endif %}

{% if False and license_holders_event_errors %}
<div class="hidden-print">
<h2>Suspicious Dates</h2>
{% include "show_count.html" %}
{% spaceless %}
<table class="table table-striped table-condensed">
<thead>
	<tr>
		<th></th>
		<th>{% trans "License Holder" %}</th>
		<th>{% trans "Date of Birth" %}</th>
		<th>{% trans "Competition" %}</th>
		<th>{% trans "Start Date" %}</th>
		<th>{% trans "Event" %}</th>
		<th>{% trans "Date/Time" %}</th>
		<th></th>
	</tr>
</thead>
<tbody>
<tbody>
	{% for lh, e in license_holders_event_errors %}
		<tr>
			<td class="text-right">{{forloop.counter}}.</td>
			<th><a class="btn btn-success btn-sm" href="./LicenseHolderEdit/{{lh.id}}/">{{lh.full_name}}</a></td>
			<td>{{lh.date_of_birth}}</td>
			<td><a class="btn btn-success btn-sm" href="./CompetitionEdit/{{e.competition.id}}/">{{e.competition.name}}</a></td>
			<td>{{e.competition.start_date}}</td>
			<td><a class="btn btn-success btn-sm" href="./{{e.edit_link}}/">{{e.name}}</a></td>
			<td>{{e.date_time}}</td>
		</tr>
		{% if forloop.last %}<script>set_show_count( {{forloop.counter}} );</script>{% endif %}
	{% endfor %}
</tbody>
</table>
{% endspaceless %}
<hr/>
</div>
{% endif %}

<h2 class="page-break-before" >Detailed Data</h2>
<div id='statsTableDiv'></div>
<br/>
<div id='compTableDiv' class="page-break-before"></div>
</p>

{% endblock content %}
