{% extends "base.html" %}
{% block srcjavascript %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
var payload = {{payload_json|safe}};
google.load("visualization", "1", {packages:["corechart", "table"]});
google.setOnLoadCallback(drawCharts);

function formatFloat( num, precision ) {
	return {v:num, f:num.toFixed(precision ? precision : 2)};
}

function formatIntPercent( num, total ) {
	var percent = (100.0 * num) / (total ? total : 1);
	return {v:num, f:num + ' (' + percent.toFixed(2) + '%)'};
}

function drawCharts() {

	{% with p=payload %}
	var entriesTable = google.visualization.arrayToDataTable( [
		['Gender', 'Participation'],
		['Men', {{p.participants_men_total}}],
		['Women', {{p.participants_women_total}}],
	]);
	var entriesChart = new google.visualization.PieChart(document.getElementById('entriesDiv'));
	entriesChart.draw( entriesTable, {title: 'Participation: ' + {{p.participants_total}}} );
	{% endwith %}

	{% with p=payload %}
	var licenseHoldersTable = google.visualization.arrayToDataTable( [
		['Gender', 'Licnese Holders'],
		['Men', {{p.license_holders_men_total}}],
		['Women', {{p.license_holders_women_total}}],
	]);
	var licenseHoldersChart = new google.visualization.PieChart(document.getElementById('licenseHoldersDiv'));
	licenseHoldersChart.draw( licenseHoldersTable, {title: 'Participating License Holders: ' + {{p.license_holders_total}}} );
	{% endwith %}

	{% with p=payload %}
	var aveEntriesTable = google.visualization.arrayToDataTable( [
		['Gender', 'Ave. Entries'],
		['All', formatFloat({{p.events_average}})],
		['Men', formatFloat({{p.events_men_average}})],
		['Women', formatFloat({{p.events_women_average}})],
	]);
	{% endwith %}
	var aveEntriesChart = new google.visualization.ColumnChart(document.getElementById('aveEntriesDiv'));
	aveEntriesChart.draw( aveEntriesTable, {title: 'Average Participation per License Holder', vAxis:{baseline:0}} );

	var ageAll = [['Age']], ageMen = [['Age']], ageWomen = [['Age']];
	var competitions = payload.competitions;
	for( var iCompetition = 0; iCompetition < competitions.length; ++iCompetition ) {
		var competition = competitions[iCompetition];
		for( var iEvent = 0; iEvent < competition.events.length; ++iEvent ) {
			var event = competition.events[iEvent];
			for( var iParticipant = 0; iParticipant < event.participants.length; ++iParticipant ) {
				var participant = event.participants[iParticipant];
				var gender = participant[0], age = participant[1];
				ageAll.push( [age] );
				if( gender === 0 )
					ageMen.push( [age] );
				else
					ageWomen.push( [age] );
			}
		}
	}

	// --------------------------------------------------------------------------------------------------
	var chartAll = new google.visualization.Histogram(document.getElementById('histAllDiv'));
	var options = { title: 'All', legend: { position: 'none' }, histogram: { bucketSize: 5 } };
	chartAll.draw(google.visualization.arrayToDataTable( ageAll ), options);
	
	var chartMen = new google.visualization.Histogram(document.getElementById('histMenDiv'));
	options.title = 'Men';
	chartMen.draw(google.visualization.arrayToDataTable( ageMen ), options);

	var chartWomen = new google.visualization.Histogram(document.getElementById('histWomenDiv'));
	options.title = 'Women';
	chartWomen.draw(google.visualization.arrayToDataTable( ageWomen ), options);

	// --------------------------------------------------------------------------------------------------
	function getAgeRangeAveEntriesTable( ar ) {
		var rangeAveData = new google.visualization.DataTable();
		rangeAveData.addColumn('string', 'Age Range');
		rangeAveData.addColumn('number', 'Ave Entries');
		var rows = [];
		for( var i = 0; i < ar.length; ++i )
			rows.push( [(i*payload.age_increment) + '-' + ((i+1)*payload.age_increment), formatFloat(ar[i])] );
		rangeAveData.addRows( rows );
		return rangeAveData;
	}
	
	var chartAveAll = new google.visualization.ColumnChart(document.getElementById('aveEventsAllDiv'));
	var options = { title: 'All', legend: { position: 'none' }, hAxis:{baseline:0}, bar:{groupWidth:'90%'} };
	chartAveAll.draw(getAgeRangeAveEntriesTable( payload.age_range_average ), options);
	
	var chartAveMen = new google.visualization.ColumnChart(document.getElementById('aveEventsMenDiv'));
	options.title = 'Men';
	chartAveMen.draw(getAgeRangeAveEntriesTable( payload.age_range_men_average ), options);
	
	var chartAveWomen = new google.visualization.ColumnChart(document.getElementById('aveEventsWomenDiv'));
	options.title = 'Women';
	chartAveWomen.draw(getAgeRangeAveEntriesTable( payload.age_range_women_average ), options);
	
	// --------------------------------------------------------------------------------------------------
	function getAgeTable( at ) {
		var dt = new google.visualization.DataTable();
		dt.addColumn('number', 'Age');
		var rows = [];
		for( var i = 0; i < at.length; ++i )
			rows.push( [at[i]] );
		dt.addRows( rows );
		return dt;
	}
	
	var chartAll = new google.visualization.Histogram(document.getElementById('histAgeAllDiv'));
	var options = { title: 'All', legend: { position: 'none' }, histogram: { bucketSize: 5 } };
	chartAll.draw(getAgeTable(payload.license_holder_profile), options);
	
	var chartMen = new google.visualization.Histogram(document.getElementById('histAgeMenDiv'));
	options.title = 'Men';
	chartMen.draw(getAgeTable(payload.license_holder_men_profile), options);

	var chartWomen = new google.visualization.Histogram(document.getElementById('histAgeWomenDiv'));
	options.title = 'Women';
	chartWomen.draw(getAgeTable(payload.license_holder_women_profile), options);

	// --------------------------------------------------------------------------------------------------
	var statsData = new google.visualization.DataTable();
	statsData.addColumn('string', 'Gender');
	statsData.addColumn('number', 'Total Entries');
	statsData.addColumn('number', 'LicenseHolders');
	statsData.addColumn('number', 'Ave. Entries per LicenseHolder');
	statsData.addColumn('number', 'Expected Age');
	{% with p=payload %}
	statsData.addRows([
		[
			'All',
			{{p.participants_total}},
			{{p.license_holders_total}},
			formatFloat({{p.events_average}}),
			{{p.expected_age}}
		],
		[
			'Men',
			{{p.participants_men_total}},
			{{p.license_holders_men_total}},
			formatFloat({{p.events_men_average}}),
			{{p.expected_men_age}}
		],
		[
			'Women',
			{{p.participants_women_total}},
			{{p.license_holders_women_total}},
			formatFloat({{p.events_women_average}}),
			{{p.expected_women_age}}
		],
	]);
	var statsTable = new google.visualization.Table(document.getElementById('statsTableDiv'));
	statsTable.draw(statsData, {showRowNumber: false, sort:'disable'});
	{% endwith %}
	
	// ---------------------------------------------------------
	var overallCategoriesChart = new google.visualization.ColumnChart(document.getElementById("overallCategoriesChartDiv"));
	for( var i = 0; i < payload.category_count.length; ++i )
		payload.category_count[i][1] = formatIntPercent(payload.category_count[i][1], payload.participants_total);
	overallCategoriesChart.draw(
		google.visualization.arrayToDataTable(payload.category_count),
		{title:'Participation by Category', bar: { groupWidth: '75%' }, legend: {position: 'none'}}
	);
	
	// ---------------------------------------------------------
	//var personaTable = new google.visualization.Table(document.getElementById('personasTableDiv'));
	//personaTable.draw(
	//	google.visualization.arrayToDataTable(payload.personas),
	//	{showRowNumber: true}
	//);
	
	// ---------------------------------------------------------
	var compChartData = new google.visualization.DataTable();
	compChartData.addColumn('string', 'Competition');
	compChartData.addColumn('number', 'Men');
	compChartData.addColumn('number', 'Women');
	var rows = [];
	var competitions = payload.competitions;
	for( var iCompetition = 0; iCompetition < competitions.length; ++iCompetition ) {
		var competition = competitions[iCompetition];
		rows.push( [competition.name, competition.men, competition.women] );
	}
	compChartData.addRows( rows );
	var compChart = new google.visualization.ColumnChart(document.getElementById("compChartDiv"));
	compChart.draw(compChartData, {title:'Participation by Gender', bar: { groupWidth: '75%' }, isStacked: true, legend: {position: 'top'}} );
	
	var compCategoryChart = new google.visualization.ColumnChart(document.getElementById("compCategoryChartDiv"));
	compCategoryChart.draw(google.visualization.arrayToDataTable(payload.category_competition_count),
		{title:'Participation by Category', bar: { groupWidth: '75%' }, isStacked: true, legend: {position: 'top'}} );
	
	// ---------------------------------------------------------
	var compData = new google.visualization.DataTable();
	compData.addColumn('string', 'Competition');
	compData.addColumn('string', 'Start Date');
	compData.addColumn('string', 'Events');
	compData.addColumn('number', 'Men');
	compData.addColumn('number', 'Women');
	compData.addColumn('number', 'Total');
	compData.addColumn('number', 'Grand Total');
	var rows = [];
	var competitions = payload.competitions;
	var blankNum = {v:0,f:''};
	for( var iCompetition = 0; iCompetition < competitions.length; ++iCompetition ) {
		var competition = competitions[iCompetition];
		rows.push( [competition.name, competition.start_date, '', blankNum, blankNum, blankNum, blankNum] );
		for( var iEvent = 0; iEvent < competition.events.length; ++iEvent ) {
			var event = competition.events[iEvent];
			rows.push( ['', '', event.name, event.men, event.women, event.total, blankNum] );
		}
		rows.push( ['', '', '', competition.men, competition.women, blankNum, competition.total] );
	}
	rows.push( ['', '', '', blankNum, blankNum, blankNum, {{payload.participants_total}}] );
	compData.addRows( rows );
	var compTable = new google.visualization.Table(document.getElementById('compTableDiv'));
	compTable.draw(compData, {showRowNumber: false, alternatingRowStyle:false, sort:'disable'});
}
 </script>
{% endblock srcjavascript %}
{% block content %}
{% load i18n %}
{% load crispy_forms_tags %}
<h1>{{title}}</h1>
<hr/>
{% crispy form %}
<hr/>
<p>
<h2>Overall</h2>
<div class="container"/>
	<div class="row">
		<div class="col-md-4">
			<div id="entriesDiv" style="width: 400px; height: 300px;"></div>
		</div>
		<div class="col-md-4">
			<div id="licenseHoldersDiv" style="width: 400px; height: 300px;"></div>
		</div>
		<div class="col-md-4">
			<div id="aveEntriesDiv" style="width: 400px; height: 300px;"></div>
		</div>
	</div>
</div>
<div id='overallCategoriesChartDiv' style="width: 1300px; height: 500px;"></div>
</p>

<p>
<h3>Event Participation by Age Profile<h3>
<div class="container"/>
	<div class="row">
		<div class="col-md-4">
			<div id="histAllDiv" style="width: 400px; height: 300px;"></div>
		</div>
		<div class="col-md-4">
			<div id="histMenDiv" style="width: 400px; height: 300px;"></div>
		</div>
		<div class="col-md-4">
			<div id="histWomenDiv" style="width: 400px; height: 300px;"></div>
		</div>
	</div>
</div>
</p>

<p>
<h3>Average Entries by Age<h3>
<div class="container"/>
	<div class="row">
		<div class="col-md-4">
			<div id="aveEventsAllDiv" style="width: 400px; height: 300px;"></div>
		</div>
		<div class="col-md-4">
			<div id="aveEventsMenDiv" style="width: 400px; height: 300px;"></div>
		</div>
		<div class="col-md-4">
			<div id="aveEventsWomenDiv" style="width: 400px; height: 300px;"></div>
		</div>
	</div>
</div>
</p>

<p>
<h3>Participating License Holder Age Profile (as of {{payload.profile_year}})<h3>
<div class="container"/>
	<div class="row">
		<div class="col-md-4">
			<div id="histAgeAllDiv" style="width: 400px; height: 300px;"></div>
		</div>
		<div class="col-md-4">
			<div id="histAgeMenDiv" style="width: 400px; height: 300px;"></div>
		</div>
		<div class="col-md-4">
			<div id="histAgeWomenDiv" style="width: 400px; height: 300px;"></div>
		</div>
	</div>
</div>
</p>

<p>
<h2 class="page-break-before">Competitions</h2>
<div id='compChartDiv'style="width: 1300px; height: 500px;"></div>
<div id='compCategoryChartDiv'style="width: 1300px; height: 500px;"></div>
<hr/>
<div class="page-break-before" id='statsTableDiv'></div>
<hr/>
<div id='compTableDiv' class="page-break-before"></div>
</p>

{% endblock content %}
