{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% load i18n %}
{% block content %}

<script>
function hideShowTeam( i ) {
	for( var j = 1; ; ++j ) {
		var div = document.getElementById( 'idTeam' + j );
		if( !div )
			break;
		if( i == 0 )
			div.classList.remove( 'hidden' );
		else if( i == j )
			div.classList.remove( 'hidden' );
		else
			div.classList.add( 'hidden' );
		document.getElementById( 'idSelect' + j ).classList.remove( 'active' );
	}
	document.getElementById( 'idSelect0' ).classList.remove( 'active' );
	document.getElementById( 'idSelect' + i ).classList.add( 'active' );
}
</script>

<style>
.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}
.rider-name {
	font-size: 120%;
	font-weight: bold;
}
</style>
<h2>{% trans "Teams"%}: {{competition.name}}: {{competition.start_date}}</h2>
<div class="hidden-print">
	<hr/>
	<ul class="nav nav-pills">
		<li role="presentation" class="active" id="idSelect0"><a href="#" onclick="hideShowTeam(0)">{% trans "All" %}</a></li>
		{% for ti in team_info %}
			<li role="presentation" id="idSelect{{forloop.counter}}" href="#" onclick="hideShowTeam({{forloop.counter}})"><a>{{ti.team_name}}<sup>&nbsp;{{ti.competitor_count}}</sup></a></li>
		{% endfor %}
	</ul>
	<hr/>
</div>
{% spaceless %}
{% for ti in team_info %}
	<div class="panel panel-info" id="idTeam{{forloop.counter}}">
		<div class="panel-heading">
			<h3><a class="btn btn-primary btn-md" href="./TeamEdit/{{ti.team.id}}">{{ti.team_name}}</a>&nbsp;<span style="font-size:75%">{{ti.team.get_team_type_display}}, {{ti.team.team_code}}, {{ti.team.nation_code}}, {{ti.team.contact}}, <strong> {% trans "Starters" %}:&nbsp;{{ti.competitor_count}}</strong></span></h3>
		</div>
		<div class="panel-body">
			<ul>
			{% for p in ti.staff %}
				{% with h=p.license_holder %}
					<li>{{p.get_role_display}}: <span style="font-size: 120%; font-weight: bold;">{{h.first_name}} {{h.last_name}}</span>, <a href="mailto:{{h.email}}">{{h.email}}</a>, <a href="tel:{{h.phone}}">{{h.phone}}</a>
					&nbsp;&nbsp;&nbsp;<a class="btn btn-success btn-sm" href="./ParticipantEdit/{{p.id}}/">{% trans "Edit" %}</a>
					</li>
				{% endwith %}
			{% empty %}
					<li style="font-size: 120%; font-weight: bold;">&lt;&lt;{% trans "No staff" %}&gt;&gt;</li>
			{% endfor %}
			</ul>
			<table class="table table-condensed table-hover borderless">
				{% for p in ti.competitors %}
					{% if p.different_category %}
						<tr><td>&nbsp;</td></tr>
					{% endif %}
					<tr onclick="jump('./ParticipantEdit/{{p.id}}/')");>
					<td class="text-right">{% if p.bib %}{{p.bib}}{% else %}{% trans 'NoBib' %}{% endif %}</td>
					{% with h=p.license_holder %}
						<td><span class="rider-name">{{h.last_name}}, {{h.first_name}}</span></td>
						<td>{% if p.category %}{{p.category.code_gender}}{% endif %}</td>
						<td class="text-nowap">{{h.get_flag_uci_id_html}}</td>
						<td>{{h.license_code_trunc}}</td>
						<td class="hidden-print">
							<a class="btn btn-success btn-sm" href="./ParticipantEdit/{{p.id}}/">{% trans "Edit" %}</a>
						</td>
					{% endwith %}
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endfor %}
{% endspaceless %}
{% endblock content %}
