{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load good_bad_icon %}

{% block content %}
<h2>{{title}}</h2>
<hr/>
<form method="post" action=".">
{% csrf_token %}
{{ form_set.management_form }}
<button type="submit" name="import-submit" class="btn btn-success">{% trans "Merge Selected Teams" %}</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a class="btn btn-primary" href="{{cancelUrl}}">{% trans "Cancel" %}</a>
<hr/>
<table class="table table-striped table-hover table-compressed" style="width: auto">
	<thead>
		<tr><th></th></th>{% for h in headers %}<th>{{h}}</th>{% endfor %}</tr>
	</thead>
	<tbody>
		{% for form in form_set %}
			<tr><td class="text-right">{{forloop.counter}}.</td>{{form.as_table}}</tr>
		{% endfor %}
	</tbody>
</table>
</form>
{% endblock content %}
