{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load good_bad_icon %}
{% load good_err_icon %}
{% load crispy_forms_tags %}

{% block content %}
<h2>{{title}}</h2>
<hr class="hidden-print"/>
{% crispy form %}
{% include "show_count.html" %}
{% with is_superuser=request.user.is_superuser %}
{% spaceless %}
<table class="table table-striped table-hover table-condensed">
<thead>
	<tr>
		<th></th>
		<th>{% trans "Name" %}</th>
		<th>{% trans "Team Code" %}</th>
		<th>{% trans "Team Type" %}</th>
		<th>{% trans "Nation Code" %}</th>
		<th>{% trans "Active" %}</th>
		<th>{% trans "# Members" %}</th>
		<th class="hidden-print"></th>
	</tr>
</thead>
<tbody>
	{% for t in teams %}
		<tr onclick="jump('./TeamEdit/{{t.id}}/');">
			<td class="text-right">{{forloop.counter}}.</td>
			<td>{{t.name}}</td>
			<td>{{t.team_code}}</td>
			<td>{{t.get_team_type_display}}</td>
			<td>{{t.nation_code}}</td>
			<td>{{t.active|good_err_icon}}</td>
			<td class="text-center">{{t.license_holder_count}}</td>
			<td class="hidden-print">
				<a class="btn btn-warning" href="./TeamDelete/{{t.id}}/">{% trans "Delete" %}</a>
				&nbsp;
				<a class="btn btn-success" href="./TeamEdit/{{t.id}}/">{% trans "Edit" %}</a>
			</td>
		</tr>
		{% if forloop.last %}<script>set_show_count( {{forloop.counter}} );</script>{% endif %}
	{% endfor %}
</tbody>
</table>
{% endspaceless %}
{% endwith %}
({% trans "maximum 500 results shown" %})
{% endblock content %}
