{% extends "base.html" %}

{% block content %}
{% load date_fmt %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% with late_reg_exists=instance.get_late_reg_exists %}
<h2 class="hidden-print">{{title}}</h2>
{% trans "Generated" %}: {{time_stamp|date_hhmmss}}
<h2><strong>{{instance.competition.title}}</strong></h2>
<h2><strong>{{instance.name}}</strong>: {{instance.date_time|date_hhmm}}</h2>
<br/>
<h4>
{% trans "Nations" %}: {{instance.get_num_nationalities}},
{% trans "Starters" %}: {{instance.get_participant_count}}
</h4>
{% with bsc=instance.get_bad_start_count %}
	{% if bsc > 0 %}
		<div class="alert alert-danger" role="alert">
			<h4>
				{% trans "Starters Missing Critical Information" %}: {{instance.get_bad_start_count}}<br/>
				{% trans "Make sure to check all entries before starting." %}
			</h4>
		</div>
	{% endif %}
{% endwith %}
<div class="hidden-print">
<hr/>
<button class="btn btn-primary" id="focus" onclick="window.print();"><img src="{% static "images/glyphicons_015_print.png" %}" >&nbsp;&nbsp;{% trans "Print" %}</button>
{% if instance.create_seeded_startlist %}
	&nbsp;&nbsp;&nbsp;&nbsp;
	<a class="btn btn-success" href="./SeedingEdit/{{instance.id}}/">{% trans "Edit Seeding" %}</a>
{% endif %}
&nbsp;&nbsp;&nbsp;&nbsp;
{% if request.user.is_superuser %}
	<a class="btn btn-primary" href="./StartListEmails/{{instance.id}}/{{instance.event_type}}">{% trans "Emails" %}</a>
{% endif %}
<a class="btn btn-primary" href="./StartListExcelDownload/{{instance.id}}/{{instance.event_type}}">{% trans "Export to Excel" %}</a>
<a class="btn btn-primary" href="./UCIExcelDownload/{{instance.id}}/{{instance.event_type}}">{% trans "Export as UCI DataRide Excel" %}</a>
<a class="btn btn-primary" href="{{cancelUrl}}">{% trans "OK" %}</a>
<hr/>
</div>
{% with unseeded_count=instance.get_unseeded_count %}
	{% if unseeded_count > 0 %}
		<div class="alert alert-danger">
			<strong>{% trans "Warning" %}!</strong><br/>
			{% trans "There are " %} <strong>{{unseeded_count}}</strong> {% trans "participant(s) with no start times." %}
			<br class="hidden-print"/>
			<span class="hidden-print">{% trans "Press 'Edit Seeding' to Regenerate and Edit start times before starting the event." %}</span>
		</div>
	{% endif %}
{% endwith %}
<h3 class="visible-print">{% trans "Waves" %}</h3>
{% spaceless %}
<table class="table table-striped table-hover">
<thead>
	<tr>
		<th></th>
		<th>{% trans "Wave" %}</th>
		<th class="text-center">{% trans "Bad Starts" %}</th>
		<th>{% trans "Details" %}</th>
		<th>{% trans "Categories" %}</th>
		<th class="text-center">{% trans "Nations" %}</th>
		<th class="text-center">{% trans "Starters" %}</th>
		{% if late_reg_exists %}<th class="text-center hidden-print">{% trans "Late Reg" %}</th>{% endif %}
		<th class="hidden-print"></th>
	</tr>
</thead>
<tbody>
	{% for w in wave_tts %}
		<tr onclick="jump('./WaveTTEdit/{{w.id}}/');">
			<td class="text-right">{{forloop.counter}}.</td>
			<td>{{w.name}}</td>
			<td class="text-center">{{w.get_bad_start_count}}</td>
			<td>{{w.get_details_html|safe}}</td>
			<td>{{w.category_text}}</td>
			<td class="text-center">{{w.get_num_nationalities}}</td>
			<td class="text-center">{{w.get_starters_str}}</td>
			{% if late_reg_exists %}<td class="text-center hidden-print">{{w.get_late_reg_count}}</td>{% endif %}
			<td class="hidden-print">
				{% if request.user.is_superuser %}
					<a class="btn btn-success btn-xs" href="./WaveTTEdit/{{w.id}}/">{% trans "Edit" %}</a>
				{% endif %}
			</td>
		</tr>
	{% endfor %}
</tbody>
</table>
{% endspaceless %}
{% spaceless %}
<div class="hidden-print">
{% with duplicate_bibs=instance.get_duplicate_bibs %}
	{% if duplicate_bibs %}
		<hr/>
		<h2>{% trans "Duplicate Bib Numbers:" %}</h2>
		{% for db in duplicate_bibs %}
			{{db}}<br/>
		{% endfor %}
	{% endif %}
{% endwith %}
</div>
{% endspaceless %}
<style>
	table.participant_table tr td.start-time {
		font-weight: bold;
	}
	table.participant_table tr td.clock-time {
		white-space: nowrap;
	}
	.gap-change {
		border-top: 3px solid #000;
	}
	.gap-change-inc {
		border-top: 2px solid #006400;
	}
	.gap-change-dec {
		border-top: 2px solid #640000;
	}
</style>

<h3 class="visible-print page-break-before">
	<strong>{{instance.competition.title}}, {{instance.name}}</strong><br/>{{instance.date_time|date_hhmm}}
</h3>
<h4 class="visible-print">
	{% if instance.competition.description %}{{instance.competition.description}}, {% endif %}
	{{instance.competition.category_format.name}}
</h4>
<h4 class="visible-print">&nbsp;</h4>
<h3>{% trans "Start List" %}</h3>
{% spaceless %}
<table class="table table-striped table-hover table-condensed participant_table">
<thead>
	<tr>
		<th></th>
		<th class="text-center">{% trans "Clock" %}</th>
		<th class="text-center">{% trans "Stopwatch" %}</th>
		<th>{% trans "Bib" %}</th>
		<th>{% trans "Name" %}</th>
		<th>{% trans "Team" %}</th>
		<th>{% trans "Category" %}</th>
		<th class="text-nowrap">{% trans "UCI ID" %}</th>
		<th class="hidden-print"></th>
	</tr>
</thead>
<tbody>
{% for p in instance.get_participants_seeded %}
	{% with h=p.license_holder %}
	<tr onclick="jump('./ParticipantEdit/{{p.id}}/');" {% if p.gap_change > 0 %}class="gap-change-inc"{% elif p.gap_change < 0%}class="gap-change-dec"{% endif %}>
		<td class="text-right">{% if not p.can_start %}<img src="{% static "images/error.png" %}" style="width:20px;height:20px;"/>&nbsp;&nbsp;{% endif %}{{forloop.counter}}.</td>
		<td class="text-right clock-time">{% if p.clock_time %}{{p.clock_time | time:"H:i:s"}}{% else %}{% trans "None" %}{% endif %}</td>
		<td class="text-right start-time">{% if p.start_time %}{{p.start_time}}{% else %}{% trans "None" %}{% endif %}</td>
		<td>{% if p.bib %}{{p.bib}}{% endif %}</td>
		<td>{{p.license_holder.full_name}}</td>
		<td>{{p.team_name}}</td>
		<td>{% if p.category %}{{p.category.code_gender}}{% endif %}</td>
		<td class="text-nowrap">{{h.get_flag_uci_id_html}}</td>
		<td class="hidden-print">
			<a class="btn btn-warning btn-xs" href="./ParticipantRemove/{{p.id}}/">{% trans "Remove" %}</a>
			&nbsp;&nbsp;
			<a class="btn btn-success btn-xs" href="./ParticipantEdit/{{p.id}}/">{% trans "Edit" %}</a>
		</td>
	</tr>
	{% endwith %}
{% endfor %}
</tbody>
</table>
{% endspaceless %}
{% endwith %}
{% endblock content %}
