{% extends "base.html" %}
{% load static %}
{% block onload %}
	$( "form" ).submit(function( event ) {
		setTimeout( function() { $('#loader-circle').removeClass('hidden'); }, 3000 );
	});
{% endblock onload %}
{% block content %}
{% load i18n %}
{% load crispy_forms_tags %}
<style>
#id_excel_file { width: 600px; }
</style>
<h2>{{title}}</h2>
<h2>{{competition.name}}, {{competition.date_range_str}}: {{ranking.name}}</h2>
<hr/>
{% crispy form %}
<hr/>
<p class="text-center">
&nbsp;<img id='loader-circle' class='hidden' src="{% static "images/loader_circle.gif" %}"</img>&nbsp;
</p>
{% if results_str %}
<pre>{{results_str}}</pre>
{% endif %}
<p>
<h3>Import a Ranking into this Competition from an Excel spreadsheet.</h3>
<p>
<p>
The spreadsheet must have a specific format:
<ul>
<li>The Ranking data <strong>must</strong> be the first Sheet of the spreadsheet</li>
<li>The first Row of the sheet must be a <strong>Header Row</strong>.</li>
<li>The Header Row must contain a <strong>Rank</strong> column.</li>
<li>The Header Row must contain a <strong>UCI ID</strong> column and/or a <strong>License Code</strong> column.</li>
<li>A Points header row is also accepted.</li>
<li>Other header columns are ignored.</li>
<li>Capitalization in the Header Row is ignored (RANK=rank=Rank).  Underscores '_' are treated as spaces.</li>
<li>Common header names are accepted (for example: Pos=Rank).</li>
</ul>
</p>
<table class="table">
<thead>
<tr>
	<th>Column</th>
	<th>Aliases</th>
	<td>Required</td>
	<th>Description</th>
</tr>
</thead>
<tbody>
{% for field, aliases, optional, description in column_info %}
<tr>
	<td>{{field}}</td>
	<td>{{aliases|join:" | "}}</td>
	<td>{% if optional %}Optional{% else %}Required{% endif %}</td>
	<td>{{description}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</p>
<p>
	<strong>Note:</strong> At least one of the <strong>UCI ID</strong> or the <strong>License Code</strong> must be set.
</p>
<hr>
{% spaceless %}
<table class="table table-striped table-hover table-condensed">
<thead>
	<tr>
		<th></th>
		<th>{% trans "UCI ID" %}</th>
		<th>{% trans "License Code" %}</th>
		<th class="text-right">{% trans "Rank" %}</th>
		<th class="text-right">{% trans "Points" %}</th>
	</tr>
</thead>
<tbody>
	{% for re in ranking_entries %}
	<tr>
		<td class="text-right">{{forloop.counter}}.</td>
		<td>{{re.uci_id|default:""}}</td>
		<td>{{re.license_code|default:""}}</td>
		<td class="text-right">{{re.rank}}</td>
		<td class="text-right">{% if re.points %}{{re.points|floatformat:"-2"}}{% endif %}</td>
	</tr>
	{% endfor %}
</tbody>
</table>
{% endspaceless %}

{% endblock content %}
