{% extends "base.html" %}
{% load staticfiles %}
{% block onload %}
	$( "form" ).submit(function( event ) {
		setTimeout( function() { $('#loader-circle').removeClass('hidden'); }, 3000 );
	});
{% endblock onload %}
{% block content %}
{% load i18n %}
{% load crispy_forms_tags %}
<style>
#id_excel_file { width: 600px; }
</style>
<h2>{{title}}</h2>
<h2>{{competition.name}}, {{competition.date_range_str}}</h2>
<hr/>
{% crispy form %}
<hr/>
<p class="text-center">
&nbsp;<img id='loader-circle' class='hidden' src="{% static "images/loader_circle.gif" %}"</img>&nbsp;
</p>
{% if results_str %}
<pre>{{results_str}}</pre>
{% endif %}
<p>
<h3>Import pre-registered riders into this Competition from an Excel spreadsheet.</h3>
<p>
Adds or Updates Participants for this Competition.  Also adds Participants to Optional Events.
</p>
<p>
The Excel spreadsheet can be as simple as one column of the License numbers you want added to the Competition.
<br/>
In this simplest case, License Holders will be matched by the License code and added to the Competition.  License Holders would be expected to be present in the database already, having been imported with init_usac, init,_ccn, init_oca, etc.
</p>
<p>
Additional fields are used if the License code <strong>does not match</strong> an existing License Holder.
The additional information is used to create a basic License Holder record - full information about the License Holder record can be updated in-person on site at race check-in.
</p>
<p>
You can also include or exclude License Holders from optional events.
</p>
<p>
The spreadsheet must have a specific format:
<ul>
<li>The prereg data <strong>must</strong> be the first Sheet of the spreadsheet</li>
<li>The first Row of the sheet must be a <strong>Header Row</strong>.</li>
<li>The Header Row must contain a <strong>License</strong> column.</li>
<li>The sheet can include some, or all, of addition Participant information column headers (see below).</li>
<li>The Header Row can also contain the names of Optional Events for the Competition.  True/False values in these columns specifies whether the Licence Holder is participating in this Event, and will override the Event's default.
<li>Other header columns are ignored.</li>
</ul>
</p>
<p>
Prereg data is intended to match pre-existing <strong>License Holders</strong> in the database.
<ul>
<li>If the <strong>License</strong> matches an existing License Holder, all other data fields are ignored (LastName, FirstName, Gender and Date of Birth).</li>
<li>If the <strong>License</strong> does not match an existing License Holder, a basic  License Holder record is created using the <strong>License</strong> and the data fields (LastName, FirstName, Gender, Date of Birth).</li>
<li>If the <strong>License</strong> field is blank, or "TEMP":
	<ul>
	<li>RaceDB attempts to find the License Holder based on an exact match of the <strong>First Name</strong> and <strong>Last Name</strong>.</li>
	<li>If that fails, RaceDB creates a unique, temporary License code, and then creates a License Holder using the data fields (LastName, FirstName, Gender, Date of Birth)</li>
	</ul>
</ul>
</p>
<p>
The same prereg data sheet can be imported into the same Competition any number of times without problems, and will not lead to duplicate entries.
</p>
<table class="table">
<thead>
<tr><th>Column</th><th>Description</th></tr>
</thead>
<tbody>
<tr><td><strong>License</strong> or <strong>License Code</strong> or <strong>License Numbers</strong></td><td>Required.  Regional License code (<strong>not UCI code</strong>).</td></tr>
<tr><td><strong>LastName</strong> or <strong>Last Name</strong></td><td>Optional data field.  Rider's Last name.</td></tr>
<tr><td><strong>FirstName</strong> or <strong>First Name</strong></td><td>Optional data field.  Rider's First name.</td></tr>
<tr><td><strong>Gender</strong></td><td>Optional data field.  Riders Gender (Men/Women).  Read as <strong>Women</strong> if the cell value's first character is 'w', 'W', 'f' or 'F'.  If the field has a value of anything else it is read as <strong>Men</strong>.  A blank field is read as "No Gender".</td></tr>
<tr><td><strong>Date of Birth</strong> or <strong>DOB</strong></td><td>Optional data field.  The rider's birthday as an Excel date.</td></tr>
<tr><td><strong>Team</strong></td><td>Optional data field.  Rider's Team.  The Team must already be defined in the database.</td></tr>
<tr><td><strong>Category</strong></td><td>Optional data field.  Rider's Category for this race.  The field must match the Category Code of a Category in the Competition's Category Format.</td></tr>
<tr><td><strong>Preregistered</strong></td><td>Optional.  Sets the rider's preregistered flag.  Default is True. **</td></tr>
<tr><td><strong>Paid</strong></td><td>Optional.  Indicates that the rider has paid.  Default is False. **</td></tr>
<tr><td><strong>Bib</strong></td><td>Optional.  Bib number for the rider.  Bib numbers can also be assigned from RaceDB beforehand, or given out on race day on-the-fly.  Not required if using <strong>Number Sets</strong>.</td></tr>
<tr><td><strong>Tag</strong> or <strong>Chip</strong></td><td>Optional.  RFID tag for the rider.  Not required if auto-generated tags or if re-using existing tags.</td></tr>
<tr><td><strong>Note</strong></td><td>Optional.  Sets the Participant Note field to this value.</td></tr>
<tr><td><strong>Email</strong></td><td>Optional.  Participant's email.</td></tr>
<tr><td><strong>Phone</strong></td><td>Optional.  Participant's phone number.</td></tr>
<tr><td><strong>City</strong></td><td>Optional.  Participant's city.</td></tr>
<tr><td><strong>State</strong> or <strong>Prov</strong> or <strong>StateProv</strong></td><td>Optional.  Participant's state/prov.</td></tr>
<tr><td><strong>ZipPostal</strong> or <strong>Zip</strong> or <strong>Postal</strong></td><td>Optional.  Participant's zip/postal code.</td></tr>
<tr><td><strong>Emergency Contact</strong></td><td>Optional.  Name of emergency contact.</td></tr>
<tr><td><strong>Emergency Phone</strong></td><td>Optional.  Phone number of emergency contact.</td></tr>
<tr><td><strong>Optional Event Names</strong></td><td>Optional.  Indicates whether the License Holder is participating in the Event, which must be an Optional Event of the Competition.  This overrides the opt-in/opt-out option of the Event, however, Participants can only be added to the Event if their Category allows.  **.</td></tr>
</tbody>
</table>
</p>
<p>
** The cell value is considered True if the value's first character is any of 't', 'T', 'y', 'Y', 1 or TRUE.  Otherwise False.
</p>
<h3>Example Headers:</h3>
<p>
<ul>
<li><strong>License</strong></li>
<li><strong>License, First Name, Last Name, Gender, DOB, Road Race, Time Trial, Sprint Challenge</strong> where Road Race, Time Trial and Sprint Challenge are optional Events.  Riders who do not have a License Holder record will have a TEMP one created.</li>
</ul>
</p>
{% endblock content %}
